<label class="FormRow FormRow--narrow cf">
  <span class="Icon Icon--formRow Icon--location AddressLookup-postcodeRow">
    <input name="postcode" type="text" ng-model="model.postcode" class="FormRow-field--full" placeholder="Postcode" ng-enter="findAddress()">
    <button type="button" class="AddressLookup-search" name="find-address" ng-click="findAddress()">Find Address</button>
  </span>
</label>

<label class="FormRow FormRow--narrow cf">
  <span class="Icon Icon--formRow Icon--address">
    <textarea name="street" type="text" ng-model="model.street" class="FormRow-field--full" placeholder="Address" rows="6"></textarea>
  </span>
</label>
