<div class="FeedbackPopover" ng-show="isPopoverVisible">
  <h2 class="FeedbackPopover-heading">Send your feedback</h2>
  <form ng-submit="submit(feedback_frm)" name="feedback_frm">
    <span class="Error-message" ng-if="feedback_frm.$error.server">
      There was a problem sending your feedback. Please try again later.
    </span>

    <div class="FormRow cf">
      <label for="id_feedback-type" class="visuallyhidden">Type of feedback</label>
      <select id="id_feedback-type" ng-model="feedbackType" ng-options="option for option in feedbackTypes"></select>
    </div>

    <div class="FormRow cf">
      <label for="id_comments" class="visuallyhidden">Your comment</label>
      <textarea name="comments" id="id_comments" cols="30" rows="10" ng-model="comments" placeholder="Your feedback" required></textarea>
    </div>

    <div class="FormActions">
      <button type="submit" name="send-feedback" class="Button">Send feedback</button>
      <a href="" ng-click="close()">Cancel</a>
    </div>
  </form>
</div>
