<div class="Guidance-searchContainer">
  <form ng-submit="search()" class="Guidance-search">
    <div class="FormRow cf">
      <input type="text" name="query" placeholder="Search guidance" ng-model="guidance.query" class="Guidance-query FormRow-field--full" ng-focus="toggleResults(true)" autocomplete="off" />
      <button class="Search-submit" type="submit">Search</button>
    </div>
  </form>

  <div class="Guidance-resultContainer" ng-show="show_results">
    <ul class="Guidance-results" ng-show="results.length > 0">
      <li class="Guidance-resultItem" ng-repeat="result in results">
        <a href="" ng-click="addDoc(result.ref)">{{ result.title }}</a>
      </li>
    </ul>
    <p class="Guidance-noResults" ng-show="no_results">There are no guidance documents matching your query</p>
  </div>
</div>

<guidance-item content="htmlDoc" ref="docRef"></guidance-item>
