<div ng-hide="!show_guidance">

  <div class="Guidance-searchContainer">
    <form ng-submit="search()" class="Guidance-search">
      <div class="FormRow cf">
        <input type="text" name="query" placeholder="Search guidance" ng-model="guidance.query" class="FormRow-field--full" ng-focus="toggleResults(true)" />
        <button class="Search-submit" type="submit">Search</button>
      </div>
    
      <div class="Guidance-resultContainer" ng-show="show_results">
        <ul class="Guidance-results" ng-show="results">
          <li class="Guidance-resultItem" ng-repeat="result in results">
            <a href="" ng-click="addDoc(result.ref)">{{ result.title }}</a>
          </li>
        </ul>
      </div>
    </form>
  </div>

  <guidance-item content="htmlDoc" ref="docRef"></guidance-item>
</div>