<label>
  <span class="FormRow-label">
    <span ng-bind-html="miLabel"></span> <guidance-link doc="{{guidanceLink}}" ng-if="guidanceLink"></guidance-link>
  </span>

  <span class="FormRow-prefix">£</span>

  <input cla-pence-to-pounds max="2500000" min="0" step="0.01" type="number" ng-model="per_interval_value" name="{{ name }}">

  <select class="FormRow-field--interval" ng-model="interval_period">
    <option value="per_week">per week</option>
    <option value="per_2week">2 weekly</option>
    <option value="per_4week">4 weekly</option>
    <option value="per_month">per month</option>
    <option value="per_year">per year</option>
  </select>
</label>
