<div class="multiSelect inlineBlock">
  <div class="multiSelectSelected" ng-click="toggleCheckboxes( $event ); refreshSelectedItems(); refreshButton();" ng-bind-html="varButtonLabel">
  </div>
  <div class="checkboxLayer">
    <form>
      <div class="helperContainer" ng-if="displayHelper( 'filter' ) || displayHelper( 'all' ) || displayHelper( 'none' ) || displayHelper( 'reset' )">
        <div class="line" ng-if="displayHelper( 'all' ) || displayHelper( 'none' ) || displayHelper( 'reset' )">
          <button type="button" ng-click="select( 'all',   $event );" class="helperButton" ng-if="!isDisabled && displayHelper( 'all' )">&#10003; Select All</button>
          <button type="button" ng-click="select( 'none',  $event );" class="helperButton" ng-if="!isDisabled && displayHelper( 'none' )">&times; Select None</button>
          <button type="button" ng-click="select( 'reset', $event );" class="helperButton" ng-if="!isDisabled && displayHelper( 'reset' )" style="float:right">&#8630; Reset</button>
        </div>
        <div class="cf" style="position:relative" ng-if="displayHelper( 'filter' )">
          <input placeholder="Search..." type="text" ng-click="select( 'filter', $event )" ng-model="inputLabel.labelFilter" ng-change="updateFilter();$scope.getFormElements();" class="inputFilter" />
          <button type="button" class="clearButton" ng-click="inputLabel.labelFilter='';updateFilter();prepareGrouping();prepareIndex();select( 'clear', $event )">&times;</button>
        </div>
      </div>
      <div class="checkBoxContainer" style="{{setHeight();}}">
        <div ng-repeat="item in filteredModel | filter:removeGroupEndMarker" class="multiSelectItem" ng-class="{selected: item[ tickProperty ], horizontal: orientationH, vertical: orientationV, multiSelectGroup:item[ groupProperty ], disabled:itemIsDisabled( item )}" ng-click="syncItems( item, $event, $index );" ng-mouseleave="removeFocusStyle( tabIndex );">
          <div class="acol" ng-if="item[ spacingProperty ] > 0" ng-repeat="i in numberToArray( item[ spacingProperty ] ) track by $index">&nbsp;</div>
          <div class="acol">
            <label>
              <input class="checkbox focusable" type="checkbox" ng-disabled="itemIsDisabled( item )" ng-checked="item[ tickProperty ]" ng-click="syncItems( item, $event, $index )" />
              <span ng-class="{disabled:itemIsDisabled( item )}" ng-bind-html="writeLabel( item, 'itemLabel' )"></span>
            </label>
          </div>
          <span class="tickMark" ng-if="item[ groupProperty ] !== true && item[ tickProperty ] === true">&#10004;</span>
        </div>
      </div>
      <form>
  </div>
</div>
