<form method="post" ng-submit="save()" name="notesFrm">
  <div class="FormRow cf Notes" ng-class="{'Error': notesFrm.notes.$invalid}">
    <a href="" notes-history="{{ case.reference }}" history-type="{{ type }}" summary="true" class="Notes-history"></a>

    <!-- error messages -->
    <ul class="ErrorSummary-list" ng-messages="notesFrm.notes.$error">
      <li class="ErrorSummary-listItem" ng-message="server">{{ errors.notes }}</li>
      <li class="ErrorSummary-listItem" ng-message="maxlength">This field is limited to 5000 characters</li>
    </ul>

    <label class="cf">
      <span class="visuallyhidden">Case Notes</span>
      <textarea class="FormRow-field--full" name="{{ ref }}" placeholder="Comments about this case" cols="20" rows="6" ng-model="::model" ng-maxlength="5000" server-error></textarea>
    </label>
  </div>
</form>
