<div class="SafeToContact">
  <a href="" class="Icon" ng-click="showOpts=!showOpts" ng-class="iconClass()"></a>
  <div class="SafeToContact-content" ng-if="showOpts">
    <ul class="SafeToContact-list">
      <li class="SafeToContact-listItem" ng-repeat="opt in options">
        <a href="" class="SafeToContact-option Icon" ng-click="setSafe(opt.name)" ng-class="{'is-selected': person.safe_to_contact === opt.value, 'Icon--call Icon--green': opt.value === 'SAFE', 'Icon--dontcall Icon--red': opt.value !== 'SAFE'}">{{ opt.name }}</a>
      </li>
    </ul>
  </div>
</div>
