<div>
  <h3>Suspend case</h3>
</div>

<form method="post" ng-submit="save()">
  <div>
    <h4>Matter Type 1:</h4>
    <div class="FormRow FormRow--group" ng-repeat="matter_type in matter_types | filter:{level: 1}">
      <input type="radio" value="{{ matter_type.code }}" ng-model="$parent.case.matter_type1" name="matter_type1" required>{{ matter_type.code }} - {{ matter_type.description }}
    </div>
    <hr>
    <h4>Matter Type 2:</h4>
    <div class="FormRow FormRow--group" ng-repeat="matter_type in matter_types | filter:{level: 2}">
      <input type="radio" value="{{ matter_type.code }}" ng-model="$parent.case.matter_type2" name="matter_type2" required>{{ matter_type.code }} - {{ matter_type.description }}
    </div>
  </div>

  <div>
    <button class="Button" type="submit">Save</button>
    <a href="" ng-click="cancel()">Cancel</a>
  </div>
</form>