<header class="PageHeader cf">
  <h1 class="u-pullLeft">{{ case.reference }}</h1>
</header>

<form method="post" ng-submit="assign()" ng-show="suggested_providers && !!!complete">
  <h2>Suggested Provider</h2>
  <div class="FormBlock FormBlock--yellow">
    <label>
      <span class="radio">
        <input name="provider" type="radio"
               ng-model="selected_provider" ng-value="suggested_providers.suggested_provider">
        {{ suggested_providers.suggested_provider.name }}
      </span>
    </label>
    <tt></tt>
  </div>
  <h2>Manually Assign Provider</h2>

  <div class="FormBlock FormBlock--yellow" ng-repeat="provider in suggested_providers.suitable_providers | filter:{id: '!'+suggested_providers.suggested_provider.id}">
    <label>

          <span class="radio">
            <input name="provider" type="radio"
                   ng-model="$parent.selected_provider" ng-value="provider">
            {{ provider.name }}
          </span>
    </label>
  </div>

  <div class="FormBlock FormBlock--yellow">
    <button type="submit" class="Button">Assign Provider</button>
    <a ui-sref="case_detail.edit">Cancel</a>
    <a ui-sref="case_detail.edit.decline_specialists">Decline all specialists</a>
    <a ui-sref="case_detail.edit.defer_assignment">Defer assignment</a>
  </div>
</form>
<div ng-show="complete">
  <div class="ContactBlock ContactBlock--grey clearfix">
    <h2 class="ContactBlock-heading">CES</h2>

    <p>{{ selected_provider.telephone_frontdoor }} (Front door)
      <br>
      {{ selected_provider.telephone_backdoor }} (Back door)</p>

  </div>
  <ul class="Notice">
    <li class="Notice-msg">Provider phone short code <strong>{{ selected_provider.short_code }}</strong></li>
  </ul>
</div>
