<h2 ng-class="eligibilityTitleClass()">{{ eligibilityTitle() }}</h2>

<form ng-submit="save()" novalidate name="form" class="Accordion">
  <div ng-repeat="section in sections">
    <h2 class="Accordion-sectionTitle" ng-click="section.show=!section.show" ng-class="{'is-expanded': section.show, 'is-complete': isComplete(section.id)}">
      {{ section.title }}
      <span class="u-pullRight" ng-class="{'u-sortAsc u-sortAsc--lrg': section.show, 'u-sortDesc u-sortDesc--lrg': !section.show}"></span>
    </h2>

    <div id="{{ section.id }}" class="Accordion-section" ng-show="section.show" ng-include="section.template"></div>
  </div>

  <div class="FormActions FormBlock FormBlock--yellow">
    <button type="submit" class="Button" name="save-means-test">Save means test</button>
    <a ui-sref="case_detail.edit">Return to case</a>
  </div>
</form>
