<header class="PageHeader cf" ng-class="{'PageHeader--wo-search': !search}">
  <h1 class="u-pullLeft">
      {{ search ? 'Results' : 'Cases' }} {{ search }}
  </h1>
</header>
<nav class="SubNav">
      <a ui-sref="case_list({search:'', sort:''})" ng-if="search" class="SubNav-link SubNav-link--back">Back to all case_list</a>
</nav>


<table class="CaseList" cellpadding="0" cellspacing="0" border="0" width="100%">
  <thead>
  <tr>
    <th><span class="visuallyhidden">Reference</span></th>
    <th>Name</th>
    <th><a ui-sref="case_list({sort:sortToggle('created')})" ng-class="{'u-sortDesc': orderProp=='-created', 'u-sortAsc': orderProp=='created'}">Created</a></th>
    <th><a ui-sref="case_list({sort:sortToggle('modified')})" ng-class="{'u-sortDesc': orderProp=='-modified', 'u-sortAsc': orderProp=='modified'}">Modified</th>
    <th><span class="visuallyhidden">Onwer</span></th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="case in cases | orderBy:orderProp">
      <td><a ui-sref="case_detail.edit({caseref:case.reference})">{{ case.reference }}</a></td>
      <td>{{ case.personal_details.full_name }}</td>
      <td>{{ case.created  | general_date }}</td>
      <td>{{ case.modified | general_date }}</td>
      <td>{{ case.locked_by }}</td>
    </tr>
  </tbody>
</table>