nav.SubNav
  a.SubNav-link.SubNav-link--back(ui-sref="case_list({search:'', sort:''})", ng-if="search") Back to all cases
header.PageHeader.cf(ng-class="{'PageHeader--wo-search': !search}")
  h1.u-pullLeft {{ search ? 'Results' : 'Cases' }} {{ search ? '"'+search+'"' : '' }}
  form.newCaseForm(name="newCaseForm", ng-submit="addCase()")
    button#create_case.Button(type="submit") Create a case
table.CaseList(cellpadding="0", cellspacing="0", border="0", width="100%")
  thead
    tr
      th(width="23%")
        span.visuallyhidden Reference
      th Name
      th(width="17%")
        a(href="", ng-click="sortToggle('created')", ng-class="{'u-sortDesc': orderProp=='-created', 'u-sortAsc': orderProp=='created'}") Created
      th(width="17%")
        a(href="", ng-click="sortToggle('modified')", ng-class="{'u-sortDesc': orderProp=='-modified', 'u-sortAsc': orderProp=='modified'}") Modified
      th(width="10%")
        span.visuallyhidden Owner
  tbody
    tr(dir-paginate="case in cases.results | itemsPerPage: 20", total-items="cases.count", current-page="currentPage")
      td
        a(href="", ng-click="goToCase(case.reference)") {{ case.reference }}
        span(ng-show="case.isInScopeAndEligible()") &nsbp;/ {{ case.laa_reference }}
      td {{ case.full_name }}
      td
        span(am-time-ago="case.created")
      td
        span(am-time-ago="case.modified")
      td {{ case.locked_by }}
dir-pagination-controls(on-page-change="pageChanged(newPageNumber)", data-boundary-links="true")
