<header class="PageHeader cf">
  <h1 class="u-pullLeft">Alternative help</h1>
</header>

<form class="FormRow cf" ng-submit="searchProviders(keyword)">
  <input type="text" name="keyword" placeholder="Search providers and other help organisations" class="FormRow-field--l" ng-model="keyword">
  <input class="Search-submit" type="submit" value="Search">
  <a href="" class="Label is-selected">Knowledge base</a>
  <a href="http://find-legal-advice.justice.gov.uk/" target="_blank" class="Label Icon Icon--blue Icon--location">Face to Face</a>
</form>

<div class="FormRow cf">
  <a href="" class="Label" ng-repeat="cat in categories" ng-click="changeCategory(cat.id)" ng-class="{'is-selected': category == cat.id}">{{ cat.name }}</a>
</div>

<!-- no providers -->
<div ng-show="providers.count < 1">
  <p class="Error Error--basic">There are <strong>no providers available</strong> matching your criteria. Please contact a supervisor.</p>
</div>

<form class="FormRow cf" name="alternative_help" ng-submit="submit()">
  <p class="Error Error--basic" ng-show="valid === false">Please choose <strong>three providers</strong>.</p>

  <div class="FormRow FormRow--group" dir-paginate="provider in providers.results | itemsPerPage: 20" total-items="providers.count" current-page="currentPage">
    <label class="FormRow-label FormRow-label--odd">
      <input 
        name="selected_providers" 
        type="checkbox" 
        value="{{ provider.id }}" 
        ng-model="selected_providers[provider.id]">
      <strong>
        {{ provider.service_name }}
        <span ng-show="provider.organisation"> - {{ provider.organisation }}</span>
      </strong>
      <span class="FormRow-inner">
        <span class="u-block FormRow" ng-show="provider.website"><a href="{{ provider.website }}" target="_blank">{{ provider.website }}</a></span>
        <span class="u-block FormRow" ng-show="provider.description">{{ provider.description }}</span>
        <span class="u-block FormRow" ng-show="provider.how_to_use"><strong>How to use:</strong> {{ provider.how_to_use }}</span>
        <span class="u-block FormRow" ng-show="provider.when_to_use"><strong>When to use:</strong> {{ provider.when_to_use }}</span>
        <span class="Grid">
          <span class="Grid-row cf">
            <span class="Grid-col Grid-col--1-3">{{ provider.address }}</span>
            <span class="Grid-col Grid-col--1-3" ng-bind-html="provider.helpline|nl2br"></span>
            <span class="Grid-col Grid-col--1-3">{{ provider.opening_hours }}</span>
          </span>
        </span>
      </span>
    </label>
  </div>

  <div class="FormRow cf">
    <label for="notes" class="visuallyhidden">Reassignment notes</label>
    <textarea name="notes" id="notes" cols="30" rows="4" ng-model="notes" placeholder="Provider reassignment comments"></textarea>
  </div>

  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" data-boundary-links="true"></dir-pagination-controls>

  <div class="FormActions">
    <button type="submit" class="Button" ng-disabled="value.length==0">Assign aternative help</button>
    <button type="button" class="Button Button--secondary" ng-click="decline_help()">User declines all specialist providers</button>
    <a ui-sref="case_detail.edit">Cancel</a>
  </div>
</form>