<div class="Notice" ng-show="!timerRunning">
  Timer not running, please note that whatever you do will not be billable.
</div>

<div class="Grid">
  <div class="Grid-row cf">
    <div class="Grid-col Grid-col--1-5" ui-view="personalDetails"></div>
    <div class="Grid-col Grid-col--3-5" ui-view full-height></div>
    <div class="Grid-col Grid-col--1-5 Grid-col--bg-colour">

      <div class="Grid-colInner">
        <header class="PageHeader cf">
          <div>
            <p class="u-mute"><strong class="Icon Icon--folder Icon--right">{{ case.reference }}</strong></p>
            <small ng-show="case.isInScopeAndEligible()">entitlement reference: {{ case.laa_reference }}</small>
          </div>
          
          <div class="cf">
            <a href="" ng-click="suspend()">Suspend</a>
            <hr>
            <a ui-sref="case_detail.assign" class="Button">Assign provider</a>
          </div>
        </header>
      </div>

      <div class="Grid-colInner" ui-view="outcome"></div>
    </div>
  </div>
</div>
