<header class="PageHeader cf">
  <h1 class="u-pullLeft">Decline all specialist providers</h1>
</header>

<div class="FormBlock FormBlock--yellow">
  <form method="post" ng-submit="decline()">
    <div class="FormRow">
      <label for="id_notes" class="visuallyhidden">Notes</label>
      <textarea class="FormRow-field--full" cols="20" id="id_notes" name="notes" rows="6" ng-model="notes" placeholder="Notes"></textarea>
    </div>

    <div class="FormRow cf" style="display: none">
      <label for="id_event_code" id="id_event_code-label">
        <span class="FormRow-label">Code</span>
        <select class="FormRow-field--l" id="id_event_code" name="code" ng-options="code.code as code.description for code in codes" ng-model="event_code"></select>
      </label>
    </div>

    <button type="submit" class="Button">Decline all specialists</button>
    <a ui-sref="case_detail.assign">Cancel</a>
  </form>
</div>
