<header>
  <h2>Exceptional case funding</h2>
  <p>Please indicate how you notified the client of the exceptional case funding.</p>
</header>

<form method="post" ng-submit="save()">
  <div class="FormBlock FormBlock--yellow">
    <div class="FormRow FormRow--group FormRow--groupNarrow" ng-repeat="statement in ecf_statements">
      <label class="FormRow-label">
        <input type="radio" value="{{ statement.key }}" ng-model="case.ecf_statement" name="ecf_statement" required>
        <span class="FormRow-labelText">
          {{ statement.label }}
          <span class="u-mute u-block" ng-show="statement.text">{{ statement.text }}</span>
        </span>
      </label>
    </div>
  </div>

  <div class="FormActions">
    <button type="submit" class="Button" type="submit">Save</button>
    <button type="button" class="Button Button--text" ng-click="cancel()">Cancel</button>
  </div>
</form>
