<div data-extend-template="case_detail.outcome_modal.html">
  <div data-block="feedback">
    <button type="button" class="BlockLink BlockLink--add" ng-hide="$parent.leaveFeedback" ng-click="$parent.leaveFeedback=!$parent.leaveFeedback" name="add-feedback"><span class="BlockLink-text">Add feedback</span></button>

    <select
        id="reject_feedback_issue"
        ng-show="$parent.leaveFeedback"
        ng-model="feedback.issue"
        ui-select2="{allowClear: true}"
        placeholder="Issue"
        ng-options="s.value as s.text for s in FEEDBACK_ISSUE track by s.value"
        ng-required="$parent.leaveFeedback">
          <option value=""></option>
    </select>
  </div>
</div>
