<header class="PageHeader cf">
  <h1>{{ ::pageTitle || 'Case details' }}</h1>
</header>

<ng-include src="includePath + 'includes/case_notes.html'"></ng-include>

<p class="s-entitlementNum" ng-if="case.isInScopeAndEligible() || (appName === 'provider' && case.laa_reference)">Entitlement: {{ ::case.laa_reference }}</p>

<ul class="Tabs"><!--
  --><li class="Tabs-tab" ng-class="{'is-active': $state.includes('case_detail.edit.diagnosis')}">
    <a ui-sref="case_detail.edit.diagnosis" class="Tabs-tabLink" ng-class="diagnosisIcon()">Scope</a>
  </li><!--
  --><li class="Tabs-tab" ng-class="{'is-active': $state.includes('case_detail.edit.eligibility'), 'is-disabled': !diagnosis.isInScopeTrue() && !eligibility_check.state}">
    <a ui-sref="case_detail.edit.eligibility" class="Tabs-tabLink" ng-class="eligibilityIcon()">Finances</a>
  </li><!--
  --><li data-block="extra-tabs"></li><!--
--></ul>

<div ui-view=""></div>
