<div class="Grid">
  <div class="Grid-row cf">
    <div class="Grid-col Grid-col--1-5" ui-view="personalDetails"></div>
    <div class="Grid-col Grid-col--3-5" ui-view full-height></div>
    <div class="Grid-col Grid-col--1-5 Grid-col--bg-colour">

      <div class="Grid-colInner">
        <header class="PageHeader cf">
          <div>
            <p class="u-pullLeft">{{ case.reference }}</p>
            <small ng-show="case.isInScopeAndEligible()">entitlement reference: {{ case.laa_reference }}</small>
          </div>

          <a ui-sref="case_detail.close" class="Button Button--secondary u-pullRight">Close case</a>
          <a ui-sref="case_detail.assign" class="Button Button--secondary u-pullRight">Assign case</a>
        </header>
      </div>

      <div class="Grid-colInner" ui-view="outcome"></div>
    </div>
  </div>
</div>
