<header class="PageHeader cf">
  <h1 class="u-pullLeft">Alternative help</h1>
</header>

<ul class="Tabs"><!--
  --><li class="Tabs-tab is-active">
    <a href="" class="Tabs-tabLink">Knowledge base</a>
  </li><!--
  --><li class="Tabs-tab">
    <a href="http://find-legal-advice.justice.gov.uk/" target="_blank" class="Tabs-tabLink" ng-click="f2f_clicked=true">Face to Face</a>
  </li><!--
--></ul>

<!-- no providers -->
<div class="Error Error--basic" ng-if="providers.count < 1">
  <p>There are <strong>no providers available</strong> matching your criteria. Please contact a supervisor.</p>
</div>

<call-script ng-if="diagnosis.isInScopeTrue() && eligibility_check.isEligibilityFalse()">
  <p>From the information you have provided, the assessment shows that you are not eligible for Legal Aid. However, our service is not your only option, so I can find you alternative help for you elsewhere.</p>
  <p>If you have Internet access I can tell you where to find more information and help for yourself online.</p>
  <p>Or I can see if I can suggest another helpline or face to face advice service that may be able to help you.</p>
  <p>I can't guarantee that they will be able to help you so please check with them. You may have to pay for their service so check any costs, their opening hours and whether you can make an appointment. Also check any insurance policies you may have that provide legal cover as any potential costs may be covered by this.</p>
</call-script>

<details class="SelectedProviders">
  <summary>Selected organisations ({{ alternativeHelpService.selected_providers_length() }})</summary>
  <div class="SummaryBlock SummaryBlock--compact">
    <div class="SummaryBlock-content" ng-repeat="provider in alternativeHelpService.selected_providers">
      <strong>
        {{ ::provider.service_name }}
        <span ng-if="provider.organisation"> - {{ ::provider.organisation }}</span>
      </strong>
      <p ng-if="provider.website"><a href="{{ ::provider.website }}" target="_blank">{{ ::provider.website }}</a></p>
      <p ng-if="provider.description">{{ ::provider.description }}</p>
      <p ng-if="provider.how_to_use"><strong>How to use:</strong> {{ ::provider.how_to_use }}</p>
      <p ng-if="provider.when_to_use"><strong>When to use:</strong> {{ ::provider.when_to_use }}</p>
      <div class="Grid">
        <div class="Grid-row cf">
          <div class="Grid-col Grid-col--1-3">{{ ::provider.address }}</div>
          <div class="Grid-col Grid-col--1-3" ng-bind-html="::provider.helpline|nl2br"></div>
          <div class="Grid-col Grid-col--1-3">{{ ::provider.opening_hours }}</div>
        </div>
      </div>
    </div>
  </div>
</details>

<form class="FormRow cf" ng-submit="searchProviders(keyword)">
  <select ui-select2="{allowClear: true}" name="category" class="FormRow-field--inline FormRow-field--m" data-placeholder="Law category" ng-options="s.id as s.name for s in categories track by s.id" ng-model="::selected_category" ng-change="changeCategory(selected_category)">
    <option value=""></option>
  </select>

  <input type="text" name="keyword" placeholder="Search providers and other help organisations" class="FormRow-field--l" ng-model="::keyword">
  <input class="Search-submit" type="submit" value="Search">
</form>

<form class="FormRow cf" name="alternative_help">
  <p class="Error Error--basic" ng-if="valid === false">Please choose <strong>three providers</strong>.</p>

  <div class="FormRow FormRow--group" dir-paginate="provider in providers.results | itemsPerPage: 20" total-items="providers.count" current-page="currentPage">
    <label class="FormRow-label FormRow-label--odd">
      <input
        name="selected_providers"
        type="checkbox"
        value="{{ ::provider.id }}"
        ng-model="::alternativeHelpService.selected_ids[provider.id]"
        ng-change="toggleProvider(provider)">
      <strong>
        {{ ::provider.service_name }}
        <span ng-if="provider.organisation"> - {{ ::provider.organisation }}</span>
      </strong>
      <span class="FormRow-inner">
        <span class="u-block FormRow" ng-if="provider.website"><a href="{{ ::provider.website }}" target="_blank">{{ ::provider.website }}</a></span>
        <span class="u-block FormRow" ng-if="provider.description">{{ ::provider.description }}</span>
        <span class="u-block FormRow" ng-if="provider.how_to_use"><strong>How to use:</strong> {{ ::provider.how_to_use }}</span>
        <span class="u-block FormRow" ng-if="provider.when_to_use"><strong>When to use:</strong> {{ ::provider.when_to_use }}</span>
        <span class="Grid">
          <span class="Grid-row cf">
            <span class="Grid-col Grid-col--1-3">{{ ::provider.address }}</span>
            <span class="Grid-col Grid-col--1-3" ng-bind-html="::provider.helpline|nl2br"></span>
            <span class="Grid-col Grid-col--1-3">{{ ::provider.opening_hours }}</span>
          </span>
        </span>
      </span>
    </label>
  </div>

  <div class="FormRow cf">
    <label for="notes" class="visuallyhidden">Reassignment notes</label>
    <textarea name="assign-notes" id="notes" cols="30" rows="4" ng-model="::alternativeHelpService.notes" placeholder="Assignment comments"></textarea>
  </div>

  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

  <div class="FormActions">
    <button type="submit" class="Button" name="assign-alternative-help" ng-disabled="alternativeHelpService.get_selected_provider_ids()==0" ng-click="submit()">Assign alternative help</button>
    <button type="submit" class="Button" name="assign-f2f" ng-if="f2f_clicked" ng-disabled="alternativeHelpService.notes.length==0" ng-click="submit('COSPF')">Assign F2F help</button>
    <button type="button" class="Button Button--secondary" name="btn-decline-help" ng-controller="CaseDetailDeclineHelpCtrl" ng-click="decline_help(alternativeHelpService.notes)">User declines all help / no appropriate help found</button>
    <a ui-sref="case_detail.edit">Cancel</a>
  </div>
</form>
