<header class="PageHeader cf">
  <h1 class="u-pullLeft">{{ case.reference }}</h1>
</header>

<form method="post" ng-submit="assign()" ng-show="suggested_providers">
  <div ng-show="selected_provider.id">
    <div class="ContactBlock ContactBlock--grey clearfix">
      <h2 class="ContactBlock-heading">{{ selected_provider.name }}</h2>

      <p>{{ selected_provider.telephone_frontdoor }} (Front door)</p>
      <p>{{ selected_provider.telephone_backdoor }} (Back door)</p>
    </div>

    <ul class="Notice">
      <li class="Notice-msg">Provider phone short code <strong>{{ selected_provider.short_code }}</strong></li>
    </ul>
  </div>

  <div ng-show="is_manual && !is_complete">
    <div class="FormRow FormRow--group" ng-repeat="provider in suggested_providers">
      <label class="FormRow-label FormRow-label--odd">
        <input name="provider" type="radio" ng-model="$parent.selected_provider" ng-value="provider">
        {{ provider.name }}
      </label>
    </div>
  </div>

  <div class="FormActions" ng-show="!is_complete">
    <button type="submit" class="Button">Assign provider</button>

    <a ui-sref="case_detail.edit.decline_specialists" class="Button Button--secondary">Decline all</a>
    <a ui-sref="case_detail.edit.defer_assignment" class="Button Button--secondary">Defer</a>

    <a href="" ng-click="assignManually(true)" ng-show="!is_manual">Assign other provider manually</a>

    <a href="" ng-click="assignManually(false)" ng-show="is_manual && suggested_provider.id">Cancel</a>
  </div>
</form>