<form ng-submit="save()" novalidate name="form">
  <div ng-include="'includes/diagnosis.summary.html'" ng-controller="DiagnosisSummaryCtrl"></div>

  <div class="FormRow FormRow--group FormRow--groupNarrow" ng-repeat="choice in diagnosis.choices">
    <label class="FormRow-label">
      <input type="radio" value="{{ choice.id }}" name="choice" ng-model="diagnosis.current_node_id" required>
      <span class="FormRow-labelText" ng-bind-html="choice.label"></span>
    </label>
  </div>

  <div class="FormActions FormBlock FormBlock--yellow">
    <button type="submit" class="Button" ng-show="diagnosis.isInScopeUnknown()">Next</button>
    <a ui-sref="case_detail.edit.eligibility" class="Button" ng-show="!diagnosis.isInScopeUnknown()">Create eligibility check</a>
    <a ui-sref="case_detail.edit">Return to case</a>
  </div>
</form>
