<div class="Notice" ng-show="!timerRunning">
  Timer not running, please note that whatever you do will not be billable.
</div>

<div class="Grid">
  <div class="Grid-row cf">
    <div class="Grid-col Grid-col--1-5" >
      <nav class="SubNav">
        <a ui-sref="case_list(caseListStateParams)" class="SubNav-link SubNav-link--back">Back to cases</a>
        <a ui-sref="case_detail.edit" class="SubNav-link SubNav-link--back" ui-sref-active="visuallyhidden">Back to case summary</a>
      </nav>
      
      <div ui-view="personalDetails"></div>
    </div>
    <div class="Grid-col Grid-col--3-5" ui-view full-height></div>
    <div class="Grid-col Grid-col--1-5 Grid-col--bg-colour">

      <div class="Grid-colInner CaseDetails">
        <header>
          <h1 class="CaseDetails-caseNum Icon Icon--folder Icon--right">{{ case.reference }}</h1>
          <p class="CaseDetails-entitlementNum" ng-show="case.isInScopeAndEligible()">entitlement reference: {{ case.laa_reference }}</p>
          <p class="CaseDetails-entitlementNum" ng-show="case.matter_type1 || case.matter_type2">
            <a class="Icon Icon--edit" href="" ng-click="edit_matter_types()"></a>
            <strong ng-show="case.matter_type1">MT1:</strong> {{ case.matter_type1 }}</span>
            <span ng-show="case.matter_type1 && case.matter_type2"> | </span>
            <strong ng-show="case.matter_type2">MT2:</strong> {{ case.matter_type2 }}
          </p>
        </header>
        
        <div class="cf CaseDetails-actions">
          <timer base-time="case.billable_time" class="u-pullLeft"></timer>
        
          <nav class="u-pullRight cf">
            <div class="BtnDropdown BtnDropdown--right">
              <button class="Button Button--secondary Button--dropdown" ng-class="{'is-open': btnOpts}" ng-click="btnOpts=!btnOpts">Close</button>
              <div class="BtnDropdown-content" ng-show="btnOpts" ng-click="btnOpts=false">
                <a href="" ng-click="suspend()" class="u-block">Suspend</a>
                <a ui-sref="case_detail.alternative_help" class="u-block">Alternative help</a>
                <hr class="u-horLine">
                <a href="" ng-click="assign_to_provider()" class="Button u-block">Assign provider</a>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="Grid-colInner" ui-view="outcome"></div>
    </div>
  </div>
</div>
