<ul class="CaseHistory">
  <li class="CaseHistory-card" ng-repeat="logList in logSet">
    <span class="CaseHistory-date">{{ logList[0].created | general_date }}</span>

    <ul class="CaseHistory-log">
      <li class="CaseHistory-logItem cf" ng-repeat="log in logList">
        <span class="CaseHistory-label" ng-show="log.type == 'outcome'">{{ log.code }}</span>
        
        <details ng-show="log.code === 'MT_CHANGED'">
          <summary role="button">Means test changed</summary>
          <span class="CaseHistory-logItemNotes CaseHistory-logItemNotes--indent">{{ log.notes }}</span>
        </details>

        <details ng-show="log.code === 'MT_CREATED'">
          <summary role="button">Means test created</summary>
          <span class="CaseHistory-logItemNotes CaseHistory-logItemNotes--indent">{{ log.notes }}</span>
        </details>

        <details ng-show="log.code === 'DIAGNOSIS_CREATED'">
          <summary role="button">Diagnosis created</summary>
          <span class="CaseHistory-logItemNotes CaseHistory-logItemNotes--indent">{{ log.notes }}</span>
        </details>

        <details ng-show="log.code === 'DIAGNOSIS_DELETED'">
          <summary role="button">Diagnosis deleted</summary>
          <span class="CaseHistory-logItemNotes CaseHistory-logItemNotes--indent">{{ log.notes }}</span>
        </details>

        <span class="CaseHistory-logItemNotes" ng-if="log.notes" ng-show="log.code !== 'MT_CREATED' && log.code !== 'MT_CHANGED'">{{ log.notes }}</span>

        <span class="CaseHistory-logItemAuthor">({{ log.created_by }})</span>
      </li>
    </ul>
  </li>
</ul>
