<header class="PageHeader cf">
  <h1 class="u-pullLeft">Assign a provider</h1>
</header>

<!-- no providers -->
<div ng-show="suggested_providers.length < 1 && ! suggested_provider">
  <p class="Error Error--basic">There are <strong>no providers available</strong> to assign to this case. Please contact a supervisor.</p>
  <p><a ui-sref="case_detail.edit">Return to case</a></p>
</div>
<!-- no category -->
<p class="Error Error--basic" ng-show="!suggested_provider && suggested_providers.length > 0">This case has <strong>no category of law assigned</strong> but you can still manually assign a provider.</p>

<form method="post" name="assign_provider_form" ng-submit="assign(assign_provider_form)">
  <div ng-show="selected_provider.id">
    <div class="ContactBlock ContactBlock--grey clearfix">
      <h2 class="ContactBlock-heading">{{ selected_provider.name }}</h2>

      <p>{{ selected_provider.telephone_frontdoor }} (Front door)
        <br>{{ selected_provider.telephone_backdoor }} (Back door)</p>
    </div>
  </div>

  <div ng-show="is_manual && suggested_providers.length > 0">
    <div class="FormRow cf">
      <input type="text" name="provider-search" placeholder="Search providers and other help organisations" class="FormRow-field--l" ng-model="provider_search">
    </div>

    <div class="FormRow FormRow--group" ng-repeat="provider in suggested_providers | filter:provider_search">
      <label class="FormRow-label FormRow-label--odd">
        <input name="provider" type="radio" ng-model="$parent.selected_provider" ng-value="provider">
        <strong>{{ provider.name }}</strong>

        <p class="FormRow-inner">{{ provider.telephone_frontdoor }} (Front door)
          <br>{{ provider.telephone_backdoor }} (Back door)</p>
      </label>
    </div>

    <div class="FormRow cf">
      <label for="notes" class="visuallyhidden">Reassignment notes</label>
      <textarea name="notes" id="notes" cols="30" rows="4" ng-model="notes" placeholder="Provider reassignment comments"></textarea>
    </div>
  </div>

  <div class="Error Error--basic" ng-show="case_errors.length > 0">
    <p>The following errors were found:</p>
    <ul>
      <li ng-repeat="error in case_errors">{{ error.message }}</li>
    </ul>
  </div>

  <div class="Notice" ng-show="case_warnings.length > 0">
    <p>Please note the following warnings before proceeding:</p>
    <ul>
      <li ng-repeat="warning in case_warnings">{{ warning.message }}</li>
    </ul>
  </div>

  <div class="FormActions">
    <span class="Error-message" ng-show="errors.__all__">{{ errors.__all__ }}</span>
    <button type="submit" class="Button" ng-show="suggested_providers.length > 0 || suggested_provider">Assign provider</button>

    <a ui-sref="case_detail.defer_assignment" class="Button Button--secondary">Defer assignment</a>

    <a class="Button Button--secondary" ng-click="assignManually(true)" ng-show="!is_manual && suggested_providers.length > 0">Assign other provider manually</a>
    <a ui-sref="case_detail.edit" ng-show="!is_manual">Cancel</a>

    <a ng-click="decline_help()" class="Button Button--secondary" ng-show="is_manual && suggested_provider.id">Decline help</a>
    <a href="" ng-click="assignManually(false)" ng-show="is_manual && suggested_provider.id">Cancel</a>
  </div>
</form>
