<header>
  <h2>{{ ::tplVars.title }}</h2>
</header>


<form method="post" novalidate ng-submit="submit(reject_frm.$valid)" name="reject_frm">
  <p class="Error-message" ng-if="errors.__all__">{{ errors.__all__ }}</p>

  <div class="FormBlock FormBlock--yellow">
    <div class="FormRow cf" ng-show="outcome_codes">
      <input type="text" name="outcome-modal-code-search" placeholder="Search codes" class="FormRow-field--l" ng-model="::code_search" search-filter>
    </div>

    <fieldset class="FormRow" ng-show="outcome_codes">
      <span class="Error-message" ng-show="reject_frm.code.$error.required && submitted">An outcome code is required</span>
      <span class="Error-message" ng-show="errors.event_code">{{ errors.event_code }}</span>
      <div class="FormRow FormRow--group FormRow--groupNarrow" ng-repeat="code in outcome_codes | filter:code_search">
        <label class="FormRow-label">
          <input type="radio" value="{{ ::code.code }}" ng-model="selected.outcome_code" name="code" ng-required="true" server-error>
          {{ ::code.code }} <span class="u-mute">- {{ ::code.description }}</span>
        </label>
      </div>
    </fieldset>

    <div class="FormRow cf">
      <label>
        <span class="Error-message">
          <span ng-show="reject_frm.outcomeNotes.$error.required">Notes are required</span>
          <span ng-show="errors.notes">{{ errors.notes }}</span>
          <span ng-show="errors.comment">{{ errors.comment }}</span>
        </span>
        <textarea class="FormRow-field--full" cols="20" rows="6" name="outcomeNotes" ng-model="selected.notes" placeholder="Notes" server-error></textarea>
      </label>
    </div>

    <outcome-feedback ng-if="feedback_allowed" outcome-code="selected.outcome_code" issue="selected.issue" form="reject_frm" submitted="submitted"></outcome-feedback>
  </div>

  <div class="FormActions" data-block="formActions">
    <button class="Button" type="submit" ng-click="submitted=true">{{ ::tplVars.buttonText }}</button>
    <a href="" ng-click="cancel()">Cancel</a>
  </div>
</form>

