<form ng-submit="moveDown()" novalidate name="form">
  <div ng-include="'includes/diagnosis.summary.html'" ng-controller="DiagnosisSummaryCtrl"></div>

  <div class="FormRow FormRow--group FormRow--groupNarrow" ng-repeat="choice in diagnosis.choices">
    <label class="FormRow-label">
      <input type="radio" value="{{ choice.id }}" name="choice" ng-model="diagnosis.current_node_id" required>
      <div class="FormRow-labelText">
        <span ng-bind-html="choice.label"></span>
        <details ng-show="choice.help_text">
          <summary>Help</summary>
          <span ng-bind-html="choice.help_text"></span>
        </details>
      </div>
    </label>
  </div>

  <div class="FormActions FormBlock FormBlock--yellow">
    <a href="" class="Button" ng-show="diagnosis.nodes" ng-click="moveUp()">Back</a>
    <button type="submit" class="Button" ng-show="diagnosis.isInScopeUnknown()">Next</button>
    <a ui-sref="case_detail.edit.eligibility" class="Button" ng-show="!diagnosis.isInScopeUnknown()">Create eligibility check</a>
    <a ui-sref="case_detail.edit">Return to case</a>
  </div>
</form>
