<nav>
  <ol class="ProgressIndicator">
    <li class="ProgressIndicator-step" ng-repeat="tab in tabs" ng-class="{'is-active':isActiveTab(tab.id)}" ng-click="onClickTab(tab)">
      <a href="" class="">{{ tab.title }}</a>
    </li>
  </ol>
</nav>
<div>

  <form ng-submit="save()" novalidate name="form">

    <!-- ##### PROBLEM ##### -->
    <div ng-show="isActiveTab('ec_problem')">
      <section class="question">
        <p class="question">What is your problem about? What is putting you at immediate risk?</p>
        <cla-server-validate data-for="category"></cla-server-validate>
        <ul>
          <li ng-repeat="category in category_list">
            <label>
              <input type="radio" name="category" ng-model="eligibility_check.category" value="{{ category.code }}" >
              {{ category.name }}
            </label>
          </li>
        </ul>
      </section>
    </div>

    <!-- ##### DETAILS ##### -->

    <div ng-show="isActiveTab('ec_details')">
      <div class="FormRow cf FormRow--details" role="radiogroup" aria-labelledby="id_your_details-has_partner-label">
        <p class="FormRow-label" id="id_your_details-has_partner-label">
          Do you have a partner?
        </p>

        <label for="id_your_details-has_partner_0" class="FormRow-option">
          <input type="radio" name="your_details-has_partner" id="id_your_details-has_partner_0" value="1" ng-model="eligibility_check.has_partner">Yes
        </label>

        <label for="id_your_details-has_partner_1" class="FormRow-option">
          <input type="radio" name="your_details-has_partner" id="id_your_details-has_partner_1" value="0" ng-model="eligibility_check.has_partner">No
        </label>
      </div>

      <div class="FormRow cf FormRow--details" role="radiogroup" aria-labelledby="id_your_details-has_benefits-label">
        <p class="FormRow-label" id="id_your_details-has_benefits-label">
          Are you on nass Benefits?
        </p>

        <label for="id_your_details-nass_benefits_0" class="FormRow-option">
          <input type="radio" name="your_details-nass_benefits" id="id_your_details-nass_benefits_0" value="1" ng-model="eligibility_check.on_nass_benefits">Yes
        </label>

        <label for="id_your_details-nass_benefits_1" class="FormRow-option">
          <input type="radio" name="your_details-nass_benefits" id="id_your_details-nass_benefits_1" value="0" ng-model="eligibility_check.on_nass_benefits">No
        </label>
      </div>

      <div class="FormRow cf FormRow--details" role="radiogroup" aria-labelledby="id_your_details-passported_benefits-label">
        <p class="FormRow-label" id="id_your_details-passported_benefits-label">
          Are you on Passported Benefits?
        </p>

        <label for="id_your_details-has_children_0" class="FormRow-option">
          <input type="radio" name="your_details-passported_benefits" id="id_your_details-passported_benefits_0" value="1" ng-model="eligibility_check.on_passported_benefits">Yes
        </label>

        <label for="id_your_details-has_children_1" class="FormRow-option">
          <input type="radio" name="your_details-passported_benefits" id="id_your_details-passported_benefits_1" value="0" ng-model="eligibility_check.on_passported_benefits">No
        </label>
      </div>

      <div class="FormRow cf" role="radiogroup" aria-labelledby="id_your_details-older_than_sixty-label">
        <p class="FormRow-label" id="id_your_details-older_than_sixty-label">
          Are you or your partner aged 60 or over?
        </p>

        <label for="id_your_details-older_than_sixty_0" class="FormRow-option">
          <input type="radio" name="your_details-older_than_sixty" id="id_your_details-older_than_sixty_0" value="1" ng-model="eligibility_check.is_you_or_your_partner_over_60">
          Yes
        </label>

        <label for="id_your_details-older_than_sixty_1" class="FormRow-option">
          <input type="radio" name="your_details-older_than_sixty" id="id_your_details-older_than_sixty_1" value="0" ng-model="eligibility_check.is_you_or_your_partner_over_60">
          No
        </label>
      </div>
    </div>

    <!-- ##### FINANCES ##### -->

    <div ng-show="isActiveTab('ec_finances')">

      <section>
        <div class="clearfix">
          <h2 id="property-0-label" class="FormBlock-label FormBlock-label--inline">Your  property</h2>
        </div>

        <div ng-show="!eligibility_check.property_set || eligibility_check.property_set.length === 0">
          <i>Currently no property</i>
        </div>

        <div class="FormBlock FormBlock--grey" aria-labelledby="property-0-label" role="group" ng-repeat="property in eligibility_check.property_set">
          <div class="FormRow cf">
            <label for="id_property-0-worth" id="id_property-0-worth-label">
              <span class="FormRow-label">
                How much is it worth?
              </span>
              <span class="FormRow-prefix">£</span>
              <input id="id_property-0-worth" max="9999999999" min="0" step="0.01" type="number" ng-model="property.value">
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_property-0-mortgage_left" id="id_property-0-mortgage_left-label">
              <span class="FormRow-label">
                How much is left to pay on the mortgage?
              </span>
              <span class="FormRow-prefix">£</span>
              <input id="id_property-0-mortgage_left" max="9999999999" min="0" step="0.01" type="number" ng-model="property.mortgage_left">
            </label>
          </div>

          <div class="FormRow cf" role="radiogroup" aria-labelledby="id_property-0-owner-label">
            <p class="FormRow-label" id="id_property-0-owner-label">
              Is the property owned by you or is it in joint names?
            </p>
            <label for="id_property-0-owner_0" class="FormRow-option">
              <input type="radio" id="id_property-0-owner_0" value="1">
              Owned by me
            </label>

            <label for="id_property-0-owner_1" class="FormRow-option">
              <input type="radio" id="id_property-0-owner_1" value="0">
              Joint names
            </label>
          </div>

          <div class="FormRow cf" role="radiogroup" aria-labelledby="id_property-0-disputed-label">
            <p class="FormRow-label" id="id_property-0-disputed-label">
              Is this property disputed?
            </p>

            <label for="id_property-0-disputed_0" class="FormRow-option">
              <input type="radio" id="id_property-0-disputed_0" value="1" ng-model="property.disputed">
              Yes
            </label>

            <label for="id_property-0-disputed_1" class="FormRow-option">
              <input type="radio" id="id_property-0-disputed_1" value="0" ng-model="property.disputed">
              No
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_property-0-share" id="id_property-0-share-label">
              <span class="FormRow-label">
                What is your share of the property?
              </span>
              <input class="FormRow-field--s" id="id_property-0-share" max="100" min="0" type="number" ng-model="property.share">
              <span class="FormRow-suffix">%</span>
            </label>
          </div>

          <a ng-click="removeProperty($index)">Remove this property</a>
        </div>

        <div class="FormBlock-actions">
          <a class="Button Button--secondary" ng-click="addProperty()">Add property</a>
        </div>
      </section>

      <section class="Grid">
        <h2 id="your_savings-label" class="FormBlock-label">Your savings</h2>

        <div class="FormBlock FormBlock--grey" aria-labelledby="your_savings-label" role="group">

          <div class="FormRow cf">
            <label for="id_your_savings-bank" id="id_your_savings-bank-label">
              <span class="Grid-col Grid-col--2-3">
                Do you have any money saved in a bank or building society?
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_your_savings-bank" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.you.savings.bank_balance">
              </span>
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_your_savings-investments" id="id_your_savings-investments-label">
              <span class="Grid-col Grid-col--2-3">
                Do you have any investments, shares, ISAs?
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_your_savings-investments" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.you.savings.investment_balance">
              </span>
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_your_savings-valuable_items" id="id_your_savings-valuable_items-label">
              <span class="Grid-col Grid-col--2-3">
                Do you have any valuable items over £££ each?
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_your_savings-valuable_items" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.you.savings.asset_balance">
              </span>
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_your_savings-money_owed" id="id_your_savings-money_owed-label">
              <span class="Grid-col Grid-col--2-3">
                Do you have any money owed to you?
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_your_savings-money_owed" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.you.savings.credit_balance">
              </span>
            </label>
          </div>
        </div>
      </section>

      <section class="Grid">
        <h2 id="partners_savings-label" class="FormBlock-label">Your partner's savings</h2>
        <div class="FormBlock FormBlock--grey" aria-labelledby="partners_savings-label" role="group">
          <div class="FormRow cf">
            <label for="id_partners_savings-bank" id="id_partners_savings-bank-label">
              <span class="Grid-col Grid-col--2-3">
                Do you have any money saved in a bank or building society?
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_partners_savings-bank" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.partner.savings.bank_balance">
              </span>
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_partners_savings-investments" id="id_partners_savings-investments-label">
              <span class="Grid-col Grid-col--2-3">
                Do you have any investments, shares, ISAs?
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_partners_savings-investments" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.partner.savings.investment_balance">
              </span>
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_partners_savings-valuable_items" id="id_partners_savings-valuable_items-label">
              <span class="Grid-col Grid-col--2-3">
                Do you have any valuable items over £££ each?
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_partners_savings-valuable_items" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.partner.savings.asset_balance">
              </span>
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_partners_savings-money_owed" id="id_partners_savings-money_owed-label">
              <span class="Grid-col Grid-col--2-3">
                Do you have any money owed to you?
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_partners_savings-money_owed" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.partner.savings.credit_balance">
              </span>
            </label>
          </div>
        </div>
      </section>

    </div>

    <!-- ##### INCOME ##### -->

    <div ng-show="isActiveTab('ec_income')">
      <section>
        <h2 id="your_income-label" class="FormBlock-label">Your income</h2>

        <div class="FormBlock FormBlock--grey" aria-labelledby="your_income-label" role="group">

          <div class="FormRow cf">
            <label for="id_your_income-earnings_0" id="id_your_income-earnings-label">
              <span class="FormRow-label">
                Earnings
              </span>

              <money-interval mi-model="eligibility_check.you.income.earnings" />
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_your_income-other_income_0" id="id_your_income-other_income-label">

              <span class="FormRow-label">
                Other income
              </span>

              <money-interval mi-model="eligibility_check.you.income.other_income" />
            </label>
          </div>

          <div class="FormRow cf" role="radiogroup" aria-labelledby="id_your_income-self_employed-label">
            <p class="FormRow-label" id="id_your_income-self_employed-label">
              Are you self employed?
            </p>

            <label for="id_your_income-self_employed_0" class="FormRow-option">
              <input type="radio" id="id_your_income-self_employed_0" value="1" ng-model="eligibility_check.you.income.self_employed">
              Yes
            </label>

            <label for="id_your_income-self_employed_1" class="FormRow-option">
              <input type="radio" id="id_your_income-self_employed_1" value="0" checked="checked" ng-model="eligibility_check.you.income.self_employed">
              No
            </label>
          </div>
        </div>

      </section>

      <section>
        <h2 id="partners_income-label" class="FormBlock-label">Your partner's income</h2>
        <cla-server-validate data-for="partner.income"></cla-server-validate>
        <div class="FormBlock FormBlock--grey" aria-labelledby="partners_income-label" role="group">
          <div class="FormRow cf">
            <label for="id_partners_income-earnings_0" id="id_partners_income-earnings-label">
              <span class="FormRow-label">
                Earnings
              </span>

              <money-interval mi-model="eligibility_check.partner.income.earnings" />
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_partners_income-other_income_0" id="id_partners_income-other_income-label">
              <span class="FormRow-label">
                Other income
              </span>

              <money-interval mi-model="eligibility_check.partner.income.other_income" />
            </label>
          </div>

          <div class="FormRow cf" role="radiogroup" aria-labelledby="id_partners_income-self_employed-label">
            <p class="FormRow-label" id="id_partners_income-self_employed-label">
              Are you self employed?
            </p>

            <label for="id_partners_income-self_employed_0" class="FormRow-option">
              <input type="radio" id="id_partners_income-self_employed_0" value="1" ng-model="eligibility_check.partner.income.self_employed">
              Yes
            </label>

            <label for="id_partners_income-self_employed_1" class="FormRow-option">
              <input type="radio" id="id_partners_income-self_employed_1" value="0" checked="checked" ng-model="eligibility_check.partner.income.self_employed">
              No
            </label>
          </div>
        </div>

      </section>

      <section>
        <h2 id="dependants-label" class="FormBlock-label">Dependants</h2>

        <div class="FormBlock FormBlock--grey" aria-labelledby="dependants-label" role="group">

          <div class="FormRow cf">
            <label for="id_dependants-dependants_old" id="id_dependants-dependants_old-label">
              <span class="FormRow-label">
                Children aged 16 and over
              </span>
              <input class="FormRow-field--xs" id="id_dependants-dependants_old" min="0" type="number" ng-model="eligibility_check.dependants_old">
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_dependants-dependants_young" id="id_dependants-dependants_young-label">
              <span class="FormRow-label">
                Children aged 15 and under
              </span>
              <input class="FormRow-field--xs" id="id_dependants-dependants_young" min="0" type="number" ng-model="eligibility_check.dependants_young">
            </label>
          </div>
        </div>
      </section>

    </div>

    <!-- ##### EXPENSES ##### -->

    <div ng-show="isActiveTab('ec_expenses')">
      <section>
        <h2 id="your_allowances-label" class="FormBlock-label">Your expenses</h2>

        <div class="FormBlock FormBlock--grey Grid js-SubTotal" aria-labelledby="your_allowances-label" role="group">

          <div class="FieldGroup">
            <h3 class="FieldGroup-label">Housing costs</h3>

            <div class="FormRow FormRow--help cf">
              <label for="id_your_allowances-mortgage_0" id="id_your_allowances-mortgage-label">
                <span class="FormRow-label Grid-col Grid-col--2-3">
                  Mortgage
                </span>

                <span class="Grid-col Grid-col--1-3">
                  <money-interval mi-model="eligibility_check.you.deductions.mortgage" />
                </span>
              </label>
            </div>

            <div class="FormRow FormRow--help cf">
              <label for="id_your_allowances-rent_0" id="id_your_allowances-rent-label">
                <span class="FormRow-label Grid-col Grid-col--2-3">
                  Rent
                </span>

                <span class="Grid-col Grid-col--1-3">
                  <money-interval mi-model="eligibility_check.you.deductions.rent" />
                </span>
              </label>
            </div>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_your_allowances-tax_0" id="id_your_allowances-tax-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                Tax
              </span>

              <span class="Grid-col Grid-col--1-3">
                <money-interval mi-model="eligibility_check.you.deductions.income_tax" />
              </span>
            </label>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_your_allowances-ni_0" id="id_your_allowances-ni-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                National Insurance
              </span>

              <span class="Grid-col Grid-col--1-3">
                <money-interval mi-model="eligibility_check.you.deductions.national_insurance" />
              </span>
            </label>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_your_allowances-maintenance_0" id="id_your_allowances-maintenance-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                Maintenance
              </span>

              <span class="Grid-col Grid-col--1-3">
                <money-interval mi-model="eligibility_check.you.deductions.maintenance" />
              </span>
            </label>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_your_allowances-childcare_0" id="id_your_allowances-childcare-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                Childcare
              </span>

              <span class="Grid-col Grid-col--1-3">
                <money-interval mi-model="eligibility_check.you.deductions.childcare" />
              </span>
            </label>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_your_allowances-criminal_legalaid_contributions" id="id_your_allowances-criminal_legalaid_contributions-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                Payments being made towards a contribution order
              </span>

              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_your_allowances-criminal_legalaid_contributions" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.you.deductions.criminal_legalaid_contributions">
                <span class="FormRow-help">per month</span>
              </span>
            </label>
          </div>
        </div>

      </section>

      <section>
        <h2 id="partners_allowances-label" class="FormBlock-label">Your partner's expenses</h2>

        <div class="FormBlock FormBlock--grey Grid js-SubTotal" aria-labelledby="partners_allowances-label" role="group">

          <div class="FieldGroup">
            <h3 class="FieldGroup-label">Housing costs</h3>

            <div class="FormRow FormRow--help cf">
              <label for="id_partners_allowances-mortgage_0" id="id_partners_allowances-mortgage-label">
                <span class="FormRow-label Grid-col Grid-col--2-3">
                  Mortgage
                </span>

                <span class="Grid-col Grid-col--1-3">
                  <money-interval mi-model="eligibility_check.partner.deductions.mortgage" />
                </span>
              </label>
            </div>

            <div class="FormRow FormRow--help cf">
              <label for="id_partners_allowances-rent_0" id="id_partners_allowances-rent-label">
                <span class="FormRow-label Grid-col Grid-col--2-3">
                  Rent
                </span>

                <span class="Grid-col Grid-col--1-3">
                  <money-interval mi-model="eligibility_check.partner.deductions.rent" />
                </span>
              </label>
            </div>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_partners_allowances-tax_0" id="id_partners_allowances-tax-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                Tax
              </span>

              <span class="Grid-col Grid-col--1-3">
                <money-interval mi-model="eligibility_check.partner.deductions.income_tax" />
              </span>
            </label>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_partners_allowances-ni_0" id="id_partners_allowances-ni-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                National Insurance
              </span>

              <span class="Grid-col Grid-col--1-3">
                <money-interval mi-model="eligibility_check.partner.deductions.national_insurance" />
              </span>
            </label>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_partners_allowances-maintenance_0" id="id_partners_allowances-maintenance-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                Maintenance
              </span>

              <span class="Grid-col Grid-col--1-3">
                <money-interval mi-model="eligibility_check.partner.deductions.maintenance" />
              </span>
            </label>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_partners_allowances-childcare_0" id="id_partners_allowances-childcare-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                Childcare
              </span>

              <span class="Grid-col Grid-col--1-3">
                <money-interval mi-model="eligibility_check.partner.deductions.childcare" />
              </span>
            </label>
          </div>

          <div class="FormRow FormRow--help cf">
            <label for="id_partners_allowances-criminal_legalaid_contributions" id="id_partners_allowances-criminal_legalaid_contributions-label">
              <span class="FormRow-label Grid-col Grid-col--2-3">
                Payments being made towards a contribution order
              </span>
              <span class="Grid-col Grid-col--1-3">
                <span class="FormRow-prefix">£</span>
                <input id="id_partners_allowances-criminal_legalaid_contributions" max="9999999999" min="0" step="0.01" type="number" ng-model="eligibility_check.partner.deductions.criminal_legalaid_contributions">
                <span class="FormRow-help">per month</span>
              </span>
            </label>
          </div>
        </div>

      </section>

    </div>

    <div class="FormActions">
      <button type="submit" class="Button">Save</button>
    </div>
  </form>
</div>
