<ul class="CaseHistory">
  <li class="CaseHistory-card" ng-repeat="logList in logSet">
    <span class="CaseHistory-date">{{ logList[0].created | general_date }}</span>

    <ul class="CaseHistory-log">
      <li class="CaseHistory-logItem cf" ng-repeat="log in logList">
        <span class="CaseHistory-label" ng-show="log.type == 'outcome'">{{ log.code }}</span>
        
        <span ng-show="log.code === 'MT_CHANGED'">
          <a href="" ng-click="toggle=!toggle">Means test changed</a>
          <span class="CaseHistory-logItemNotes CaseHistory-logItemNotes--indent" ng-show="toggle">{{ log.notes }}</span>
        </span>

        <span ng-show="log.code === 'MT_CREATED'">
          <a href="" ng-click="toggle=!toggle">Means test created</a>
          <span class="CaseHistory-logItemNotes CaseHistory-logItemNotes--indent" ng-show="toggle">{{ log.notes }}</span>
        </span>

        <span class="CaseHistory-logItemNotes" ng-if="log.notes" ng-show="log.code !== 'MT_CREATED' && log.code !== 'MT_CHANGED'">{{ log.notes }}</span>

        <span class="CaseHistory-logItemAuthor">({{ log.created_by }})</span>
      </li>
    </ul>
  </li>
</ul>
