<header>
  <h2>Notes</h2>
</header>

  <table class="" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
      <tr ng-repeat="note in notes.results">
        <td>
          <timestamp ng-model="note.created"></timestamp>
        </td>

        <td>
          <p>
            {{ note.created}} ({{ note.created_by}}) <br>

            <p ng-bind-html="note.diffHTML"></p>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

<ul class="Pagination cf ng-scope" ng-if="notes.next || notes.previous">
  <li ng-class="{'is-disabled': notes.previous === null}" class="Pagination-item">
    <a href="" ng-click="goToPreviousPage()">‹‹ Prev</a>
  </li>

  <li ng-class="{'is-disabled': notes.next === null}" class="Pagination-item">
    <a href="" ng-click="goToNextPage()">Next ››</a>
  </li>
</ul>

  <div class="FormActions" data-block="formActions">
    <a href="" ng-click="close()">close</a>
  </div>
</form>

