<header>
  <h2>Notes history</h2>
</header>

<div class="CommentBlock">
  <div class="Grid">
    <dl class="Grid-row" ng-repeat="note in notes.results">
      <dt class="Grid-col Grid-col--1-5">
        <timestamp ng-model="::note.created"></timestamp>
        <br>
        ({{ ::note.created_by}})
      </dt>
      <dd class="Grid-col Grid-col--4-5">
        <blockquote class="Quote" ng-bind-html="::note.diffHTML|nl2br"></blockquote>
      </dd>
    </dl>
  </div>
</div>

<nav class="cf">
  <div class="BtnGroup cf u-pullLeft" ng-if="notes.next || notes.previous">
    <a href="" class="BtnGroup-button" ng-disabled="notes.previous === null" ng-click="goToPreviousPage()">‹‹ Previous</a>
    <a href="" class="BtnGroup-button" ng-disabled="notes.next === null" ng-click="goToNextPage()">Next ››</a>
  </div>

  <button ng-click="close()" class="Button Button--text u-pullLeft u-spaced">Close</button>
</nav>
