<header>
  <h2>Notes history</h2>
  <a href="" ng-click="toggleSummary()" class="Label" ng-class="{'is-selected': !summary}" ng-if="notes.results.length">Show in detail</a>
</header>

<ul class="Grid NotesHistory" ng-if="notes.results.length">
  <li dir-paginate="note in notes.results | itemsPerPage: 5" total-items="notes.count" current-page="currentPage" class="Grid-row NotesHistory-item">
    <span class="Grid-col Grid-col--1-5">
      <timestamp ng-model="::note.created"></timestamp>
      <br>
      ({{ ::note.created_by }})
    </span>
    <span class="Grid-col Grid-col--4-5">
      <blockquote class="Quote" ng-bind-html="::note.diffHTML|nl2br"></blockquote>
    </span>
  </li>
</ul>

<p ng-if="!notes.results.length">There are currently no historical notes events for this case.</p>

<nav class="cf">
  <dir-pagination-controls on-page-change="updatePage(newPageNumber)"></dir-pagination-controls>
  <button ng-click="close()" class="Button Button--text u-pullLeft">Close</button>
</nav>
