{% extends "base.html" %}{% load widget_tweaks %}

{% block body_classes %} v-Login{% endblock %}

{% block full_content %}
  <div class="Grid">
    <div class="Grid-row cf">
      <div class="Grid-col Grid-col--3-5 Grid-colPush--1-5">
        <header class="PageHeader">
          <h1>Sign in</h1>
        </header>

        <p>Sign in using your account details to access the system.</p>
        
        <form action="" name="login_frm" method="post" autocomplete="off">
          {% csrf_token %}

          {% include "common/includes/error_summary.html" %}

          {% for field in form %}
            <div class="FormRow cf{% if field.errors %} Error{% endif %}">
              <label for="{{ field.id_for_label }}" id="{{ field.auto_id }}-label">
                <span class="FormRow-label">
                  {{ field.label }}
                  {% for error in field.errors %}
                    <span class="Error-message">{{ error }}</span>
                  {% endfor %}
                </span>
                {{ field }}
              </label>
            </div>
          {% endfor %}
          
          <div class="FormActions">
            <button type="submit" value="signin" name="login-submit" class="Button">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
