.Button {
  @include button;
  @include core-16;
  
  &:link {
    color: $white;
  }
  & + * {
    margin-left: 20px;
  }
  
  // modifiers
  &--secondary {
    @include button($grey-3);
    @include core-19;

    &:link {
      color: $black;
    }
  }
  &--warning {
    @include button($red);
    @include core-19;

    &:link {
      color: $white;
    }
  }
}