.Button {
  @include button;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  // modifiers
  &--secondary {
    @include button($grey-4, $grey-3);
  }
  &--warning {
    @include button($red);
  }
  &--text {
    @include button(transparent);
    color: $link-colour;
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
    border: 0;

    &:visited {
      color: $link-visited-colour;
    }
    &:hover {
      color: $link-hover-colour;
    }
    &:focus,
    &:active {
      color: $link-active-colour;
    }
  }
  &--add {
    padding-left: 23px;

    &:after {
      position: absolute;
      left: 8px;
      top: 5px;
      content: "+";
      font-size: 18px;
      line-height: 1em;
    }
  }
  &--dropdown {
    position: relative;
    padding-right: 2.25em;
    margin-right: 0;

    &:after {
      display: block;
      content: "\25bc";
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 100%;
      font-size: 10px;
      line-height: 26px;
      text-align: center;
      border-left: 1px solid $grey-2;
    }
    &.is-open {
      &:after {
        content: "\25b2";
      }
    }
  }
}


.BtnDropdown {
  position: relative;
}
.BtnDropdown-content {
  @include box-shadow(1px 1px 3px 1px rgba(0,0,0, 0.2));
  position: absolute;
  background-color: #fff;
  top: 33px;
  left: 0;
  width: 180px;
  padding: 15px 20px 20px;

  .BtnDropdown--right & {
    left: auto;
    right: 0;
  }
}


.BtnGroup {
  @extend %contain-floats;

  &--wide {
    margin-top: 12px;
  }
}
.BtnGroup-button {
  @include button($grey-3, $grey-2, 0);
  @include box-shadow(none);
  @include core-14;
  color: $black;
  border: 1px solid $grey-2;
  float: left;
  padding: 5px 10px;
  margin: 0;

  &:focus {
    z-index: 1;
  }

  // modifiers
  &--light {
    @include button($grey-4, $grey-2, 0);
  }

  // for round grouping
  &:not(:first-child) {
    margin-left: -1px;
  }
  &:first-child {
    @include border-radius(4px 0 0 4px);
  }
  &:last-child {
    @include border-radius(0 4px 4px 0);
  }

  // states
  &.is-deselected {
    @include box-shadow(inset 2px 2px 3px -2px $grey-2);
    color: $grey-1;
    background-color: $white;
  }
  &.is-selected {
    @include box-shadow(none);
    background-color: $grey-3;
    color: $black;
  }
}

.ToggleButton {
  @include box-sizing(border-box);
  @include border-radius(3px);
  @include core-14;
  background: none;
  color: $white;
  height: 30px;
  border: 0;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  cursor: pointer;

  &:before {
    margin-right: 8px;
  }

  &--light-blue.is-selected {
    background-color: $light-blue-25;
    color: $black;
    &:before {
      color: $light-blue;
    }
  }
}
