.Button {
  @include button;
  @include core-16;
  margin-right: 10px;
  
  &:link {
    color: $white;
  }
  &:last-child {
    margin-right: 0;
  }
  
  // modifiers
  &--secondary {
    @include button($grey-3);
    @include core-16;

    &:link {
      color: $black;
    }
  }
  &--warning {
    @include button($red);
    @include core-16;

    &:link {
      color: $white;
    }
  }
  &--text {
    @include button(transparent);
    @include core-16;
    padding-left: 0;
    padding-right: 0;
    color: $link-colour;
    text-decoration: underline;
    
    &:visited {
      color: $link-visited-colour;
    }
    &:hover {
      color: $link-hover-colour;
    }
    &:focus,
    &:active {
      color: $link-active-colour;
    }
  }

  &--dropdown {
    position: relative;
    padding-right: 2.25em;
    margin-right: 0;

    &:after {
      display: block;
      content: "\25bc";
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 100%;
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      border-left: 1px solid $grey-2;
    }
    &.is-open {
      &:after {
        content: "\25b2";        
      }
    }
  }
}

.BtnGroup {
  @extend %contain-floats;
}
.BtnGroup-button {
  @include button($white);
  @include box-shadow(inset 2px 2px 3px -2px $grey-2);
  color: $grey-1;
  border: 1px solid $grey-2;
  float: left;
  padding: 5px 10px;

  &:active,
  &:focus,
  &:hover {
    background-color: $white;
  }
  
  // for round grouping
  &:not(:first-child) {
    margin-left: -1px;
  }
  &:first-child {
    @include border-radius(4px 0 0 4px);
  }
  &:last-child {
    @include border-radius(0 4px 4px 0);
  }

  &.is-selected {
    @include box-shadow(none);
    background-color: $grey-3;
    color: $black;
  }
}

.BtnDropdown {
  position: relative;
}
.BtnDropdown-content {
  @include box-shadow(1px 1px 3px 1px rgba(0,0,0, 0.2));
  position: absolute;
  background-color: #fff;
  top: 33px;
  left: 0;
  width: 180px;
  padding: 15px 20px 20px;

  .BtnDropdown--right & {
    left: auto;
    right: 0;
  }
}

.BlockLink {
  @include core-14;
  @include border-radius(3px);
  @include box-sizing(border-box);
  background-color: $white;
  border: 1px solid $grey-2;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  padding: 6px 12px;
  margin: 0 0 10px;
  text-decoration: none;
  position: relative;

  &:link,
  &:active,
  &:visited {
    color: $black;
  }
  &:hover {
    .BlockLink-text {
      text-decoration: underline;
    }
  }

  &--add {
    padding-left: 25px;

    &:before {
      position: absolute;
      left: 8px;
      top: 2px;
      content: "+";
      font-size: 22px;
      line-height: 1em;
      color: $grey-1;
    }
  }
}