.Button {
  @include button;
  @include core-16;
  margin-right: 10px;
  
  &:link {
    color: $white;
  }
  &:last-child {
    margin-right: 0;
  }
  
  // modifiers
  &--secondary {
    @include button($grey-3);
    @include core-16;

    &:link {
      color: $black;
    }
  }
  &--warning {
    @include button($red);
    @include core-16;

    &:link {
      color: $white;
    }
  }
  &--text {
    @include button(transparent);
    @include core-16;
    padding-left: 0;
    padding-right: 0;
    color: $link-colour;
    text-decoration: underline;
    
    &:visited {
      color: $link-visited-colour;
    }
    &:hover {
      color: $link-hover-colour;
    }
    &:focus,
    &:active {
      color: $link-active-colour;
    }
  }

  &--dropdown {
    position: relative;
    padding-right: 2.25em;
    margin-right: 0;

    &:after {
      display: block;
      content: "\25bc";
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 100%;
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      border-left: 1px solid $grey-2;
    }
    &.is-open {
      &:after {
        content: "\25b2";        
      }
    }
  }
}

.BtnDropdown {
  position: relative;
}
.BtnDropdown-content {
  @include box-shadow(1px 1px 3px 1px rgba(0,0,0, 0.2));
  position: absolute;
  background-color: #fff;
  top: 33px;
  left: 0;
  width: 180px;
  padding: 15px 20px 20px;

  .BtnDropdown--right & {
    left: auto;
    right: 0;
  }
}

.BlockLink {
  @include core-14;
  @include border-radius(3px);
  background-color: $grey-4;
  display: block;
  padding: 6px 10px 4px;
  margin: 10px 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.is-closed,
  &.is-open {
    &:before {
      content: "\25b6";
      margin-right: 5px;
      font-size: 12px;
    }
    // to avoid underline on before element
    &:hover {
      text-decoration: none;
      .BlockLink-text {
        text-decoration: underline;
      }
    }
  }
  &.is-open {
    background-color: $light-blue;
    color: #fff;

    &:before {
      content: "\25bc";
    }
  }
}