.CallbackMatrix {
  margin: 11px 0 20px;
}

.CallbackMatrix-th {
  font-weight: 400;

  thead & {
    padding-bottom: 10px;
  }
  tbody & {
    padding-right: 15px;
  }

  &--unavailable {
    color: $grey-2;
  }
}

.CallbackMatrix-cell {
  height: 40px;
  background-color: $white;
  border: 1px solid $grey-3;
  position: relative;
  overflow: hidden;

  &--unavailable {
    @include repeating-linear-gradient($grey-3, $white);
    border: 0;
  }
  &--unselected {
    @include opacity(0.4);
  }

  &:not(.CallbackMatrix-cell--unavailable) {
    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 20px;
      left: -6px;
      height: 1px;
      width: 120%;
      display: block;
      background-color: $grey-3;
    }

    &:before {
      @include rotate(33);
    }

    &:after {
      @include rotate(-33);
    }

    &:hover {
      @include opacity(1);
    }
  }
}

.CallbackMatrix-slot {
  display: block;
  height: 100%;
  border: 1px solid transparent;

  &:hover {
    border-color: $grey-1;
  }
}

.CallbackMatrix-density {
  border: 0;
  position: relative;
  z-index: 2;
  // &--1 {
  //   fill: lighten($light-blue, 40%);
  // }
  // &--2 {
  //   fill: lighten($light-blue, 32%);
  // }
  // &--3 {
  //   fill: lighten($light-blue, 24%);
  // }
  // &--4 {
  //   fill: lighten($light-blue, 16%);
  // }
  // &--5 {
  //   fill: lighten($light-blue, 8%);
  // }
  // &--6 {
  //   fill: $light-blue;
  // }
  &--1 {
    background-color: $grey-3;
  }
  &--2 {
    background-color: $grey-2;
  }
  &--3 {
    background-color: $grey-1;
  }
  &--4 {
    background-color: $black;
  }
}
