// $colours: #eee, $grey-3, $grey-2, $grey-1, $black;
// $colours: #deebf7, #9ecae1, #6baed6, #3182bd, #08519c;
$colours: $yellow-50, $yellow, $orange, $mellow-red, $red;

.CallbackMatrix {
  margin: 11px 0 20px;
}

.CallbackMatrix-placeholder {
  @include core-19;
  margin: 55px 0 0;
}

.CallbackMatrix-th {
  font-weight: 400;

  thead & {
    padding-bottom: 10px;
  }
  tbody & {
    padding-right: 15px;
  }

  &--unavailable {
    color: $grey-2;
  }
}

.CallbackMatrix-cell {
  height: 40px;

  &--empty {
    background-color: $grey-4;
    position: relative;
    overflow: hidden;
  }

  &--unavailable {
    @include repeating-linear-gradient($grey-3, $white);
    border: 0;

    svg {
      display: none;
    }
  }
}

.CallbackMatrix-cellCross {
  @include box-sizing(border-box);
  background-color: $white;
  position: absolute;
  border: 1px solid $grey-3;
  top: 0;
  left: 0;
  stroke: $grey-3;
  stroke-width: 1;
  display: none;
}

.CallbackMatrix-slot {
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid transparent;
}

.CallbackMatrix-density {
  @include box-sizing(border-box);
  position: relative;
  border: 3px solid transparent;

  &:active,
  &:focus {
    outline: none;
    background-color: transparent;
  }

  &.is-active {
    @extend .Icon;
    @extend .Icon--compact;
    @extend .Icon--solidTick;
  }

  @each $colour in $colours {
    $i: index($colours, $colour);
    &--#{$i} {
      background-color: $colour;

      &:active,
      &:focus {
        background-color: $colour;
      }

      &.is-active {
        @if $i > 3 {
          @extend .Icon--light;
        } @else {
          @extend .Icon--dark;
        }
      }
    }
  }
}

// legend
.CallbackMatrix-legend {
  margin: 15px 0;
}
.CallbackMatrix-legendLabel {
  display: block;
  float: left;
  color: $grey-1;

  &:first-child {
    margin-right: 10px;
  }
  &:last-child {
    margin-left: 10px;
  }
}
.CallbackMatrix-legendItem {
  display: block;
  float: left;
  margin: 1px 2px;
  height: 14px;
  width: 14px;
}
