.CaseSearch {
  float: left;
  margin: 4px 20px 0;
  position: relative;
}
.CaseSearch-label {
  @include box-sizing(border-box);
  @include border-radius(3px 0 0 3px);
  @include core-16;
  display: block;
  float: left;
  background-color: $white;
  height: 30px;
  width: 70px;
  padding: 8px 8px;

  @include media(tablet) {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  // body.js-enabled & {
  //   position: absolute;
  //   background-color: transparent;
  // }
}
input.CaseSearch-query {
  @include box-sizing(border-box);
  @include border-radius(0 3px 3px 0);
  @include core-16;
  height: 30px;
  width: 165px;
  padding: 4px 8px;
  border: 0;
  float: left;
  display: block;
  background-color: $white;

  // body.js-enabled & {
  //   @include border-radius(3px);
  //   width: 235px;
  // }
}
.CaseSearch-submit {
  width: 30px;
  height: 30px;
  background: url(../images/icons/search-button.png) -2px -20px #6F777B;
  text-indent: -1000px;
  overflow: hidden;
  border: 0;
  margin-left: 5px;
  @include border-radius(3px);

  &:hover {
    background-color: lighten(#6F777B, 5%);
  }
}