.CaseList {
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 15px;
    font-weight: 400;
  }

  tr {
    td {
      border-top: 1px solid $grey-2;
      border-bottom: 1px solid $grey-2;
      background-color: $grey-4;
      padding: 12px 15px;
    }
      
    &.is-new td {
      background-color: $yellow-25;
    }
      
    &.is-rejected td {
      &:first-child {
        border-left: 3px solid $mellow-red;
        @extend .Icon;
        @extend .Icon--alert;
        @extend .Icon--red;

        &:before {
          position: relative;
          top: 3px;
        }
      }
      border-color: $mellow-red;
      background-color: $yellow-25;
    }
  }
}