.CaseNumber {
  @include bold-24;
  margin: 40px 0 0;
  padding: 0;
  color: $grey-1;
  
  &:before,
  &:after {
    color: $grey-1;
  }
}
.CaseNumber-entitlement {
  @include core-14;
  padding: 0;
  margin: 0;
  color: $grey-1;
}