.CaseList {
  @include item-list;
  tr {
    &.is-new td {
      background-color: $yellow-25;
    }

    &.is-rejected td {
      &:first-child {
        border-left-width: 4px;
        @extend .Icon;
        @extend .Icon--alert;
        @extend .Icon--mellowred;

        &:before {
          position: relative;
          top: 3px;
        }
      }
      &:last-child {
        border-right-width: 1px;
      }
      border-color: $mellow-red;
      background-color: $yellow-25;
    }
  }
}
