.CaseHistory {
  margin: 10px 0 0;
  padding: 0;
  color: $grey-1;
}

.CaseHistory-card {
  list-style: none;
  line-height: 1.4em;
  margin-bottom: 20px;
  padding: 10px 10px;
  background: #fff;
}

.CaseHistory-card {
  display: block;
  @include core-14;
}

.CaseHistory-subtitle {
  @include bold-14;
  color: $black;
  padding: 0;
  margin: 0 0 10px;
}

.CaseHistory-log {
  margin: 15px 0 0;
  padding: 0;
}

.CaseHistory-logItem {
  padding: 0;
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
.CaseHistory-logItemNotes {
  display: block;
  word-wrap: break-word;

  &--indent {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 3px solid $grey-2;
  }
}

.CaseHistory-label {
  @include border-radius(15px);
  border: 1px solid $grey-2;
  color: $grey-1;
  display: inline-block;
  padding: 3px 8px 1px;
  margin-top: -2px;
  margin-bottom: 5px;
  background-color: $white;
}

.ComplaintHistory-card {
  background: $grey-4;

  .CaseHistory-logItemNotes {
    white-space: pre-wrap;
  }
}
