.CaseSearch {
  position: relative;
  margin-bottom: 10px;

  @include media(desktop) {
    float: left;
    margin-bottom: 0;
    width: 25%;
    // margin: 0 1.5625% 0 0;
  }
}
.CaseSearch-inner {
  @include media(desktop) {
    padding-left: 0;
    padding-right: 30px;
  }
}
.CaseSearch-label {
  @include box-sizing(border-box);
  @include core-16;
  display: block;
  background-color: $white;
  height: 30px;
  width: 60px;
  padding: 8px 8px;
  color: $grey-1;
  position: absolute;
  top: 0;
  left: 0;

  @include media(tablet) {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
input.CaseSearch-query {
  @include box-sizing(border-box);
  @include core-16;
  height: 30px;
  width: 100%;
  padding: 4px 8px;
  border: 0;
  float: left;
  display: block;
  background-color: $white;

  &:focus {
    position: relative;
    z-index: 2;
  }
}
.CaseSearch-submit {
  width: 30px;
  height: 30px;
  background: url(../images/icons/search-button.png) -2px -20px $grey-1;
  text-indent: -1000px;
  overflow: hidden;
  border: 0;
  margin-left: 5px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  &:hover {
    background-color: lighten($grey-1, 5%);
  }
}
