.CommentBlock {
  margin: 0 0 20px;
  position: relative;

  .Quote {
    padding-top: 0;
  }
  .CommentText {
    padding-top: 0;
  }
}
.CommentBlock-author {
  @include core-14;
  display: inline-block;
  position: relative;
  margin: 0;
  color: $grey-1;
  font-style: normal;
}
.CommentBlock-history {
  @extend .Icon;
  @extend .Icon--historicalCase;
  position: absolute;
  top: -5px;
  right: 1px;

  &:before {
    @include border-radius(3px);
    margin-right: 0;
    padding: 5px;
    background-color: $grey-4;
    border: 1px solid $grey-2;
  }
}
.CommentBlock-heading {
  @include core-14;
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.CommentBlock-details {
  @include core-14;
  font-size: 14px;
  margin-bottom: 20px;
}
