.CommentBlock {
  margin: 10px 0;

  .Quote {
    padding-top: 0;
  }
}
.CommentBlock-author {
  @include core-14;
  display: inline-block;
  position: relative;
  top: -4px;
  margin: 0;
  color: $grey-1;
  font-style: normal;
}