details {
  @include core-19;

  summary {
    color: $link-colour;
    cursor: pointer;
    text-decoration: underline;

    &:focus {
      background-color: $yellow;
      outline: 3px solid $yellow;
    }
  }

  div {
    border-left: 3px solid #ccc;
    padding: 10px 60px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}