details {
  display: block;

  summary {
    @include core-14;
    display: block;
    color: $link-colour;
    cursor: pointer;
    text-decoration: underline;

    &:focus {
      outline: none;
    }
    &:hover {
      color: $link-hover-colour;
    }
    &:active {
      color: $link-active-colour;
    }
  }

  > div {
    display: none;
    border-left: 3px solid #ccc;
    border-bottom: 1px transparent #ccc;
    padding: 0 30px;
    margin-top: 10px;
    margin-bottom: 25px;

    @include ie(7) {
      zoom: 1;
    }

    p, ul, ol {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &[open] > div {
    display: block;
  }

  // no native support
  &.is-notnative {
    summary:before {
      content: "►";
      float: left;
      width: 18px;
      font-size: 0.8em;
      line-height: 1.7em;
    }

    &.is-open summary:before {
      content: "▼ ";
    }
  }
}
