$select-colour: #D5E8F4;
$focus-colour: $yellow;
$border-colour: $grey-2;



.FormBlock {
  margin: 0;

  &--grey {
    padding: 1.75em 1.4286em;
    margin: 0 0 1.5em;
    border-width: 1px 0;
    border-color: $border-colour;
    border-style: solid;
    background-color: $grey-4;

    p:first-child {
      margin-top: 0;
    }
  }

  &--yellow {
    border-width: 1px 0;
    border-color: $border-colour;
    border-style: solid;
    background-color: $yellow-25;
    padding: 1.5em 1.25em;
    margin: 0 0 1.5em;
  }
}
.FormBlock-label {
  @include core-19;
  margin-bottom: 0;

  &--inline {
    margin-right: 10px;
    float: left;
  }
}
.FormBlock-actions {
  margin-top: -10px;
  margin-bottom: 1.5em;
}

.FormRow {
  margin: 0 0 20px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  clear: both;
  display: block;

  .FormBlock--grey &:last-child {
    margin-bottom: 0;
  }

  label {
    @include core-14;
  }

  .FormRow-label {
    @include core-14;
    margin: 0 0 3px;
    padding: 0 0 0 0;
    display: block;

    &--odd {
      background-color: $grey-4;
      border: 1px solid #d8d8d8;
    }

    &--inline {
      padding: 6px 15px 0 0;
      float: left;
    }
    &--right {
      float: right;
      padding-right: 0;
    }
  }

  .FormRow-optionLegend {
    margin: 15px 0 2px;
    font-weight: 700;

    &--divider {
      border-top: 1px solid $border-colour;
      padding-top: 15px;
      margin-top: 20px;
    }
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  textarea {
    @include core-14;
    border: 1px solid $border-colour;
    padding: 2px 5px;
    margin: 0;
    display: inline-block;
    float: left;
    width: 230px;
    height: 30px;
    @include box-sizing(border-box);
  }
  textarea {
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    width: 100%;
  }
  select {
    @include core-14;
    display: inline-block;
    border: 1px solid $border-colour;
    padding: 2px 4px;
    margin: 0;
    height: 30px;
    background: #fff;
    @include border-radius(0);
    @include box-sizing(border-box);

    &.FormRow-field--interval {
      margin: 0 0 0 15px;
      float: left;
    }
  }

  // Disabled button styles
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  textarea,
  select {
    &.disabled,
    &[disabled="disabled"],
    &[disabled] {
      @include opacity(0.5);
      &:hover{
        cursor: default;
      }
    }
  }

  // size modifiers
  input,
  select,
  textarea,
  div {
    &.FormRow-field--full {
      width: 100%;
    }
    &.FormRow-field--l {
      width: 420px;
    }
    &.FormRow-field--m {
      width: 205px;
    }
    &.FormRow-field--s {
      width: 50px;
    }
    &.FormRow-field--xs {
      width: 35px;
    }
    &.FormRow-field--inline {
      margin-right: 10px;
      float: left;
    }
  }

  .is-warning {
    input,
    select,
    textarea,
    div {
      border-color: $orange;
    }
  }

  // shorten if in column
  .Grid-col--1-3 {
    .FormRow-prefix,
    .FormRow-suffix {
      width: 11.5942%;
    }
    input[type=text],
    input[type=password],
    input[type=number] {
      width: 82.4058%;
    }
  }
  // remove spinner
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .FormRow-option {
    display: block;
    float: left;
    clear: both;
    padding: 10px 25px 10px 20px;
    margin: 1px 10px 0;
    @include label-focusSelect;

    input {
      margin-right: 20px;
    }

    &--inline {
      clear: none;
      margin: {
        left: 0;
        right: 0;
      };
      padding: 0 35px 0 0;
    }

    &--narrow {
      margin: 2px 0;
      padding: 0 20px 0 0;
    }
  }
  .QuestionPrompt-answer {
    margin: 0;
  }

  // modifiers
  &--narrow {
    margin: 0;
    padding: 3px 0;
  }
  &--wide {
    margin: 0;
    padding: 10px 0;
  }

  &--group {
    margin: 0 0 10px;
    padding: 0;

    .FormRow-label {
      padding: 15px 15px;
      margin: 0;
      display: block;
      position: relative;
      @include label-focusSelect;

      input[type="radio"],
      input[type="checkbox"] {
        float: left;
        margin-right: 20px;
      }

      .FormRow-labelText {
        position: relative;
        margin-left: 35px;
        display: block;

        &:not(.FormRow-labelText--basic) {
          p {
            padding: 0;
            margin: 0;
          }
        }

        &.FormRow-labelText--basic {
          p {
            padding: 0;
            margin: 0;
          }
          p:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
    &Narrow {
      margin: 0 0 5px;

      .FormRow-label {
        padding: 0;
      }
    }
  }
  // Duplicate to handle xeditable form styles
  .editable-radiolist,
  .editable-checklist,
  .editable-checkbox {
    display: block;
    margin: 0;
    padding: 0;

    label {
      margin: 0;
      padding: 3px 0;
      display: block;
      position: relative;

      input {
        float: left;
        position: relative;
        z-index: 2;
        margin: 4px 0 0;
      }
      span {
        display: block;
        position: relative;
        padding-left: 25px;
        font-size: 14px;
      }
    }
  }

  &--details {
    border-bottom: 1px solid transparent;

    .FormRow-label {
      padding-right: 145px;
    }

    details {
      summary {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
      }
    }

    &.FormRow--group {
      details {
        summary {
          top: 25px;
          right: 25px;
        }
        div {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }

    &.FormRow--groupNarrow {
      details {
        summary {
          top: 0px;
          right: 25px;
        }
        > div {
          padding-right: 60px;
          padding-left: 15px;
          margin: 10px 0 10px 35px;
        }
      }
    }
  }

  &--help {
    .Grid-col--1-3 {
      input[type=text],
      input[type=password],
      input[type=number] {
        width: 47.4058%;
      }
      .FormRow-help {
        @include media(960px) {
          width: 35%;
        }
      }
    }
  }

  &--inline {
    .FormRow-label {
      float: left;
      width: 200px;
      margin: 0;
      padding-top: 5px;
    }
    select,
    input[type=text],
    input[type=password],
    input[type=number],
    textarea {
      float: left;
    }
  }

  &.QuestionPrompt--active {
    .FormRow-label {
      font-weight: 700;
    }
  }
}

.FormRow-prefix,
.FormRow-suffix {
  display: inline-block;
  float: left;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 1px solid $border-colour;
  text-align: center;
  @include box-sizing(border-box);

  &.is-warning,
  .is-warning & {
    border-color: $orange;
  }
}
.FormRow-prefix {
  border-right: 0;
}
.FormRow-suffix {
  border-left: 0;
}
.FormRow-help {
  display: block;
  clear: both;
  @include box-sizing(border-box);

  @include media(960px) {
    float: left;
    clear: none;
    padding-top: 6px;
    margin-left: 15px;
  }
}

.FormRow-inner {
  padding: 10px 37px 0;
  margin: 0;
  display: block;

  .FormRow--group & {
    @include core-14;
  }

  label {
    display: block;
    margin: 0 0 15px;
  }
}

.Search-submit {
  width: 30px;
  height: 30px;
  background: url(../images/icons/search-button.png) -2px -20px $grey-1;
  text-indent: -1000px;
  overflow: hidden;
  border: 0;
  margin-left: -1px;
  z-index: 1;
  float: left;
  display: block;

  &:hover {
    background-color: lighten($grey-1, 5%);
  }
}

.FieldGroup {
  padding-bottom: 15px;

  .FieldGroup-label {
    @include core-19;
  }
  .FormRow-label {
    text-indent: 40px;
  }
}

.FormActions {
  margin: 20px 0 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
