$fixed-col-width: 240; // in pixels
$col-gutter: 20; // in pixels

.Grid {  
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 -10px;

  .Grid-row {
    padding: 0 10px;
  }

  .Grid-col {
    @include media (tablet) {
      float: left;
      width: 100%;
      padding-bottom: 20px;
      @include box-sizing(border-box);

      &:last-child {
        margin-right: 0;
      }
      
      // 3 column grid
      &--1-3 {
        width: 32.35294%;
        margin-right: 1.47059%;
      }  
      &--2-3 {
        width: 66.17647%;
        margin-right: 1.47059%;
      }
      
      // 5 column grid
      &--1-5 {
        width: 18.75%;
        margin-right: 1.5625%;
        position: relative;
      }
      &--2-5 {
        width: 39.0625%;
        margin-right: 1.5625%;
      }
      &--3-5 {
        width: 59.375%;
        margin-right: 1.5625%;
      }
      
      // fixed/fluid grid
      &--fixed {
        width: $fixed-col-width + px;
        margin-right: 0;
      }
      &--fluid {
        margin-left: ($fixed-col-width + $col-gutter) + px;

        .Grid-col--fluid {
          margin-left: 0;
          margin-right: ($fixed-col-width + $col-gutter) + px;
        }
      }
      &--right {
        float: right;
      }

      // colour bg
      &--bg-colour {
        &:before {
          display: block;
          content: " ";
          position: absolute;
          z-index: -1;
          width: 100%;
          background: $grey-4;
          margin-bottom: -99999px;
          padding-bottom: 99999px;
        }
        &:last-child {
          &:before {
            padding-right: 10px;
          }
        }
        &:first-child {
          &:before {
            padding-right: 10px;
            margin-left: -10px;
          }
        }
      }
    }
  }

  .Grid-colInner {
    padding: 0 15px;
  }

  .Grid-colFluid {
    position: relative;
    margin-left: ($fixed-col-width + $col-gutter) + px;
  }
  
  .Grid-colPush {

    &--1-3 {
      margin-left: 32.35294%;
    }
    &--2-3 {
      margin-left: 66.17647%;
    }
  }
}