.LabelGroup {
  @extend %contain-floats;
  padding-left: 1px;
  margin-right: 5px;
  display: inline-block;
  font-size: 0;
}

.Label {
  @include core-14;
  display: inline-block;
  padding: 4px 10px;
  margin: 0;
  background-color: $white;
  color: $light-blue;
  border: 1px solid $light-blue;
  text-decoration: none;
  @include border-radius(3px);

  &:not(:last-child) {
    margin-right: 5px;
  }

  .Label + & {
    margin-bottom: 10px;
  }

  &:focus {
    background-color: $white;
    position: relative;
  }

  input + & {
    margin-left: 10px;
  }

  .LabelGroup & {
    margin: 0 0 0 -1px;
    @include border-radius(0);

    &:first-child {
      @include border-radius(3px 0 0 3px);
    }
    &:last-child {
      @include border-radius(0 3px 3px 0);
    }
  }

  &.Icon {
    @extend .Icon--blue;
    color: $light-blue;
    position: relative;
    padding-left: 30px;
    &:before, &:after {
      position: absolute;
      left: 8px;
    }
  }

  &.is-selected {
    background-color: $light-blue;
    color: $white;
    &:before, &:after {
      color: $white;
    }
  }

  &.is-removable {
    cursor: pointer;

    &:after {
      content: "x";
      text-transform: uppercase;
      font-weight: 700;
      margin-left: 7px;
    }
  }

  &--secondary {
    @include border-radius(15px);
    padding: 3px 8px 1px;
    background-color: $white;
    color: $grey-1;
    border-color: $grey-2;
  }

  &--single {
    margin: 0;
  }
}

.Label-helpText {
  @include core-14;
  font-size: 12px;
  display: block;
  color: $grey-1;
  padding-top:5px;
}
