.LabelGroup {
  @extend %contain-floats;
}

.Label {
  @include core-14;
  display: inline-block;
  padding: 4px 10px;
  margin: 0 5px 5px 0;
  background-color: $white;
  color: $light-blue;
  border: 1px solid $light-blue;
  text-decoration: none;
  @include border-radius(3px);

  &:focus {
    background-color: $white;
  }

  input + & {
    margin-left: 10px;
  }

  .LabelGroup & {
    margin: 0 0 0 -1px;
    float: left;
    @include border-radius(0);

    &:first-child {
      @include border-radius(3px 0 0 3px);
    }
    &:last-child {
      @include border-radius(0 3px 3px 0);
    }
  }

  &.Icon {
    position: relative;
    padding-left: 26px;
    &:before, &:after {
      position: absolute;
      left: 6px;
    }
  }

  &.is-selected {
    background-color: $light-blue;
    color: #fff;
  }

  &--secondary {
    background-color: #fff;
    border-color: #000;

    &.is-selected {
      background-color: #fff;
    }
  }
}