.ListTable {
  border-collapse: collapse;
  @include core-14;

  th {
    text-align: left;
    padding: 15px;
    font-weight: 400;
  }

  tr {
    td {
      border: {
        style: solid;
        width: 1px 0;
        color: $grey-2;
      }
      background-color: $grey-4;
      padding: 12px 15px;
    }

    &.is-new td {
      background-color: $yellow-25;
    }
    &.is-complete td {
      background-color: #E8F0F0;
    }
    &.is-rejected td {
      &:first-child {
        border-left-width: 4px;
        @extend .Icon;
        @extend .Icon--alert;
        @extend .Icon--mellowred;
      }
      &:last-child {
        border-right-width: 1px;
      }
      border-color: $mellow-red;
      background-color: $yellow-25;
    }
  }
}
