.ListTable {
  border-collapse: collapse;
  @include core-14;

  th {
    text-align: left;
    padding: 15px;
    font-weight: 400;
  }

  tr {
    td {
      border: {
        style: solid;
        width: 1px 0;
        color: $grey-2;
      }
      background-color: $grey-4;
      padding: 12px 15px;

      &:first-child {
        padding-right: 0;

        .Icon:before {
          margin-right: 0;
        }
      }
    }

    // states
    &.is-new td {
      background-color: $yellow-25;
    }
    &.is-complete td {
      background-color: #E8F0F0;
    }
    &.is-closed td {
      background-color: $grey-3;
    }
    &.is-rejected td {
      background-color: $yellow-25;
      .Icon {
        @extend .Icon--mellowred;
      }
    }
    &.is-warning td {
      .Icon {
        @extend .Icon--mellowred;
      }
      .Label {
        border-color: $mellow-red;
        color: $mellow-red;
      }
      .Label-helpText {
        color: $mellow-red;
      }
    }
    &.is-important td {
      background-color: #FAEBEC;
      .Icon {
        @extend .Icon--mellowred;
      }
      &:first-child {
        border-left: 3px solid $mellow-red;
      }
      .Label {
        border-color: $mellow-red;
        background-color: $mellow-red;
        color: $white;
      }
      .Label-helpText {
        color: $mellow-red;
      }
    }
  }
}
