.Notice {
  border-left: 3px solid $orange;
  background-color: lighten($orange-25, 6%);
  padding: 0.75em 1.5em;
  margin: 10px 0;
  list-style: none;

  .VCard & {
    margin: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}