.Notes {
  position: relative;

  textarea {
    padding-right: 30px;
  }
}
.Notes-history {
  @extend .Icon;
  @extend .Icon--historicalCase;
  position: absolute;
  top: 5px;
  right: 1px;

  &:before {
    @include border-radius(0 0 0 3px);
    margin-right: 0;
    padding: 5px;
    background-color: $grey-4;
    border: 0 solid $grey-2;
    border-width: 0 0 1px 1px;
  }
}
