.Pills {
  @include core-19;
  list-style: none;
  padding: 0 0 20px;
  margin: 20px 0;
  border-bottom: 1px solid $grey-2;

  &--large {
    @include core-24;
  }
}

.Pills-pill {
  @include inline-block;
  padding: 0;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.Pills-pillLink {
  @include inline-block;
  @include border-radius(3px);
  border: 1px solid transparent;
  color: $black;
  text-decoration: none;
  padding: 8px 12px 4px;

  &:hover {
    background-color: $grey-3;
  }

  &:link,
  &:hover,
  &:active,
  &:visited {
    color: $black;

    .is-active & {
      background-color: $grey-3;
      border-color: $grey-1;
    }

    .is-disabled & {
      color: $grey-2;
      cursor: default;
      background-color: transparent;
    }

    .is-warning & {
      border-color: $orange;
      background-color: lighten($orange-25, 6%);
    }
  }
}
