.Pills {
  @include core-19;
  list-style: none;
  padding: 0 0 15px;
  margin: 15px 0;

  &--large {
    @include core-24;
  }
}

.Pills-pill {
  display: inline-block;
  padding: 8px 12px 4px;
  border: 1px solid transparent;
  @include border-radius(3px);

  &.is-active {
    background-color: $grey-3;
    border-color: $grey-2;
  }
  &.is-disabled {
    color: $grey-2;
  }
}

.Pills-pillLink {
  color: $black;
  text-decoration: none;

  &:link,
  &:hover,
  &:active,
  &:visited {
    color: $black;

    .is-disabled & {
      color: $grey-2;
      cursor: default;
    }
  }
}
