.ProgressIndicator {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 20px 0;
  display: table;

  .ProgressIndicator-step {
    @include core-19;
    display: table-cell;
    color: $black;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20%;
    position: relative;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .ProgressIndicator-tick {
      padding-right: 22px;
    }

    &.is-complete {
      font-weight: 700;
    }

    &.is-active {
      font-weight: 700;
      a {
        color: $black;
        text-decoration: none;
      }
    }
  }
}