$complete-colour: #2C8CC5;

.ProgressIndicator {
  @include core-24;
  padding: 0;
  margin: 30px 0 0;

  .ProgressIndicator-step {
    display: block;
    padding: 8px 0;

    .ProgressIndicator-tick {
      background: {
        position: right center;
        repeat: no-repeat;
      }
      @include svg-bg("../images/progress-indicator/tick");
      padding-right: 25px;

      &:link {
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    &:last-child, 
    .svg &:last-child {
      padding-right: 15px;
      background-image: none;

      &.is-active {
        background-image: none;
      }
    }

    &.is-complete {
      color: $complete-colour;
    }

    &.is-active {
      font-weight: 700;
    }
  }
}