.ScriptBlock {
  margin: 0 0 20px;
  padding: 0 20px 0 40px;
  background-color: $light-blue-25;
  border-left: 3px solid $light-blue;
  position: relative;
  overflow: auto;

  @extend .Icon;
  // @extend .Icon--script;
  &:before {
    position: absolute;
    top: 0.9em;
    left: 0.8em;
    color: $light-blue;
  }
}
