.selectize-control {
  position: relative;
  width: 100%;
}

.selectize-input {
  @include core-14;
  @include border-radius(2px);
  position: relative;
  z-index: 1;
  padding: 0 26px 0 0;
  background: $grey-4;
  border: 1px solid $grey-2;
  min-height: 30px;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 50%;
    right: 8px;
    display: block;
    margin-top: -3px;
    border-color: #000 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    content: ' ';
    clear: left;
  }

  > * {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
  }

  input[type="text"] {
    @include border-radius(2px 0 0 2px);
    width: 100%;
    border: 0;
    background: $grey-4;
    padding-top: 4px;

    &:focus {
      background: #fff;
    }
    &::-webkit-input-placeholder {  
      padding-top: 1px;
      font-weight: 400;
    }
  }
}

.ui-select-match {
  cursor: default;
  overflow: hidden;
  width: 100%;
  height: 24px;

  span {
    display: block;
    white-space: nowrap;
    padding: 7px 5px 4px 5px;
  }
}

.selectize-dropdown {
  @include box-sizing(border-box);
  @include box-shadow(1px 1px 3px $grey-3);
  @include core-14;
  top: 34px;
  width: 100%;
  position: absolute;
  z-index: 10;
  background: #fff;
  border: 1px solid $grey-2;
}

.ui-select-offscreen {
  position: absolute;
  left: -9999em;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.selectize-dropdown-content {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.option[data-selectable] {
  cursor: pointer;
  padding: 5px 10px 2px 10px;

  &:hover,
  .active & {
    background-color: $light-blue-25;
  }
}

.ui-select-highlight {
  font-weight: bold;
}

.selectize-dropdown .optgroup-header {
  @include bold-14;
  background: $grey-4;
  padding: 5px 10px 2px 10px;
}
