$background-colour: #E8F0F0;
$border-colour: #C2C2C2;

.SummaryBlock {
  position: relative;
}

.SummaryBlock-heading {
  @include core-19;
  padding-top: 0;
}

.SummaryBlock-content {
  background-color: $background-colour;
  padding: 12px 40px 12px 20px;
  margin: 0 0 1.25em;
  list-style: none;
  border: {
    top: 1px solid $border-colour;
    bottom: 1px solid $border-colour;
  };

  .SummaryBlock--compact & {
    &:not(.is-lastChild) {
      margin-bottom: 0;
      border-bottom-width: 0;
    }
  }

  ul, li, blockquote, figcaption {
    padding: 0;
    margin: 0;
  }
  p {
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.SummaryBlock-edit {
  @include core-19;
  position: absolute;
  top: 9px;
  right: 0;

  &:link,
  &:visited {
    color: $black;
  }
  &:hover {
    color: $link-hover-colour;
  }
}