.SummaryBlock {
  position: relative;
}

.SummaryBlock-heading {
  @include core-19;
  padding-top: 0;
}

.SummaryBlock-content {
  background-color: #E8F0F0;
  padding: 12px 40px 12px 20px;
  margin: 0 0 1.25em;
  border: {
    top: 1px solid #C2C2C2;
    bottom: 1px solid #C2C2C2;
  };
  list-style: none;

  ul, li, p, blockquote, figcaption {
    padding: 0;
    margin: 0;
    color: $grey-1;
  }
}

.SummaryBlock-edit {
  @include core-19;
  position: absolute;
  top: 9px;
  right: 0;

  &:link,
  &:visited {
    color: $black;
  }
  &:hover {
    color: $link-hover-colour;
  }
}