.Tabs {
  @extend %contain-floats;
  @include core-24;
  list-style: none;
  padding: 0;
  margin: 15px 0;
  border-bottom: 1px solid $grey-2;

  &--large {
    @include bold-36;
  }
}

.Tabs-tab {
  @include inline-block;
  @include border-radius(3px 3px 0 0);
  padding: 8px 14px 4px;
  margin: 0 0 -1px;
  border: 1px solid transparent;

  &.is-active {
    border-color: $grey-2;
    border-bottom-color: $white;
  }
  &.is-disabled {
    color: $grey-2;
  }
}

.Tabs-tabLink {
  @include inline-block;
  color: $black;
  text-decoration: none;

  &:link,
  &:hover,
  &:active,
  &:visited {
    color: $black;

    .is-disabled & {
      color: $grey-2;
      cursor: default;
    }
  }
}
