.Timer {
  
  &--inline {
    color: $grey-2;
    padding: {
      top: 6px;
      right: 15px;
    }
  }
}

.Timer-value {
  display: block;
  padding-top: 5px;
  color: $grey-1;

  .Timer--inline & {
    @include bold-14;
    display: inline-block;
    color: $grey-2;
    padding-top: 0;
    position: relative;
    top: -2px;
    min-width: 65px;
  }
}

.Timer-button {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: $grey-1;
  text-align: center;
  margin-left: 5px;
  @include border-radius(3px);

  &:link, &:visited, &:active {
    color: $grey-2;
  }

  &:after {
    margin: 0;
    line-height: 18px;
  }
}