.Timer {
  @extend %contain-floats;

  &--inline {
    color: $white;
    padding-top: 2px;
    float: right;
    clear: right;

    @include media(desktop) {
      padding-right: 10px;
      clear: none;
    }
  }
}

.Timer-value {
  display: block;
  padding-top: 5px;

  .Timer--inline & {
    @include bold-14;
    display: inline-block;
    color: $white;
    min-width: 65px;
    padding-top: 0;
  }
}

.Timer-button {
  display: inline-block;
  margin-right: 6px;

  &:link, &:visited, &:active, &:before, &:focus {
    color: $white;
  }
  &:before {
    margin-right: 0;
  }
}