.Timer {
  @extend %contain-floats;

  &--inline {
    color: $white;
    float: right;
    cursor: pointer;
    padding-top: 6px;
    padding-right: 15px;

    @include media(desktop) {
      // padding-top: 6px;
      // padding-right: 15px;
      clear: none;
    }
  }
}

.Timer-warning {
  margin-right: 5px;
}

.Timer-value {
  display: block;
  position: relative;
  padding-top: 7px;

  .Timer--inline & {
    @include bold-14;
    @include inline-block;
    color: $white;
    min-width: 65px;
    padding-top: 0;
    top: 1px;
  }
}

.Timer-icon {
  @extend .Icon;
  @extend .Icon--timer;
  @include inline-block;
  margin: 0 4px;

  .is-hovered & {
    @extend .Icon--stop;
  }
  .is-hovered.is-unstarted & {
    @extend .Icon--play;
  }

  &:link, &:visited, &:active, &:before, &:focus {
    .is-unstarted & {
      color: $orange;
    }
  }

  &:before {
    margin-right: 0;
  }
}
