.UserMenu {
  padding-top: 8px;
  color: #C1CACB;

  @include media(desktop) {
    float: right;
  }
  
  a:link,
  a:visited {
    color: #C1CACB;
  }
}

.UserMenu-status {
  @include core-16;
  float: left;
  margin: 0;
}

.UserMenu-name {
  margin-left: 5px;
  padding-right: 10px;
  border-right: 1px solid;
  display: inline-block;
  line-height: 0.9em;
}

.UserMenu-options {
  @include core-16;
  margin: 0;
  padding: 0;
  float: left;
}

.UserMenu-option {
  list-style-type: none;
  margin-left: 10px;
}