.UserDetails {
  color: $grey-1;
}

.UserDetails-item {
  margin: 0 0 10px;

  &.UserDetails-item--l {
    @include bold-24;
    margin-bottom: 15px;

    &.IconRow {
      background-position: left 5px;
    }
  }
}