.UserMenu {
  @extend %contain-floats;
  float: right;
  position: relative;
  padding-top: 6px;
}

.UserMenu-toggle {
  &:before {
    color: $white;
    margin-right: 0;
  }
}

.UserMenu-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;

  .js & {
    display: none;
  }
  .UserMenu.is-visible & {
    display: block;
  }
}

.UserMenu-options {
  @include dropdown-box;
  padding-bottom: 6px;
  text-align: right;
  white-space: nowrap;
}

.UserMenu-option {
  list-style-type: none;
  margin-bottom: 2px;
}
