version: '3.9'

services:
  cla_frontend:
    build:
      context: ./
      args:
        BASE_REQUIREMENTS_FILE: "requirements/generated/requirements-testing.txt"
    ports:
      - "8000:8000"
    volumes:
      - ./cla_frontend:/home/app/cla_frontend
      - /home/app/cla_frontend/assets
      - /home/app/cla_frontend/static
    environment:
      ENV: local
      DEBUG: "True"
      SECRET_KEY: CHANGE_ME
      BACKEND_BASE_URI: ${BACKEND_BASE_URI:-http://clabackend:8000}
      CALL_CENTRE_CLIENT_ID: b4b9220ffcb11ebfdab1
      CALL_CENTRE_SECRET_ID: 2df71313bdd38a2e1b815015e1b14387e7681d41
      CLA_PROVIDER_CLIENT_ID: 59657ed22d980251cdd3
      CALL_PROVIDER_SECRET_ID: 0494287c65bdf61d29f0eeed467ec8e090f0d80f
      SOCKETIO_SERVER_URL: /socket.io
      BASE_REQUIREMENTS_FILE: "requirements/generated/requirements-dev.txt"