<h2>Choose Address</h2>

<section class="SummaryBlock SummaryBlock--compact">
  <p ng-if="$parent.model.loading">Finding addresses...</p>

  <div class="FormBlock FormBlock--yellow" ng-if="!$parent.model.loading && addresses.length > 0">
    <div class="FormRow cf">
      <input type="text" name="address_search" placeholder="Search addresses" class="FormRow-field--l" ng-model="address_search">
    </div>

    <div class="FormRow FormRow--group FormRow--groupNarrow" ng-repeat="address in addresses | filter:address_search">
      <label class="FormRow-label">
        <input type="radio" value="{{ address.formatted_address }}"
        ng-click="setAddress(address.formatted_address)">
        {{ address.formatted_address.split("\n").join(", ") }}
      </label>
    </div>
  </div>

  <div class="FormBlock FormBlock--yellow" ng-if="!$parent.model.loading && addresses.length == 0">
    <p>No addresses found.</p>
  </div>
</section>

<div class="FormActions">
  <a href="" ng-click="close()">Close</a>
</div>
