<p>The money you and your partner earn affects whether or not you qualify for legal aid. To find out if you're financially eligible, please answer these questions as honestly and fully as you can.</p>

<section>
  <h2 class="FormBlock-label">Your income</h2>

  <div class="FormBlock FormBlock--grey" aria-labelledby="your_income-label" role="group">
    <a href="http://taxandnicalculator.co.uk/" target="_blank">Tax &amp; NI calculator</a><br>
    <a href="http://www.uktaxcalculators.co.uk/reverse-tax-calculator.php" target="_blank">Reverse tax calculator</a>
    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.earnings" mi-label="Wages (Before Tax)" guidance-link="'eligibility_check#ecg-earnings'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.self_employment_drawings" mi-label="Self Employed Drawings (Before Tax)" guidance-link="'eligibility_check#ecg-se_drawings'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.benefits" mi-label="Benefits" guidance-link="'eligibility_check#ecg-benefits'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.tax_credits" mi-label="Tax Credits" guidance-link="'eligibility_check#ecg-tax_credits'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.child_benefits" mi-label="Child Benefit (for household)" guidance-link="'eligibility_check#ecg-child_benefits'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.maintenance_received" mi-label="Maintenance Received" guidance-link="'eligibility_check#ecg-maintenance_received'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.pension" mi-label="Pension income" guidance-link="'eligibility_check#ecg-pension'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.other_income" mi-label="Other income" guidance-link="'eligibility_check#ecg-other_income'" />
    </div>

    <div class="FormRow cf">
      <p class="FormRow-label">Are you self employed? <guidance-link doc="eligibility_check#ecg-self_employed"></guidance-link></p>

      <label for="id_your_income-self_employed_0" class="FormRow-option FormRow-option--inline">
        <input type="radio" name="id_your_income-self_employed" id="id_your_income-self_employed_0" value="1" ng-model="eligibility_check.you.income.self_employed">Yes
      </label>

      <label for="id_your_income-self_employed_1" class="FormRow-option FormRow-option--inline">
        <input type="radio" name="id_your_income-self_employed" id="id_your_income-self_employed_1" value="0" ng-model="eligibility_check.you.income.self_employed">No
      </label>
    </div>
  </div>
</section>

<section ng-show="eligibility_check.has_partner === '1'">
  <h2 class="FormBlock-label">Your partner's income</h2>

  <cla-server-validate data-for="partner.income"></cla-server-validate>

  <div class="FormBlock FormBlock--grey" aria-labelledby="partners_income-label" role="group">
    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.earnings" mi-label="Wages (Before Tax)" guidance-link="'eligibility_check#ecg-earnings'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.self_employment_drawings" mi-label="Self Employed Drawings (Before Tax)" guidance-link="'eligibility_check#ecg-se_drawings'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.benefits" mi-label="Benefits" guidance-link="'eligibility_check#ecg-benefits'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.tax_credits" mi-label="Tax Credits" guidance-link="'eligibility_check#ecg-tax_credits'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.maintenance_received" mi-label="Maintenance Received" guidance-link="'eligibility_check#ecg-maintenance_received'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.pension" mi-label="Pension income" guidance-link="'eligibility_check#ecg-pension'" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.other_income" mi-label="Other income" guidance-link="'eligibility_check#ecg-other_income'" />
    </div>

    <div class="FormRow cf">
      <p class="FormRow-label">Is your partner self employed? <guidance-link doc="eligibility_check#ecg-self_employed"></guidance-link></p>

      <label for="id_partners_income-self_employed_0" class="FormRow-option FormRow-option--inline">
        <input type="radio" name="id_partners_income-self_employed" id="id_partners_income-self_employed_0" value="1" ng-model="eligibility_check.partner.income.self_employed">Yes
      </label>

      <label for="id_partners_income-self_employed_1" class="FormRow-option FormRow-option--inline">
        <input type="radio" name="id_partners_income-self_employed" id="id_partners_income-self_employed_1" value="0" ng-model="eligibility_check.partner.income.self_employed">No
      </label>
    </div>
  </div>
</section>

<section>
  <h2 class="FormBlock-label">Dependants</h2>

  <div class="FormBlock FormBlock--grey Grid" aria-labelledby="dependants-label" role="group">
    <div class="FormRow">
      <div class="Grid-col Grid-col--1-2">
        <label for="id_dependants-dependants_old" class="cf">
          <span class="FormRow-label FormRow-label--inline">
            Dependants aged 16 and over  <guidance-link doc="eligibility_check#ecg-dependants_over_16"></guidance-link>
          </span>
          <input class="FormRow-field--xs" id="id_dependants-dependants_old" min="0" type="number" ng-model="eligibility_check.dependants_old">
        </label>
      </div>

      <div class="Grid-col Grid-col--1-2">
        <label for="id_dependants-dependants_young" class="cf">
          <span class="FormRow-label FormRow-label--inline">
            Children aged 15 and under  <guidance-link doc="eligibility_check#ecg-dependants_under_16"></guidance-link>
          </span>
          <input class="FormRow-field--xs" id="id_dependants-dependants_young" min="0" type="number" ng-model="eligibility_check.dependants_young">
        </label>
      </div>
    </div>
  </div>
</section>
