<section>
  <h2 class="FormBlock-label">You</h2>

  <div class="FormBlock FormBlock--grey">
    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.deductions.mortgage" mi-label="Mortgage" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.deductions.rent" mi-label="Rent" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.deductions.income_tax" mi-label="Tax" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.deductions.national_insurance" mi-label="National Insurance Contributions" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.deductions.maintenance" mi-label="Maintenance" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.deductions.childcare" mi-label="Childcare" />
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Contribution order</span>

        <span class="FormRow-prefix">£</span>

        <input max="2500000" min="0" step="0.01" type="number" ng-model="eligibility_check.you.deductions.criminal_legalaid_contributions">

        <span class="FormRow-help">per month</span>
      </label>
    </div>
  </div>
</section>

<section>
  <h2 class="FormBlock-label">Your partner</h2>

  <div class="FormBlock FormBlock--grey">
    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.deductions.mortgage" mi-label="Mortgage" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.deductions.rent" mi-label="Rent" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.deductions.income_tax" mi-label="Tax" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.deductions.national_insurance" mi-label="National Insurance Contributions" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.deductions.maintenance" mi-label="Maintenance" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.deductions.childcare" mi-label="Childcare" />
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Contribution order</span>

        <span class="FormRow-prefix">£</span>

        <input cla-pence-to-pounds max="2500000" min="0" step="0.01" type="number" ng-model="eligibility_check.partner.deductions.criminal_legalaid_contributions">

        <span class="FormRow-help">per month</span>
      </label>
    </div>
  </div>
</section>