<call-script>
  <p>We will now look at your income for the last calendar month. This runs from today back to {{ oneMonthAgo }}.</p>
</call-script>

<section data-fieldset="your-income">
  <h2 class="FormBlock-label">Your income</h2>

  <div class="FormBlock FormBlock--grey">
    <div class="FormRow cf">
      <p class="FormRow-label">Are you self employed? <guidance-link doc="eligibility_check#ecg-self_employed"></guidance-link></p>

      <label for="id_your_income-self_employed_0" class="FormRow-option FormRow-option--inline">
        <input type="radio" name="id_your_income-self_employed" id="id_your_income-self_employed_0" value="1" ng-model="eligibility_check.you.income.self_employed">Yes
      </label>

      <label for="id_your_income-self_employed_1" class="FormRow-option FormRow-option--inline">
        <input type="radio" name="id_your_income-self_employed" id="id_your_income-self_employed_1" value="0" ng-model="eligibility_check.you.income.self_employed">No
      </label>
    </div>
  </div>

  <div class="FormBlock FormBlock--grey">
    <nav class="FormRow">
      <a href="http://taxandnicalculator.co.uk/" target="_blank">Tax &amp; National Insurance calculator</a><br>
      <a href="http://www.uktaxcalculators.co.uk/reverse-tax-calculator.php" target="_blank">Reverse tax calculator</a>
    </nav>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.earnings" mi-label="What did you earn before tax? (Check your most recent payslips)" guidance-link="'eligibility_check#ecg-earnings'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.deductions.income_tax" mi-label="How much tax do you pay?" guidance-link="'eligibility_check#ecg-expenses_tax'" ng-class="fieldWarningClass(['negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.self_employment_drawings" mi-label="Self Employed Drawings (Before Tax)" guidance-link="'eligibility_check#ecg-se_drawings'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.benefits" mi-label="Benefits" guidance-link="'eligibility_check#ecg-benefits'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.tax_credits" mi-label="Tax Credits" guidance-link="'eligibility_check#ecg-tax_credits'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.child_benefits" mi-label="Child Benefit (for household)" guidance-link="'eligibility_check#ecg-child_benefits'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.maintenance_received" mi-label="Maintenance Received" guidance-link="'eligibility_check#ecg-maintenance_received'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.pension" mi-label="Pension income" guidance-link="'eligibility_check#ecg-pension'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.you.income.other_income" mi-label="Other income" guidance-link="'eligibility_check#ecg-other_income'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>
  </div>
</section>

<section data-fieldset="partner-income" ng-show="hasPartner()">
  <h2 class="FormBlock-label">Your partner's income</h2>

  <cla-server-validate data-for="partner.income"></cla-server-validate>

  <div class="FormBlock FormBlock--grey">
    <div class="FormRow cf">
      <p class="FormRow-label">Is your partner self employed? <guidance-link doc="eligibility_check#ecg-self_employed"></guidance-link></p>

      <label for="id_partners_income-self_employed_0" class="FormRow-option FormRow-option--inline">
        <input type="radio" name="id_partners_income-self_employed" id="id_partners_income-self_employed_0" value="1" ng-model="eligibility_check.partner.income.self_employed">Yes
      </label>

      <label for="id_partners_income-self_employed_1" class="FormRow-option FormRow-option--inline">
        <input type="radio" name="id_partners_income-self_employed" id="id_partners_income-self_employed_1" value="0" ng-model="eligibility_check.partner.income.self_employed">No
      </label>
    </div>
  </div>

  <div class="FormBlock FormBlock--grey">
    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.earnings" mi-label="What did your partner earn before tax? (Based on their most recent payslips)" guidance-link="'eligibility_check#ecg-earnings'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.deductions.income_tax" mi-label="How much tax does your partner pay?" guidance-link="'eligibility_check#ecg-expenses_tax'" ng-class="fieldWarningClass(['negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.self_employment_drawings" mi-label="Self Employed Drawings (Before Tax)" guidance-link="'eligibility_check#ecg-se_drawings'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.benefits" mi-label="Benefits" guidance-link="'eligibility_check#ecg-benefits'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.tax_credits" mi-label="Tax Credits" guidance-link="'eligibility_check#ecg-tax_credits'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.maintenance_received" mi-label="Maintenance Received" guidance-link="'eligibility_check#ecg-maintenance_received'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.pension" mi-label="Pension income" guidance-link="'eligibility_check#ecg-pension'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>

    <div class="FormRow cf">
      <money-interval ng-model="eligibility_check.partner.income.other_income" mi-label="Other income" guidance-link="'eligibility_check#ecg-other_income'" ng-class="fieldWarningClass(['zeroIncome', 'negativeDisposable', 'housing'])" />
    </div>
  </div>
</section>

<section>
  <h2 class="FormBlock-label">Dependants</h2>

  <div class="FormBlock FormBlock--grey Grid">
    <div class="FormRow">
      <label for="id_dependants-dependants_old" class="cf">
        <span class="FormRow-label">
          Do you<span ng-if="hasPartner()"> and your partner</span> have any dependants aged 16 and over? <guidance-link doc="eligibility_check#ecg-dependants_over_16"></guidance-link>
        </span>
        <input class="FormRow-field--xs" id="id_dependants-dependants_old" min="0" type="number" ng-model="eligibility_check.dependants_old">
      </label>
    </div>

    <div class="FormRow">
      <label for="id_dependants-dependants_young" class="cf">
        <span class="FormRow-label">
          Do you<span ng-if="hasPartner()"> and your partner</span> have any dependants aged 15 and under? <guidance-link doc="eligibility_check#ecg-dependants_under_16"></guidance-link>
        </span>
        <input class="FormRow-field--xs" id="id_dependants-dependants_young" min="0" type="number" ng-model="eligibility_check.dependants_young">
      </label>
    </div>
  </div>
</section>
