<section>
  <div ng-show="!eligibility_check.property_set || eligibility_check.property_set.length === 0">
    <h2 class="FormBlock-label">Your property (only for homeowners)</h2>

    <p class="FormBlock FormBlock--grey">
      No properties have been added
    </p>
  </div>

  <div ng-repeat="property in eligibility_check.property_set">
    <div class="clearfix">
      <h2 class="FormBlock-label FormBlock-label--inline">{{ $index+1 | ordinal }} property</h2>
      <button class="Button--text" type="button" value="remove-property" ng-click="removeProperty($index)">Remove property</button>
    </div>

    <div class="FormBlock FormBlock--grey">
      <div class="FormRow cf">
        <label>
          <span class="FormRow-label">What is the current market value of the property? <guidance-link doc="eligibility_check#ecg-property_worth"></guidance-link></span>
          <span class="FormRow-prefix">£</span>
          <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="property.value">
        </label>
      </div>

      <div class="FormRow cf">
        <label>
          <span class="FormRow-label">How much is left to pay on the mortgage? <guidance-link doc="eligibility_check#ecg-property_mortgage_left"></guidance-link></span>
          <span class="FormRow-prefix">£</span>
          <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="property.mortgage_left">
        </label>
      </div>

      <div class="FormRow cf" ng-show="hasSMOD()">
        <p class="FormRow-label">Is the property disputed? <guidance-link doc="eligibility_check#ecg-property_disputed"></guidance-link></p>

        <label class="FormRow-option FormRow-option--inline">
          <input type="radio" value="1" name="property_disputed-{{ $index }}" ng-model="property.disputed">Yes
        </label>

        <label class="FormRow-option FormRow-option--inline">
          <input type="radio" value="0" name="property_disputed-{{ $index }}" ng-model="property.disputed">No
        </label>
      </div>

      <div class="FormRow cf">
        <p class="FormRow-label">Is this your main property? <guidance-link doc="eligibility_check#ecg-property_main"></guidance-link></p>

        <label class="FormRow-option FormRow-option--inline">
          <input type="radio" value="1" name="property_main-{{ $index }}" ng-model="property.main">Yes
        </label>

        <label class="FormRow-option FormRow-option--inline">
          <input type="radio" value="0" name="property_main-{{ $index }}" ng-model="property.main">No
        </label>
      </div>

      <div class="FormRow cf">
        <label>
          <span class="FormRow-label">What percentage of the property do you<span ng-show="hasPartner()"> and/or your partner</span> own? <guidance-link doc="eligibility_check#ecg-property_share"></guidance-link></span>
          <input class="FormRow-field--s" max="100" min="0" type="number" ng-model="property.share">
          <span class="FormRow-suffix">%</span>
        </label>
      </div>
    </div>
  </div>

  <div class="FormBlock-actions">
    <a class="Button Button--secondary Button--add" ng-click="addProperty()">Add property</a>
  </div>
</section>

<section>
  <h2 class="FormBlock-label">Your <span ng-show="hasSMOD()">undisputed </span>savings <guidance-link doc="eligibility_check#ecg-undisputed_savings"></guidance-link></h2>

  <div class="FormBlock FormBlock--grey">
    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">How much was in your bank account/building society before your last payment went in? <guidance-link doc="eligibility_check#ecg-savings_bank_balance"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.you.savings.bank_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Do you have any investments, shares or ISAs? <guidance-link doc="eligibility_check#ecg-savings_investments"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.you.savings.investment_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Do you have any valuable items worth over £500 each? <guidance-link doc="eligibility_check#ecg-savings_valuable_items"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.you.savings.asset_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Do you have any money owed to you? <guidance-link doc="eligibility_check#ecg-savings_money_owned"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.you.savings.credit_balance">
      </label>
    </div>
  </div>
</section>

<section ng-show="hasPartner()">
  <h2 id="partners_savings-label" class="FormBlock-label">Your partner's <span ng-show="hasSMOD()">undisputed </span>savings</h2>
  <div class="FormBlock FormBlock--grey">
    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">How much was in your partner's bank account/building society before your last payment went in? <guidance-link doc="eligibility_check#ecg-savings_bank_balance"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.partner.savings.bank_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Does your partner have any investments, shares or ISAs? <guidance-link doc="eligibility_check#ecg-savings_investments"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.partner.savings.investment_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Does your partner have any valuable items worth over £500 each? <guidance-link doc="eligibility_check#ecg-savings_valuable_items"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.partner.savings.asset_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Does your partner have any money owed to them? <guidance-link doc="eligibility_check#ecg-savings_money_owned"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.partner.savings.credit_balance">
      </label>
    </div>
  </div>
</section>

<section ng-show="hasSMOD()">
  <h2 class="FormBlock-label">Disputed savings <guidance-link doc="eligibility_check#ecg-disputed_savings"></guidance-link></h2>

  <div class="FormBlock FormBlock--grey">
    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">How much was in your bank account/building society before your last payment went in? <guidance-link doc="eligibility_check#ecg-savings_bank_balance"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.disputed_savings.bank_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Do you have any investments, shares or ISAs? <guidance-link doc="eligibility_check#ecg-savings_investments"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.disputed_savings.investment_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Do you have any valuable items worth over £500 each? <guidance-link doc="eligibility_check#ecg-savings_valuable_items"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.disputed_savings.asset_balance">
      </label>
    </div>

    <div class="FormRow cf">
      <label>
        <span class="FormRow-label">Do you have any money owed to you? <guidance-link doc="eligibility_check#ecg-savings_money_owned"></guidance-link></span>
        <span class="FormRow-prefix">£</span>
        <input max="9999999999" min="0" step="0.01" type="number" cla-pence-to-pounds ng-model="eligibility_check.disputed_savings.credit_balance">
      </label>
    </div>
  </div>
</section>
