<main id="wrapper" class="group">
  <div class="Grid">
    <div class="Grid-row cf">
      <div class="Grid-col Grid-col--3-5 Grid-colPush--1-5">
        <header class="PageHeader">
          <h1>Session Expired</h1>
        </header>
        <p>Your last session has timed out.
          <br>Sign in again to avoid losing any data you have entered.</p>
        <div class="FormActions">
          <button class="Button" ng-click="signInEntra()">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</main>