<label>
  <span class="FormRow-label">{{ miLabel }}</span>

  <span class="FormRow-prefix">£</span>

  <input cla-pence-to-pounds max="2500000" min="0" step="0.01" type="number" ng-model="miModel.per_interval_value">

  <select class="FormRow-field--interval" ng-model="miModel.interval_period">
    <option value="per_week">per week</option>
    <option value="per_4week">4 weekly</option>
    <option value="per_month">per month</option>
    <option value="per_year">per year</option>
  </select>
</label>