<section id="personal_details">
  <div ng-show="!personal_details.reference && !personal_details_frm_visible">
    <label class="FormRow cf">
      <span class="Icon--formRow Icon Icon--user">
        <input type="text" id="searchPerson" ui-select2="searchPersonOptions" name="person_q" class="FormRow-field--full" placeholder="Search for existing user" ng-model="$parent.person_q">
      </span>
    </label>

    <div class="FormRow Icon--formRow">
      <button class="Button Button--secondary Button--add" ng-click="showPersonalDetails(personaldetails_frm, true)" name="create-newuser">Create new user</button>
    </div>
  </div>

  <div ng-click="showPersonalDetails(personaldetails_frm)" ng-show="!personaldetails_frm.$visible && personal_details.reference" class="VCard VCard-view" ng-class="{'u-mute': case.thirdparty_details}">
    <h2 class="VCard-title Icon Icon--formRow Icon--user" ng-if="personal_details.full_name">{{ personal_details.full_name }}</h2>

    <div class="VCard-row Icon Icon--row Icon--location" ng-if="personal_details.postcode || personal_details.street">
      <p class="u-compact" ng-if="personal_details.postcode">{{ personal_details.postcode }}</p>
      <p class="u-compact" ng-bind-html="personal_details.street|nl2br"></p>
    </div>

    <p class="VCard-row Icon Icon--row Icon--call" ng-if="personal_details.mobile_phone" ng-class="{'Icon--red Icon--dontcall': personal_details.safe_to_contact !== 'SAFE', 'Icon--green': personal_details.safe_to_contact === 'SAFE'}">
      <span ng-class="{'u-strike': personal_details.safe_to_contact !== 'SAFE'}">{{ personal_details.mobile_phone }}</span>
    </p>

    <p class="VCard-row Icon Icon--row Icon--email" ng-if="personal_details.email">
      {{ personal_details.email }}
    </p>

    <p class="VCard-row Icon Icon--row Icon--dob" ng-if="personal_details.dob">
      {{ personal_details.dob | dob }} (Age {{ personal_details.dob | ageFromDate }})
    </p>

    <p class="VCard-row Icon Icon--row Icon--ni" ng-if="personal_details.ni_number">
      {{ personal_details.ni_number }}
    </p>

    <p class="VCard-row Icon Icon--row Icon--language" ng-if="adaptations.language">
      {{ getLanguageLabel(adaptations.language) }}
    </p>

    <div class="VCard-row Icon Icon--row Icon--adaptation" ng-if="selected_adaptations.length">
      <ul class="InlineList">
        <li class="InlineList-item" ng-repeat="item in selected_adaptations">{{ getAdaptationLabel(item) }}</li>
      </ul>
    </div>

    <p class="VCard-row Icon Icon--row Icon--mediaCode" ng-if="case.media_code">
      <span>{{ mediaCode(media_code).label }}</span>
    </p>

    <p class="VCard-row Icon Icon--row Icon--source" ng-if="case.source">
      <span>{{ getDisplayLabel(case.source, sources) }}</span>
    </p>

    <p class="VCard-row u-highlightRed" ng-if="personal_details.vulnerable_user">User is deemed vulnerable</p>

    <p class="VCard-row" ng-if="case.exempt_user">User is exempt because: {{ getExemptReasonByCode(case.exempt_user_reason).text }}</p>

    <p class="VCard-row" ng-if="personal_details.full_name">User <strong ng-if="personal_details.contact_for_research">can</strong><strong ng-if="!personal_details.contact_for_research">cannot</strong> be contacted for research</p>

    <p class="VCard-row" ng-if="adaptations.notes">
      {{ adaptations.notes }}
    </p>
  </div>

   <form novalidate method="post" name="personaldetails_frm" class="VCard VCard-edit" ng-class="{submitted: personaldetails_submitted}" onbeforesave="validate(personaldetails_frm.$valid)" onaftersave="savePersonalDetails(personaldetails_frm)" ng-show="personaldetails_frm.$visible" editable-form>
    <label class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.full_name.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.full_name.$error.server">{{ errors.full_name }}</span>
      <span class="Icon Icon--formRow Icon--user">
        <span editable-text="personal_details.full_name" e-name="full_name" e-class="FormRow-field--full" e-placeholder="Name" e-server-error></span>
      </span>
    </label>

    <label class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.postcode.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.postcode.$error.server">{{ errors.postcode }}</span>
      <span class="Icon Icon--formRow Icon--location">
        <span editable-text="personal_details.postcode" e-name="postcode" e-class="FormRow-field--full" e-placeholder="Postcode" e-server-error e-address-finder=".js-AF-PersonalDetailsStreet"></span>
      </span>
    </label>

    <label class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.street.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.street.$error.server">{{ errors.street }}</span>
      <span class="Icon Icon--formRow Icon--address">
        <span editable-textarea="personal_details.street" e-name="street" e-class="FormRow-field--full js-AF-PersonalDetailsStreet" e-placeholder="Address" e-rows="6" e-server-error></span>
      </span>
    </label>

    <label class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.mobile_phone.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.mobile_phone.$error.server">{{ errors.mobile_phone }}</span>
      <span class="Icon Icon--formRow">
        <span editable-text="personal_details.mobile_phone" e-name="mobile_phone" e-class="FormRow-field--full" e-placeholder="Phone" e-ng-class="{'u-strike': personal_details.contact_safety.safe === false}" e-server-error></span>
        <safe-to-contact person="personal_details"></safe-to-contact>
      </span>
    </label>

    <label class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.email.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.email.$error.server">{{ errors.email }}</span>
      <span class="Icon Icon--formRow Icon--email">
        <span editable-text="personal_details.email" e-name="email" e-class="FormRow-field--full" e-placeholder="Email" e-server-error></span>
      </span>
    </label>

    <fieldset class="FormRow FormRow--narrow"  ng-class="{Error: personaldetails_frm.dob.$invalid || personaldetails_frm.dob_year.$invalid && personaldetails_submitted}">
      <span class="Icon Icon--dob Icon--formRow">
        <span class="Error-message" ng-if="personaldetails_frm.dob.$error.server">{{ errors.dob }}</span>
        <span editable-tpde="personal_details.dob" e-name="dob" e-server-error></span>
      </span>
    </fieldset>

    <label class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.ni_number.$invalid && personaldetails_submitted}">
      <span class="Icon Icon--ni Icon--formRow">
        <span class="Error-message" ng-if="personaldetails_frm.ni_number.$error.server">{{ errors.ni_number }}</span>
        <span editable-text="personal_details.ni_number" e-name="ni_number" e-class="FormRow-field--full" e-placeholder="National Insurance Number" e-ni-number e-server-error></span>
        <span class="Error-message" ng-if="personaldetails_frm.ni_number.$error.nino && personaldetails_submitted">Invalid NI Number</span>
      </span>
    </label>

    <div class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.welsh_override.$invalid || personaldetails_frm.language.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.welsh_override.$error.server">{{ errors.welsh_override }}</span>
      <span editable-checkbox="language.welsh_override" e-name="welsh_override" e-title="Welsh" e-ng-click="toggleWelsh($data)"></span>
      <span class="Icon Icon--language Icon--formRow">
        <span class="Error-message" ng-if="personaldetails_frm.language.$error.server">{{ errors.language }}</span>
        <span editable-filterselect="adaptations.language" e-name="language" e-ng-options="s.value as s.text for s in language_options track by s.value" e-class="FormRow-field--full" e-data-placeholder="Choose a language" e-ng-disabled="language.disable"></span>
      </span>
    </div>

    <div class="FormRow FormRow--narrow cf">
      <span class="Icon Icon--adaptation Icon--formRow">
        <span editable-filterselect="selected_adaptations" e-multiple e-ng-options="k as v for (k,v) in adaptation_flags" e-name="adaptations" e-data-placeholder="Choose adaptations" e-server-error></span>
      </span>
    </div>

    <div class="FormRow FormRow--narrow cf">
      <span class="Icon Icon--mediaCode Icon--formRow">
        <span editable-filterselect="media_code" e-ng-options="s.code as s.label group by s.group for s in media_codes track by s.code" e-name="media_code" e-data-placeholder="Choose media code" e-server-error></span>
      </span>
    </div>

    <div class="FormRow FormRow--narrow cf">
      <span class="Icon Icon--source Icon--formRow">
        <span editable-filterselect="source" e-ng-options="s.value as s.text for s in sources track by s.value" e-name="source" e-data-placeholder="Choose source" e-server-error></span>
      </span>
    </div>

    <div class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.vulnerable_user.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.vulnerable_user.$error.server">{{ errors.vulnerable_user }}</span>
      <span editable-checkbox="personal_details.vulnerable_user" e-name="vulnerable_user" e-title="User is deemed vulnerable"></span>
    </div>

    <div class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.exempt_user.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.exempt_user.$error.server">{{ errors.exempt_user }}</span>
      <span editable-checkbox="case.exempt_user" e-name="exempt_user" e-title="User is exempt (Debt, Edu, Discrim only)" e-ng-change="exemptChange($data)"></span>
    </div>

    <label class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.exempt_user_reason.$invalid && personaldetails_submitted}" ng-if="is_exempt">
      <span class="Icon Icon--formRow">
        <span class="Error-message" ng-if="personaldetails_frm.exempt_user_reason.$error.server">{{ errors.exempt_user_reason }}</span>
        <span editable-filterselect="case.exempt_user_reason"
              e-name="exempt_user_reason"
              e-ng-options="s.value as s.text for s in exempt_user_reason_choices track by s.value"
              e-class="FormRow-field--full"
              e-data-placeholder="Why is client exempt?"
              e-server-error></span>
      </span>
    </label>

    <div class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.contact_for_research.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.contact_for_research.$error.server">{{ errors.contact_for_research }}</span>
      <span editable-checkbox="personal_details.contact_for_research" e-name="contact_for_research" e-title="Can contact user for research"></span>
    </div>

    <label class="FormRow FormRow--narrow cf" ng-class="{Error: personaldetails_frm.notes.$invalid && personaldetails_submitted}">
      <span class="Error-message" ng-if="personaldetails_frm.notes.$error.server">{{ errors.notes }}</span>
      <span editable-textarea="adaptations.notes" e-name="notes" e-rows="3" e-cols="20" e-maxlength="255" e-class="FormRow-field--full" e-placeholder="Add comments" e-server-error></span>
    </label>

    <div class="FormActions cf">
      <button type="submit" class="Button" ng-click="personaldetails_submitted=true" name="save-personal-details">Save</button>
      <button type="reset" class="Button Button--text" ng-click="cancelPersonalDetails(personaldetails_frm)">Cancel</button>
    </div>
  </form>
</section>
