<main id="wrapper" class="group">
  <div class="Grid">
    <div class="Grid-row cf">
      <div class="Grid-col Grid-col--3-5 Grid-colPush--1-5">
        <header class="PageHeader">
          <h1>Reset password for {{ user_.username }}</h1>
        </header>

        <form action="" method="post" ng-submit="save(reset_frm)" name="reset_frm">
          <span class="Error-message Error-all" ng-show="reset_frm.$error.server">{{ errors.__all__ }}</span>
          <div class="FormRow cf" ng-show="!user.is_manager || user.username === user_.username">
            <label for="id_old_password" id="id_old_password-label">
              <span class="Error-message" ng-show="reset_frm.old_password.$error.server">{{ errors.old_password }}</span>
              <span class="FormRow-label">Old Password</span>
              <input id="id_new_password" name="old_password" type="password" ng-model="old_password" autocomplete="off" server-error>
            </label>
          </div>

          <div class="FormRow cf">
            <label for="id_new_password" id="id_new_password-label">
              <span class="Error-message" ng-show="reset_frm.new_password.$error.server">{{ errors.new_password }}</span>
              <span class="FormRow-label">New Password</span>
              <input id="id_old_password" name="new_password" type="password" ng-model="new_password" autocomplete="off"  required="required" server-error>
            </label>
          </div>

          <div class="FormActions">
            <button type="submit" name="reset-password-submit" class="Button">Reset</button>
            <button type="button" class="Button Button--text" ng-click="$modalInstance.dismiss()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
