#global-header {
  background-color: $black;
  width: 100%;

  .header-wrapper {
    background-color: $black;
    margin: 0 auto;
    padding: 8px 10px;
    @extend %contain-floats;

    .header-global {
      @extend %contain-floats;
      margin-bottom: 10px;

      @include media(desktop) {
        float: left;
        width: 18.75%;
        margin-right: 1.5625%;
        margin-bottom: 0;
      }

      .header-logo {
        @include bold-19;
        @include inline-block;
        @extend %contain-floats;
        line-height: 1em;
        padding-top: 8px;
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        float: left;

        img {
          display: inline;
          float: left;
          position: relative;
          top: -2px;
          height: 20px;
          padding-right: 6px;
          border: 0;
          width: 23px;
        }

        &:hover {
          border-bottom-color: $white;
        }
      }
    }
  }
}
