#global-header {
  background-color: $black;
  width: 100%;

  .header-wrapper {
    background-color: $black;
    margin: 0 auto;
    padding: 8px 10px;
    @extend %contain-floats;

    .header-global {
      @extend %contain-floats;
      float: left;

      .header-logo {
        @include bold-24;
        @include inline-block;
        @extend %contain-floats;
        line-height: 1em;
        padding-top: 5px;
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom-color: $white;
        }
      }

      @include media(desktop) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
