.IconRow {
  padding-left: 28px;
  background: {
    position: left 1px;
    repeat: no-repeat;
  };

  &.FormRow {
    background-position: left 7px;
  }
}
.IconRow--name { @include svg-bg("../images/icons/user") }
.IconRow--address { @include svg-bg("../images/icons/address") }
.IconRow--phone { @include svg-bg("../images/icons/phone") }
.IconRow--email { @include svg-bg("../images/icons/email") }
.IconRow--comments { @include svg-bg("../images/icons/comments") }