.Icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 10px;
  background-repeat:no-repeat;
}

.TextIcon {
  background: {
    repeat: no-repeat;
    position: left top;
  };
}

.TextIcon--tick {
  @include svg-bg("../images/icons/tick");
  background-position: left center;
  padding-left: 60px;
}
.TextIcon--cross {
  @include svg-bg("../images/icons/cross");
  background-position: left center;
  padding-left: 60px;
}
.TextIcon--account {
  @include svg-bg("../images/icons/account");
  padding-left: 22px;
  background-position: left 1px;
}

.IconRow {
  display: block;
  padding-left: 25px;
  background: {
    position: left 2px;
    repeat: no-repeat;
  };

  .FormRow & {
    background-position: left 7px;
  }

  &--right {
    padding-left: 0;
    padding-right: 25px;
    background-position: right 2px;

    .FormRow & {
      background-position: right 7px;
    }
  }
}
.Icon--name { @include svg-bg("../images/icons/user") }
.Icon--address { @include svg-bg("../images/icons/address") }
.Icon--phone { @include svg-bg("../images/icons/phone") }
.Icon--email { @include svg-bg("../images/icons/email") }
.Icon--comments { @include svg-bg("../images/icons/comments") }
.Icon--location { @include svg-bg("../images/icons/location") }