// Load svg background image if browser supports it
@mixin svg-bg($filename, $extension: '.png') {
  background-image: url($filename + $extension);
  .svg & { background-image: url($filename + '.svg'); }
}

// Use block style label on radio/checkboxes
@mixin label-focusSelect {
  &.is-selected {
    background-color: $select-colour;
  }
  &.is-focused {
    outline: 3px solid $focus-colour;
    position: relative;
    z-index: 1;

    input:focus {
      outline: none;
      background: none;
    }
  }
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */

@mixin rotateY($angle) {
  -webkit-transform: rotateY($angle);
     -moz-transform: rotateY($angle);
       -o-transform: rotateY($angle);
          transform: rotateY($angle);
}

@mixin backface-visibility($value) {
  -webkit-backface-visibility: $value;
     -moz-backface-visibility: $value;
       -o-backface-visibility: $value;
          backface-visibility: $value;
}

@mixin transform-style($value) {
  -webkit-transform-style: $value;
     -moz-transform-style: $value;
       -o-transform-style: $value;
          transform-style: $value;
}

@mixin perspective($value) {
  -webkit-perspective: $value;
     -moz-perspective: $value;
       -o-perspective: $value;
          perspective: $value;
}

@mixin dropdown-box($v-pos: 'top', $h-pos: 'right') {
  position: relative;
  list-style: none;
  padding: 8px 10px 0;
  background: #fff;
  border: 1px solid $grey-2;
  @include box-shadow(1px 1px 3px rgba(0,0,0, 0.15));
  @include box-sizing(border-box);
  margin: 0;
  margin-#{$v-pos}: 9px;
  margin-#{$h-pos}: -3px;

  &:before {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    #{$v-pos}: -9px;
    #{$h-pos}: 5px;
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;

    @if $v-pos == 'top' {
      @include svg-bg('../images/icons/callout-arrow--up');
    } @else {
      @include svg-bg('../images/icons/callout-arrow--down');
    }
  }
}
