// Fix height of phase indicator bar
.indicator {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

// body backgound when short height
html, body {
  height: 100%;
}
body.service {
  background-color: $grey-3;
}