/* Contain floats usage:
   .this-has-floated-children {
     @extend %contain-floats;
   }
*/
.clearfix, .cf {
  @extend %contain-floats;
}

.u-pullRight {
  float: right;
}
.u-pullLeft {
  float: left;
}
.u-alignRight {
  text-align: right;
}
.u-alignLeft {
  text-align: left;
}
.u-sortDesc {
  &:after {
    display: inline-block;
    font-size: 11px;
    height: 8px;
    padding-left: 5px;
    content: " \25BC";
  }
  &--lrg:after {
    font-size: 19px;
  }
}
.u-sortAsc {
  &:after {
    display: inline-block;
    font-size: 11px;
    height: 8px;
    padding-left: 5px;
    content: " \25B2";
  }
  &--lrg:after {
    font-size: 19px;
  }
}
.u-uppercase {
  text-transform: uppercase;
}
.u-strike {
  text-decoration: line-through;
  color: $red;
}
.u-plainList {
  list-style: none;
}
.u-block {
  display: block;
}
.u-relative {
  position: relative;
}
.u-compact {
  margin: 0;
  padding: 0;
}
.u-spaced {
  margin: 0 10px;
}
.u-highlightRed {
  color: $red;
}
.u-mute {
  color: $grey-1;
}
.u-horLine {
  border: 0;
  margin: 15px 0;
  background-color: #C2C2C2;
  height: 1px;
}

.u-alphaList {
  list-style-type: lower-alpha;
}

.js-visible {
  display: block;
}
.js-hidden {
  display: none;
}

.ngTruncateToggleText {
  display: block;
  color: $link-colour;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $link-hover-colour;
  }
}
