@mixin font-src ($font-name) {
  src: url('../fonts/#{$font-name}.eot'); /* IE9 Compat Modes */
  src: url('../fonts/#{$font-name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/#{$font-name}.woff') format('woff'), /* Modern Browsers */
       url('../fonts/#{$font-name}.ttf')  format('truetype') /* Safari, Android, iOS */
}

// Ministry of Justice Font
@font-face {
  font-family: 'Bliss2';
  font-weight: normal;
  font-style: normal;
  @include font-src('Bliss2Rg');
}