<hr class="u-horLine">

<button href="" class="BlockLink BlockLink--add" ng-hide="showFeedbackFrm" ng-click="showFeedbackFrm=!showFeedbackFrm" name="add-feedback"><span class="BlockLink-text">Leave feedback</span></button>

<div ng-show="showFeedbackFrm">
  <form ng-submit="submit()">
    <label class="FormRow FormRow--narrow cf">
      <select
        id="newFeedback_issue"
        ng-model="newFeedback.issue"
        ui-select2="{allowClear: true}"
        placeholder="Issue"
        ng-options="s.value as s.text for s in FEEDBACK_ISSUE track by s.value"
        ng-required="true">
        <option value=""></option>
      </select>
    </label>

    <label class="FormRow FormRow--narrow cf">
      <textarea ng-model="newFeedback.comment" rows="5" ng-required="true" placeholder="Comments"></textarea>
    </label>

    <div class="FormActions">
      <button class="Button" type="submit">Save</button>
      <a href="" ng-click="showFeedbackFrm=false">Cancel</a>
    </div>
  </form>
</div>

<ul class="CaseHistory" ng-show="feedbackList" >
  <li class="CaseHistory-card" ng-repeat="feedbackItem in feedbackList">
    <span>{{ feedbackItem.created | general_date }} ({{ feedbackItem.created_by }})</span>
    <h2 class="CaseHistory-subtitle">Feedback:</h2>

    <ul class="CaseHistory-log">
      <li class="CaseHistory-logItem cf">        
        <span class="CaseHistory-logItemNotes">{{ (feedbackItem.issue|constantByValue:FEEDBACK_ISSUE).text }}</span>
        <span class="CaseHistory-logItemNotes">{{ feedbackItem.comment }}</span>
      </li>
    </ul>
  </li>
</ul>