<div data-extend-template="case_list.html">
  <div data-block="title" ng-include="'provider/includes/case_tab_navigation.html'"></div>

  <span data-block="filters" class="LabelGroup">
    <a href="" class="Label" ng-class="filterClass('')" ng-click="filterCases('')">All</a>
    <a href="" class="Label Icon Icon--folderNew" ng-class="filterClass('new')" ng-click="filterCases('new')">New</a>
    <a href="" class="Label Icon Icon--folder" ng-class="filterClass('opened')" ng-click="filterCases('opened')">Opened</a>
    <a href="" class="Label Icon Icon--folderAccepted" ng-class="filterClass('accepted')" ng-click="filterCases('accepted')">Accepted</a>
    <a href="" class="Label Icon Icon--folderClosed" ng-class="filterClass('closed')" ng-click="filterCases('closed')">Closed</a>
  </span>

  <span data-block="outcome-column">Outcome code</span>
</div>
