<div data-extend-template="case_detail.html">
  <nav class="CaseBar-actions BtnGroup" data-block="case-actions" ng-controller="AcceptRejectCaseCtrl">

    <button class="BtnGroup-button BtnGroup-button--light" name="accept-case" ng-click="accept()" ng-if="!case.provider_accepted && !case.provider_closed">Accept</button>
    
    <button class="BtnGroup-button BtnGroup-button--light" name="reject-case" ng-click="reject()" ng-if="!case.provider_closed">Reject</button>

    <button class="BtnGroup-button BtnGroup-button--light" name="reopen-case" ng-click="reopen()" ng-if="case.provider_closed">Reopen</button>
    
    <button class="BtnGroup-button BtnGroup-button--light" name="split-case" ng-click="split()" ng-if="!case.provider_closed">Split</button>
    
    <a href="/provider/case/{{ case.reference }}/legal_help_form/" target="_self" class="BtnGroup-button BtnGroup-button--light" ng-if="case.provider_accepted || case.provider_closed">Legal Help Form</a>
    
    <button class="BtnGroup-button BtnGroup-button--light" name="provider-close-case" ng-really-message="This permanently closes the case, indicating all specialist work has been completed and the case is now billable. Don't use this button to indicate you have only completed a session or call with a client - just return to the case queue. Do you wish to continue?" ng-really-click="close()" ng-controller="CaseDetailCloseCtrl" ng-if="case.provider_accepted && !case.provider_closed">Close</button>

  </nav>
</div>
