<div data-extend-template="case_detail.html">
  <div data-block="case-actions">
    <nav class="u-pullRight cf" ng-hide="case.isRequiresActionByProviderPreview()">
      <div class="BtnDropdown BtnDropdown--right">
        <button class="Button Button--secondary Button--dropdown" ng-class="{'is-open': btnOpts}" ng-click="btnOpts=!btnOpts" name="close-case">Close</button>
        <div class="BtnDropdown-content" ng-show="btnOpts" ng-click="btnOpts=false">
          <a href="" ng-click="close()" class="u-block" ng-controller="CaseDetailCloseCtrl">Close Case</a>
          <!--<a ui-sref="case_detail.alternative_help" class="u-block">Alternative help</a>-->
        </div>
      </div>
    </nav>
  </div>
</div>