<header>
  <h2>Split case {{ case.reference }}</h2>
</header>

<form method="post" name="split_case_frm">
  <div class="FormRow FormRow--narrow cf">
    Category of law: {{provider_category.name}}
  </div>
  <div class="FormRow FormRow--narrow cf">
    Matter types: {{case.matter_type1}}, {{case.matter_type2}}
  </div>
  <div class="FormRow FormRow--narrow cf">
    Assigned to: {{user.provider.name}}
  </div>

  <hr>

  <h4>New case</h4>

  <span class="Error-message" ng-show="errors.__all__">{{ errors.__all__ }}</span>
  <span class="Error-message" ng-show="errors.internal">{{ errors.internal }}</span>
  
  <label class="FormRow FormRow--narrow cf">
    Category of law:
    <span class="Error-message" ng-show="split_case_frm.category.$error.server">{{ errors.category }}</span>
    <select name="category" ui-select2 ng-model="$parent.category" ng-options="cat.code as cat.name for cat in categories track by cat.code" required server-error>
      <option value="">Choose category of law</option>
    </select>
  </label>

  <label class="FormRow FormRow--narrow cf">
    Matter types:
    <span class="Error-message" ng-show="split_case_frm.matter_type1.$error.server">Matter type1: {{ errors.matter_type1 }}</span>
    <span class="Error-message" ng-show="split_case_frm.matter_type2.$error.server">Matter type2: {{ errors.matter_type2 }}</span>
    <select id="sp_multi_case_mt1" ui-select2 name="matter_type1" ng-model="$parent.matterType1" ng-options="matterType.code as matterType.code for matterType in matterTypes | filter:{level: 1} track by matterType.code" required server-error>
      <option value="">Choose matter type 1</option>
    </select>
    <select id="sp_multi_case_mt2" ui-select2 name="matter_type2" ng-model="$parent.matterType2" ng-options="matterType.code as matterType.code for matterType in matterTypes | filter:{level: 2} track by matterType.code" required server-error>
      <option value="">Choose matter type 2</option>
    </select>
  </label>

  <div class="FormActions">
    <button class="Button" type="button" ng-click="doSplit(split_case_frm, true)">Assign to {{user.provider.name}}</button>
    <button class="Button" type="button" ng-click="doSplit(split_case_frm, false)">Send to operator for assignment</button>
    <a href="" ng-click="cancel()">Cancel</a>
  </div>
</form>