{% extends "base.html" %}{% load i18n %}
{% load helpers static %}

{% block stylesheets %}
  <link href="{% static 'stylesheets/cla.main.css' %}" media="screen" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  <script src="{% static 'javascripts/cla.main.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="inner">
    <div class="full-width">
      <h1>{% block page_header %}{% endblock %}</h1>
    </div>

    {% block breadcrumb %}
        <ol class="breadcrumb">
            {% comment %}
            {% if wizard.steps.prev %}
                <li>
                    <a href="{% url 'checker:checker_step' wizard.steps.prev %}"><i class="fa fa-step-backward"></i></a>
                </li>
            {% endif %}
            {% endcomment %}

            {% for step in steps %}
                <li {% if step == wizard.steps.current %}class="active"{% endif %}>
                {% if step in history_data %}
                    <a href="{% url 'checker:checker_step' step %}">{{ step|unslug }}</a>
                {% else %}
                    {{ step|unslug }}
                {% endif %}
                </li>
            {% endfor %}
            <li>Result of legal aid check</li>

            {% comment %}
            {% if wizard.steps.next %}
                <li>
                    <a href="{% url 'checker:checker_step' wizard.steps.next %}"><i class="fa fa-step-forward"></i></a>
                </li>
            {% endif %}
            {% endcomment %}
        </ol>
    {% endblock %}

    {% block checker_content %}{% endblock %}

    {% block summary %}{% endblock summary %}
  </div>
{% endblock %}
