{% extends "checker/base.html" %}{% load i18n %}

{% block page_header %}

  <h1>{% trans "Your problem" %}</h1>
  <p>{% trans "What is your problem about? Choose what is putting you at immediate risk." %}</p>

{% endblock %}

{% block checker_content %}

  <form action="." method="POST">
    {% csrf_token %}

    {{ wizard.management_form }}
    {{ form.non_field_errors }}
    <fieldset class="FormBlock FormBlock--grey">
      <h2>{{ form.category.label }}</h2>

      {{ form.category.errors }}
      {% for category in form.fields.category.choices %}
        <div class="FormRow FormRow--check {% cycle 'FormRow--odd' 'FormRow--even' %}">
          <label for="{{ form.category.auto_id }}_{{ forloop.counter0 }}">
            <input type="radio" name="{{ form.category.html_name }}" id="{{ form.category.auto_id }}_{{ forloop.counter0 }}" value="{{ category.0 }}" {% if category.0 == form.category.value %}checked="checked"{% endif %}>
            {{ category.1 }}
{#  TODO: Dom do something with this value          <br>{{ category.2 }}#}
          </label>
        </div>
        {% if forloop.counter0|add:1 == form.fields.category.choices|length %}
        this should only show up if last category is selected
        <div>
            <p>{{ form.your_problem_notes.label_tag }}</p>

            {{ form.your_problem_notes.errors }}
            {{ form.your_problem_notes }}
        </div>
        {% endif %}
      {% endfor %}
    </fieldset>
    <p>{% trans "If possible, please choose one of the categories above. If you’re really not sure or it doesn’t appear above, you can ask for a call back here." %}</p>

    <div class="FormActions">
      <button type="submit" class="Button">{% trans "Next step - your details" %}</button>
      <a href="#">Go back to previous step</a>
    </div>
  </form>

{% endblock %}
