{% extends "checker/base.html" %}{% load i18n humanize %}

{% block page_header %}{% trans "You and your partner's disposable money" %}{% endblock page_header %}

{% block checker_content %}
	<div>
		<h2>{% trans "You and your partner's disposable money" %}</h2>

		<form method=post action="." role="form">
			{% csrf_token %}
			{{ wizard.management_form }}

			{{ form.non_field_errors }}
            {{ form.as_p }}
            <button class="btn btn-success">{% trans "Next" %}</button>
		</form>
	</div>
{% endblock %}
