{% extends "checker/base_step.html" %}

{% block page_header %}Check your finances{% endblock page_header %}

{% block checker_content %}
	<div>
		<h2>You and your partner's money</h2>

		<form method=post action="." role="form">
			{% csrf_token %}
			{{ wizard.management_form }}
			{{ form.non_field_errors }}

			{% with form.property as formset %}
                {{ formset.management_form}}
                {% for form in formset %}
                    {% include "checker/includes/finances_property_form.html" %}
                {% endfor %}
			{% endwith %}

            {% with form=form.your_other_properties  fieldset_label="Other properties"%}
                {% include "checker/includes/finances_other_property_form.html" %}
            {% endwith %}

			{% with form.your_savings as form %}{% with "Your savings" as fieldset_label %}
				{% include "checker/includes/finances_savings_form.html" %}
			{% endwith %}{% endwith %}

			{% with form.partners_savings as form %}{% with "Your partner's savings" as fieldset_label %}
				{% include "checker/includes/finances_savings_form.html" %}
			{% endwith %}{% endwith %}

            {% with form=form.your_income fieldset_label="Your income" %}
                {% include "checker/includes/finances_income_form.html" %}
            {% endwith %}

            {% with form=form.partners_income fieldset_label="Your partner's income" %}
                {% include "checker/includes/finances_income_form.html" %}
            {% endwith %}

{#            {% with form=form.dependants fieldset_label="Dependants" %}#}
{#                {% include "checker/includes/finances_dependants_form.html" %}#}
{#            {% endwith %}#}

            <fieldset>
                <div class="form-group">
                    <!-- hide if no js? -->
                    <strong>
                        <p class="col-xs-7">Total earnings per month</p>
                        <p class="input-group col-xs-3 row">£1,000</p>
                    </strong>
                </div>
            </fieldset>

            <fieldset>
			    <div class="form-group">
			    	<strong>
				        <p class="col-xs-7">Total of all capital assets</p>
				        <p class="input-group col-xs-3 row">&pound;5,000</p>
			        </strong>
			    </div>
		    </fieldset>

			<button type="submit" class="btn btn-success">Next step - check if you can get legal aid</button>
		</form>
	</div>
{% endblock %}
