{% extends "checker/base.html" %}{% load i18n %}

{% block page_header %}{% trans "Your problem" %}{% endblock page_header %}

{% block checker_content %}
<p>{% trans "If your problem is about two or more of the list below, please choose what is putting you at immediate risk." %} </p>

<form action="." method="POST">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ form.non_field_errors }}

    <div>
        <h2>{{ form.category.label }}</h2>

        {{ form.category.errors }}
        {{ form.category }}
    </div>

    <p>{% trans "If possible, please choose one of the categories above. If you’re really not sure or it doesn’t appear above, you can ask for a call back here." %}</p>

    {# this should only show up if last category is selected #}
    <div>
        <h2>{{ form.your_problem_notes.label_tag }}</h2>

        {{ form.your_problem_notes.errors }}
        {{ form.your_problem_notes }}
    </div>



  {% comment %}

  <ul>
    <li>
      <label>
        <input name="response" type="radio" value="asylum">
        Applying for asylum or permission to stay in the UK
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="abuse">
        Violence and abuse at home
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="police">
        In trouble with the police
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="debt">
        Debt, money problems and bankruptcy
      </label>
      <p class="bs-callout bs-callout-warning">
        <strong>You may be able to get legal aid if:</strong><br>
        You owe money to someone who is threatening you with bankruptcy <br>
        You owe money to an individual or a mortgage lender which is putting your home at risk
      </p>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="family">
        Family, marriage, separation and children
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="housing">
        Housing, eviction and homelessness
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="welfare">
        Welfare benefits
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="unusual">
        Unusual cases
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="other">
        None of the above
      </label>
    </li>
  </ul>
  {% endcomment %}

  <div>
    <button type="submit" class="btn btn-success">{% trans "Next step - your details" %}</button>
  </div>
</form>

{% endblock %}
