{% extends "checker/base.html" %}{% load i18n humanize %}

{% block page_header %}{% trans "Check your finances" %}{% endblock page_header %}

{% block checker_content %}
	<div>
		<h2>{% trans "You and your partner's money" %}</h2>

		<form method=post action="." role="form">
			{% csrf_token %}
			{{ wizard.management_form }}
			{{ form.non_field_errors }}

			{% with form.property as formset %}
                {% if formset %}
                    {{ formset.management_form}}
                    {% for form in formset %}
                        {% if form %}
                            {% include "checker/includes/finances_property_form.html" %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
			{% endwith %}

            {% with form=form.your_other_properties  fieldset_label="Other properties"%}
                {% if form %}
                    {% include "checker/includes/finances_other_property_form.html" %}
                {% endif %}
            {% endwith %}

			{% with form.your_savings as form %}{% with "Your savings" as fieldset_label %}
                {% if form %}
                    {% include "checker/includes/finances_savings_form.html" %}
                {% endif %}
			{% endwith %}{% endwith %}

			{% with form.partners_savings as form %}{% with "Your partner's savings" as fieldset_label %}
                {% if form %}
                    {% include "checker/includes/finances_savings_form.html" %}
                {% endif %}
			{% endwith %}{% endwith %}


            <fieldset>
                <div class="form-group">
                    <strong>
                        <p class="col-xs-7">{% trans "Total of all capital assets" %}</p>
                        <p class="input-group col-xs-3 row">&pound;{{ form.total_capital_assets|intcomma|default:'0' }}</p>
                    </strong>
                </div>
            </fieldset>

            {% with form=form.your_income fieldset_label="Your income" %}
                {% if form %}
                    {% include "checker/includes/finances_income_form.html" %}
                {% endif %}
            {% endwith %}

            {% with form=form.partners_income fieldset_label="Your partner's income" %}
                {% if form %}
                {% include "checker/includes/finances_income_form.html" %}
                {% endif %}
            {% endwith %}


            <fieldset>
                <div class="form-group">
                    <!-- hide if no js? -->
                    <strong>
                        <p class="col-xs-7">{% trans "Total earnings per month" %}</p>
                        <p class="input-group col-xs-3 row">£{{ form.total_earnings|intcomma|default:'0' }}</p>
                    </strong>
                </div>
            </fieldset>

            {% with form=form.dependants fieldset_label="Dependants" %}
                {% if form %}
                    {% include "checker/includes/finances_dependants_form.html" %}
                {% endif %}
            {% endwith %}

			<button type="submit" class="btn btn-success">{% trans "Next step - check if you can get legal aid" %}</button>
		</form>
	</div>
{% endblock %}
