.v-AlternativeHelp {
  .Tabs {
    margin-top: 0;
  }

  .SelectedProviders {
    margin-bottom: 20px;

    > div {
      border-left: 0;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;

      p {
        padding: 5px 0;
      }
    }
  }
}
