.v-Dashboard {
  .PageHeader {
    padding-top: 50px;
    position: relative;
    z-index: 2;
    float: left;

    h1 {
      padding: 4px 0;
    }

    .Button {
      @include core-16;
      margin-left: 20px;
      margin-top: 8px;
    }
  }

  #wrapper {
    padding-bottom: 60px;
  }
}