.v-Dashboard {
  .SubNav {
    padding-left: 0;
  }

  .PageHeader {
    padding-top: 30px;

    h1 {
      padding: 0 0 15px;
    }
  }

  #wrapper {
    padding-bottom: 60px;
  }

  @include media(desktop) {
    .ListTable {
      margin-top: -10px;
    }
  }

  .Filters {
    margin: 7px 0 0 20px;
    display: block;
    float: left;
  }
}
