<div class="u-pullRight">
  <div class="BtnGroup BtnGroup--wide" ng-show="case.isRequiresActionByProviderPreview()">
    <button class="BtnGroup-button" name="accept-case" ng-click="accept()">Accept</button>
    <button class="BtnGroup-button" name="reject-case" ng-click="reject()">Reject</button>
    <button class="BtnGroup-button" name="split-case" ng-click="split()">Split</button>
  </div>
  <div class="BtnGroup BtnGroup--wide" ng-show="!case.isRequiresActionByProviderPreview()">
    <button class="BtnGroup-button" name="provider-close-case" ng-really-message="This permanently closes the case, indicating all specialist work has been completed and the case is now billable. Don't use this button to indicate you have only completed a session or call with a client - just return to the case queue. Do you wish to continue?" ng-really-click="close()" ng-controller="CaseDetailCloseCtrl">Close</button>
    <a href="/provider/case/{{ case.reference }}/legal_help_form/" target="_self" class="BtnGroup-button">Legal Help Form</a>
    <button class="BtnGroup-button" name="reject-case" ng-click="reject()">Reject</button>
    <button class="BtnGroup-button" name="split-case" ng-click="split()">Split</button>
  </div>
</div>
