<div class="u-pullRight">
  <div class="BtnGroup BtnGroup--wide">
    <button class="BtnGroup-button" name="accept-case" ng-click="accept()" ng-if="case.isRequiresActionByProviderPreview()">Accept</button>
    <button class="BtnGroup-button" name="reject-case" ng-click="reject()">Reject</button>
    <a href="/provider/case/{{ case.reference }}/legal_help_form/" target="_self" class="BtnGroup-button" ng-if="!case.isRequiresActionByProviderPreview()">Legal Help Form</a>
    <button class="BtnGroup-button" name="split-case" ng-click="split()">Split</button>
  </div>
</div>
