{% extends "layout.html" %}

{% block content %}
<div class="full-width">
  <h1>Your problem</h1>
</div>

<ol class="breadcrumb">
  <li><a href="#">Your problem</a></li>
  <li><a href="#">Your details</a></li>
  <li>Your finances</li>
  <li>Result of legal aid check</li>
</ol>

<p>If your problem is about two or more of the list below, please choose what is putting you at immediate risk.</p>

<div>
  <h2>Is  your problem about?</h2>

  <ul>
    <li>
      <label>
        <input name="response" type="radio" value="">
        Applying for asylum or permission to stay in the UK
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="">
        Violence and abuse at home
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="">
        In trouble with the police
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="">
        Debt, money problems and bankruptcy
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="">
        Family, marriage, separation and children
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="">
        Housing, eviction and homelessness
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="">
        Welfare benefits
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="">
        Unusual cases
      </label>
    </li>
    <li>
      <label>
        <input name="response" type="radio" value="">
        None of the above
      </label>
    </li>
  </ul>

  <p>If possible, please choose one of the categories above. If you’re really not sure or it doesn’t appear above, you can ask for a call back here.</p>

  <div>
    <button type="button" class="btn btn-success">Next step - your details</button>
  </div>
</div>

{% endblock %}
