<!-- no providers -->
<div class="Error Error--basic" ng-if="suggested_providers.length < 1 && !suggested_provider && !case.provider">
  <p>There are <strong>no providers available</strong> to assign to this case. Please contact a supervisor.</p>
</div>
<!-- no category -->
<div class="Error Error--basic" ng-if="!eligibility_check.category">
  <p>This case has <strong>no category of law assigned</strong> but you can still manually assign a provider.</p>
</div>

<form method="post" name="assign_provider_form" ng-submit="assign(assign_provider_form)">
  <h2 class="FormBlock-label">Matter types</h2>
  <div class="FormBlock FormBlock--grey" ng-if="::canAssign()">
    <div class="FormRow">
      <label for="matter_type1">
        <span class="FormRow-label">Matter type 1</span>
        <select ui-select2="{allowClear: true}" ng-model="::case.matter_type1" ng-options="s.code as (s.code + ' - ' + s.description) for s in matter1_types track by s.code" id="matter_type1" name="matter_type1" data-placeholder="Choose a matter type" class="FormRow-field--full">
          <option value=""></option>
        </select>
      </label>
    </div>

    <div class="FormRow">
      <label for="matter_type2">
        <span class="FormRow-label">Matter type 2</span>
        <select ui-select2="{allowClear: true}" ng-model="::case.matter_type2" ng-options="s.code as (s.code + ' - ' + s.description) for s in matter2_types track by s.code" id="matter_type2" name="matter_type2" data-placeholder="Choose a matter type" class="FormRow-field--full">
          <option value=""></option>
        </select>
      </label>
    </div>
  </div>

  <div ng-if="::!canAssign()" class="SummaryBlock SummaryBlock--compact">
    <p class="SummaryBlock-content" ng-if="::case.matter_type1">
      <strong>Matter type 1:</strong> {{ ::case.matter_type1 }} - {{ ::getMTDescription(case.matter_type1) }}
    </p>
    <p class="SummaryBlock-content" ng-if="::case.matter_type2">
      <strong>Matter type 2:</strong> {{ ::case.matter_type2 }} - {{ ::getMTDescription(case.matter_type2) }}
    </p>
  </div>

  <call-script ng-if="suggested_providers.length > 1 || suggested_provider">
    <p>From the information you have provided, the assessment shows that you may be eligible for Legal Aid and I will transfer you to one of our Specialist Providers.</p>
    <p>We cannot guarantee that the specialist will be able to take on your case, however their service is not your only option and the specialist will try to find you some help elsewhere. If they do take on your case you will need to provide proof of your financial circumstances for the specialist to continue.</p>
    <p>I there anything else we can assist you with today?</p>
    <p>If you require any further assistance please don't hesitate to call us back. We are open from 9am-8pm Monday to Friday and 9am-12:30pm on Saturdays.</p>
    <p>Thank you for calling Civil Legal Advice, I will now put you through to one of our Specialists.</p>
  </call-script>

  <div ng-if="selected_provider.id">
    <h2 class="FormBlock-label" ng-if="case.provider">Assigned to</h2>
    <div class="ContactBlock ContactBlock--grey clearfix">
      <h2 class="ContactBlock-heading">{{ selected_provider.name }}</h2>

      <p>{{ selected_provider.telephone_frontdoor }} (Front door)
        <br>{{ selected_provider.telephone_backdoor }} (Back door)</p>

      <p>Provider phone short code: <strong>{{ selected_provider.short_code }}</strong></p>
    </div>
  </div>

  <div ng-show="is_manual && suggested_providers.length > 0">
    <div class="FormRow cf">
      <input type="text" name="assign-provider-search" placeholder="Search providers and other help organisations" class="FormRow-field--l" ng-model="::provider_search" search-filter>
    </div>

    <div class="FormRow FormRow--group" ng-repeat="provider in suggested_providers | filter:provider_search">
      <label class="FormRow-label FormRow-label--odd">
        <input name="provider" type="radio" ng-model="::$parent.selected_provider" ng-value="provider">
        <strong>{{ ::provider.name }}</strong>

        <p class="FormRow-inner">{{ ::provider.telephone_frontdoor }} (Front door)
          <br>{{ ::provider.telephone_backdoor }} (Back door)</p>

        <p>Provider phone short code <strong>{{ ::provider.short_code }}</strong></p>
      </label>
    </div>

    <div class="FormRow cf">
      <label for="notes" class="visuallyhidden">Reassignment notes</label>
      <textarea name="notes" id="notes" cols="30" rows="4" ng-model="::notes" placeholder="Provider reassignment comments"></textarea>
    </div>

    <label class="FormRow cf" ng-if="user.is_manager">
      <input type="checkbox" name="is_manual_ref" ng-model="$parent.is_manual_ref">
      Assign as manual reference (MANREF)
    </label>
  </div>

  <div class="Error Error--basic" ng-if="errors.__all__">
    <p class="Error-message">{{ errors.__all__ }}</p>
  </div>

  <div class="FormActions" ng-if="::canAssign()">
    <button type="submit" name="assign-provider" class="Button" ng-disabled="!selected_provider.id">Assign provider</button>

    <button type="button" name="assign-second-opinion" class="Button Button--secondary" ng-click="assignSPOR(assign_provider_form)" ng-disabled="!selected_provider.id || $parent.is_manual_ref">Refer for second opinion</button>

    <a ui-sref="case_detail.defer_assignment" class="Button Button--secondary">Defer</a>

    <button type="button" name="assign-manually" class="Button Button--secondary" ng-click="assignManually(true)" ng-if="!is_manual && suggested_providers.length > 0">Assign manually</button>

    <button type="button" ng-click="decline_help()" class="Button Button--secondary" ng-if="is_manual && suggested_provider.id" ng-controller="CaseDetailDeclineHelpCtrl">Decline help</button>

    <a href="" ng-click="assignManually(false)" ng-if="is_manual && suggested_provider.id">Cancel</a>
  </div>
</form>
