<div data-extend-template="case_detail.html">
  <nav class="CaseBar-actions BtnGroup" data-block="case-actions">
    <a ui-sref="case_detail.suspend" class="BtnGroup-button BtnGroup-button--light" title="Suspend case"><span class="Icon Icon--compact Icon--suspend"></span></a>
    <callback-button case="case"><span class="Icon Icon--compact Icon--callback"></span></callback-button>
    <a ui-sref="case_detail.alternative_help" class="BtnGroup-button BtnGroup-button--light" title="Assign alternative help"><span class="Icon Icon--compact Icon--altHelp"></span></a>
  </nav>

  <callback-modal data-block-after="case-header"></callback-modal>

  <callback-status data-block-prepend="rh-col" case="case"></callback-status>
</div>
