<!-- no providers -->
<div ng-if="suggested_providers.length < 1 && !suggested_provider && !case.provider">
  <div ng-switch on="case.category">
    <div ng-switch-when="Education" class="Notice" >
      <p>There are <strong>no specialist providers current available</strong> to assign to this case. Please use Find a Legal Advisor.</p>
      
    </div>
    <div ng-switch-default class="Error Error--basic" >
      <p>There are <strong>no providers available</strong> to assign to this case. Please contact a supervisor.</p>
    </div>
  </div>
</div> 
<!-- no category -->
<div class="Error Error--basic" ng-if="!eligibility_check.category">
  <p>This case has <strong>no category of law assigned</strong> but you can still manually assign a provider.</p>
</div>

<form method="post" name="assign_provider_form" ng-submit="assign(assign_provider_form)">
  <div ng-hide="suggested_providers.length < 1 && !suggested_provider && !case.provider">
    <h2 class="FormBlock-label">Matter types</h2>
    <div class="FormBlock FormBlock--grey" ng-if="::canAssign()">
      <div class="FormRow">
        <label for="matter_type1">
          <span class="FormRow-label">Matter type 1</span>
          <select ui-select2="{allowClear: true}" ng-model="::case.matter_type1" ng-options="s.code as (s.code + ' - ' + s.description) for s in matter1_types track by s.code" id="matter_type1" name="matter_type1" data-placeholder="Choose a matter type" class="FormRow-field--full">
            <option value=""></option>
          </select>
        </label>
      </div>

      <div class="FormRow">
        <label for="matter_type2">
          <span class="FormRow-label">Matter type 2</span>
          <select ui-select2="{allowClear: true}" ng-model="::case.matter_type2" ng-options="s.code as (s.code + ' - ' + s.description) for s in matter2_types track by s.code" id="matter_type2" name="matter_type2" data-placeholder="Choose a matter type" class="FormRow-field--full">
            <option value=""></option>
          </select>
        </label>
      </div>
    </div>
  </div>

  <div ng-if="::!canAssign()" class="SummaryBlock SummaryBlock--compact">
    <p class="SummaryBlock-content" ng-if="::case.matter_type1">
      <strong>Matter type 1:</strong> {{ ::case.matter_type1 }} - {{ ::getMTDescription(case.matter_type1) }}
    </p>
    <p class="SummaryBlock-content" ng-if="::case.matter_type2">
      <strong>Matter type 2:</strong> {{ ::case.matter_type2 }} - {{ ::getMTDescription(case.matter_type2) }}
    </p>
  </div>

  <call-script ng-if="suggested_providers.length > 1 || suggested_provider">
    <div ng-switch on="category">

      <div ng-switch-when="education">
        <strong>Monday to Wednesday</strong>
        <p>Based on what you have told me I can put you through to a CLA Specialist Advisor. They will check what you have told me and assess whether our service is right for you.</p>
        <p>If you qualify for legal aid you will need to provide proof of your financial circumstances to the specialist/legally aided Education provider.</p>
        <p>If they do take on your case they will provide you legal advice remotely, via email, letters and phone calls until the conclusion of your case. You won’t be able to get advice from any other legal aid providers on this issue.</p>
        <strong>Thursday and Friday</strong>
        <p>Based on what you have told me I can put you through to a Legally Aided Education Provider. They will check what you have told me and assess whether our service is right for you.</p>
        <p>If you qualify for legal aid you will need to provide proof of your financial circumstances to the specialist/legally aided Education provider.</p>
        <p>If they do take on your case they will provide you legal advice remotely, via email, letters and phone calls until the conclusion of your case. You won’t be able to get advice from any other legal aid providers on this issue.</p>
        <strong>Saturday</strong>
        <p>Based on what you have told me I can provide you with details of legally aided Education providers in your area. They will check what you have told me and assess whether our service is right for you.</p>
        <strong>All days</strong>
        <p>Is there anything else we can help you with today?</p>
        <p>If you need any further help please call us back. We are open from 9am-8pm Monday to Friday and 9am – 12:30pm on Saturdays.</p>
      </div>

      <div ng-switch-default>
        <p>Based on what you have told me I can put you through to a CLA Specialist Advisor. They will check what you have told me and assess whether our service is right for you.</p>
        <p>If you qualify for legal aid you will need to provide proof of your financial circumstances to the specialist.</p>
        <p>If they do take on your case they will provide you legal advice remotely via email, letters and phone calls until the conclusion of your case. You won’t be able to get advice from any other legal aid providers on this issue.</p>
        <p>Is there anything else we can help you with today?</p>
        <p>If you need any further help please call us back. We are open from 9am-8pm Monday to Friday and 9am-12:30pm on Saturdays.</p>
      </div>

    </div>
  </call-script>

  <call-script ng-if="::isEducationF2F()">
    <div>
      <p>Based on what you have told me I can provide you with details of legally aided Education providers in your area. </p>
      <p>They will check what you have told me and assess whether our service is right for you.</p>
    </div>
  </call-script>

  <div ng-if="selected_provider.id">
    <h2 class="FormBlock-label" ng-if="case.provider">Assigned to</h2>
    <div class="ContactBlock ContactBlock--grey clearfix">
      <h2 class="ContactBlock-heading">{{ selected_provider.name }}</h2>

      <p>{{ selected_provider.telephone_frontdoor }} (Front door)
        <br>{{ selected_provider.telephone_backdoor }} (Back door)</p>

      <p>Provider phone short code: <strong>{{ selected_provider.short_code }}</strong></p>
    </div>
  </div>

  <div ng-show="is_manual && suggested_providers.length > 0">
    <div class="FormRow cf">
      <input type="text" name="assign-provider-search" placeholder="Search providers and other help organisations" class="FormRow-field--l" ng-model="::provider_search" search-filter>
    </div>

    <div class="FormRow FormRow--group" ng-repeat="provider in suggested_providers | filter:provider_search">
      <label class="FormRow-label FormRow-label--odd">
        <input name="provider" type="radio" ng-model="::$parent.selected_provider" ng-value="provider">
        <strong>{{ ::provider.name }}</strong>

        <p class="FormRow-inner">{{ ::provider.telephone_frontdoor }} (Front door)
          <br>{{ ::provider.telephone_backdoor }} (Back door)</p>

        <p>Provider phone short code <strong>{{ ::provider.short_code }}</strong></p>
      </label>
    </div>

    <div class="FormRow cf">
      <label for="notes" class="visuallyhidden">Reassignment notes</label>
      <textarea name="notes" id="notes" cols="30" rows="4" ng-model="::notes" placeholder="Provider reassignment comments"></textarea>
    </div>

    <label class="FormRow cf" ng-if="user.is_manager">
      <input type="checkbox" name="is_manual_ref" ng-model="$parent.is_manual_ref" ng-change="$parent.is_spor=false">
      Assign as manual reference (MANREF)
    </label>
  </div>

  <div ng-hide="isEducationF2F()">
    <div class="Notice">
      <label>
        <input type="checkbox" name="is_spor" ng-model="is_spor" ng-disabled="!selected_provider.id || is_manual_ref">
        Refer for second opinion (SPOR)
      </label>
    </div>

    <div class="Notice">
      <label>
        <input type="checkbox" name="is_urgent" ng-model="is_urgent">
        This case requires urgent attention
      </label>
    </div>
  </div>
  
  <div class="Error Error--basic" ng-if="errors.__all__">
    <p class="Error-message">{{ errors.__all__ }}</p>
  </div>

  <ng-template ng-if="::isEducationF2F()">

    <a href="{{getF2fDeepLink()}}" style="font-size: 19px" target="_blank" rel="noopener" ng-click="f2f_clicked=true">Find a Face to Face provider on Find a Legal Advisor (opens in new tab)</a>

    <form class="FormRow cf" name="alternative_help">


      <div class="FormRow cf">
        <label for="notes" class="visuallyhidden">Reassignment notes</label>
        <textarea name="assign-notes" id="notes" cols="30" rows="4" ng-model="assignNotes" placeholder="Assignment comments"></textarea>
      </div>


      <div class="FormActions" ng-if="::canAssign()">
        <button type="submit" class="Button" name="assign-f2f" ng-click="submit('EDFF', assignNotes)">Assign F2F help</button>

        <a ui-sref="case_detail.defer_assignment" class="Button Button--secondary">Defer</a>

      </div>
  </ng-template>

  <ng-template ng-hide="::isEducationF2F()">
    <div class="FormActions" ng-if="::canAssign()">
      <button type="submit" name="assign-provider" class="Button" ng-disabled="!selected_provider.id || assigning_provider_in_progress">Assign provider</button>
  
      <a ui-sref="case_detail.defer_assignment" class="Button Button--secondary">Defer</a>
  
      <button type="button" name="assign-manually" class="Button Button--secondary" ng-click="assignManually(true)" ng-if="!is_manual && suggested_providers.length > 0">Assign manually</button>
  
      <button type="button" ng-click="decline_help()" class="Button Button--secondary" ng-if="is_manual && suggested_provider.id" ng-controller="CaseDetailDeclineHelpCtrl">Decline help</button>
  
      <a href="" ng-click="assignManually(false)" ng-if="is_manual && suggested_provider.id">Cancel</a>
    </div>
  </ng-template>

</form>
