<div data-extend-template="case_list.html">
  <div data-block="title" ng-include="'call_centre/includes/case_tab_navigation.html'"></div>

  <span data-block="filters">
    <button type="button" name="person-filter" class="Label is-selected is-removable" ng-if="person.reference" ng-click="backToLatestSearch()">
      {{ ::person.full_name }}<span ng-if="person.postcode"> ({{ ::person.postcode }})</span>
    </button>
  </span>

  <form data-block="top-actions" name="newCaseForm" class="newCaseForm u-pullLeft">
    <button id="create_case" type="button" class="Button Button--secondary Button--add" ng-click="addCase(person.reference)" ng-if="person.reference">Create a case for {{ person.full_name }}</button>
    <button id="create_case" type="button" class="Button Button--secondary Button--add" ng-click="addCase()" ng-if="!person.reference">Create a case</button>
  </form>

  <p data-block="notices" class="Notice" ng-if="historicCases.count > 0">There are <strong>{{ historicCases.count }} historic cases</strong> (from capita's system) that match your search criteria. <a ui-sref="historic_list({search: searchParams.search})">View historic cases</a></p>

  <span data-block="pd-column">
    <!-- if multi cases -->
    <a href="" ng-if="!person.reference && case.full_name" ng-click="filterByPerson(case.personal_details)">{{ ::case.full_name }}<span ng-if="case.case_count > 1"> ({{ ::case.case_count }})</span></a>
    <!-- else -->
    <span ng-if="person.reference">{{ ::case.full_name }}</span>
  </span>
</div>
