<header>
  <h2>Schedule a callback</h2>
</header>

<form method="post" novalidate ng-submit="submit(callback_frm)" name="callback_frm">
  <div class="FormBlock FormBlock--yellow">

    <span class="Error-message" ng-if="errors.datetime">{{ errors.datetime }}</span>
    <div class="FormRow FormRow--group FormRow--groupNarrow">
      <label class="FormRow-label">
      	<input type="datetime-local" name="datetime" ng-model="datetime" step="900" server-error>
      </label>
    </div>

    <br>

    <div class="FormRow cf">
      <label>
        <span class="Error-message" ng-if="(callback_frm.notes.$error.required||errors.notes) && callback_frm.$dirty">{{ errors.notes }}</span>
        <textarea class="FormRow-field--full" cols="20" rows="6" name="notes" ng-model="notes" placeholder="Notes" server-error></textarea>
      </label>
    </div>
  </div>

  <div class="FormActions" data-block="formActions">
    <button class="Button" type="submit">Save and suspend Case</button>
    <a href="" ng-click="cancel()">Cancel</a>
  </div>
</form>

