<div data-extend-template="case_detail.edit.html">
  <span data-block="extra-tabs">
    <li class="Tabs-tab" ng-class="{'is-active': $state.includes('case_detail.diversity'), 'is-disabled': !case.personal_details}">
      <a ui-sref="case_detail.diversity" class="Tabs-tabLink" ng-class="{'Icon Icon--right Icon--solidTick Icon--green': personal_details.has_diversity}">Diversity</a>
    </li>
    <li class="Tabs-tab" ng-class="{'is-active': $state.includes('case_detail.assign'), 'is-disabled': !case.isInScopeAndEligible()}">
      <a ui-sref="case_detail.assign" class="Tabs-tabLink" ng-class="{'Icon Icon--right Icon--solidTick Icon--green': case.provider}">Assign</a>
    </li>
  </span>
</div>
