<div ng-if="personal_details.has_diversity">
  <section class="SummaryBlock SummaryBlock--compact">
    <div class="SummaryBlock-content">
      <p>The client has completed diversity monitoring.</p>
    </div>
  </section>
</div>

<div ng-if="!personal_details.has_diversity">
  <call-script>
    <p>Before I transfer you, I just need to ask you some equality and diversity questions. You do not need to answer any of these questions but your cooperation in providing us with accurate data will ensure that we not only meet our legal obligations, but even more importantly will result in you receiving fair and just treatment in your interactions with us. Any information provided on this form will be treated as strictly confidential and will be used for statistical purposes only. No information will be published or used in any way which allows any individual to be identified.</p>
  </call-script>

  <section class="SummaryBlock SummaryBlock--compact">
    <div class="SummaryBlock-content cf" ng-repeat="statement in sections" ng-if="statement.answer">
      <a class="u-pullRight" href="" ng-click="gotoStep($index+1)">Change answer</a>
      <p class="u-pullLeft"><strong>{{ ::statement.title }}:</strong> {{ getDisplayLabel(statement.answer, statement.options) }}</p>
    </div>
  </section>

  <form ng-submit="save(frmDiversity.$valid)" novalidate name="frmDiversity">

    <div ng-repeat="section in sections" ng-if="current.step-1 === $index">
      <h2 class="FormBlock-label">{{ ::section.title }}</h2>

      <div class="FormRow cf">
        <input type="text" name="diversity-{{ ::section.name }}-filter" placeholder="Filter answers" class="FormRow-field--l" ng-model="::code_search" search-filter>
      </div>

      <call-script ng-show="section.script">
        <div ng-bind-html="::section.script"></div>
      </call-script>

      <div class="FormBlock FormBlock--grey">
        <div class="FormRow FormRow--group FormRow--groupNarrow" ng-repeat="opt in section.options | filter:code_search">
          <label class="FormRow-label">
            <input type="radio" name="{{ ::section.name }}" value="{{ ::opt.value }}" ng-model="current.answer" required>
            <span class="FormRow-labelText FormRow-labelText--basic">{{ ::opt.text }}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="Error Error--basic" ng-if="frmDiversity.$error && submitted">
      <p>Please select an choice from the options</p>
    </div>

    <div class="FormActions">
      <button type="button" class="Button" name="diversity-next" ng-click="nextStep(frmDiversity.$valid)" ng-if="current.step < sections.length">Next</button>

      <call-script ng-if="current.step === sections.length">
        <p>Thank you very much for completing those questions.</p>
      </call-script>
      <button type="submit" class="Button" name="diversity-save" ng-if="current.step === sections.length">Save</button>

      <button type="button" class="Button Button--text" name="diversity-back" ng-click="previousStep()" ng-if="current.step > 1 && current.step < sections.length">Back</button>
    </div>

  </form>
</div>
