<div data-extend-template="case_list.html">
  <span data-block="filters">
    <button type="button" class="Label is-selected is-removable" ng-if="person.reference" ng-click="backToLatestSearch()">
      {{ person.full_name }}<span ng-if="person.postcode"> ({{ person.postcode }})</span>
    </button>
  </span>

  <form name="newCaseForm" class="newCaseForm" data-block="top-actions">
    <button id="create_case" type="button" class="BlockLink BlockLink--add" ng-click="addCase(person.reference)" ng-if="person.reference">Create a case for {{ person.full_name }}</button>
    <button id="create_case" type="button" class="BlockLink BlockLink--add" ng-click="addCase()" ng-if="!person.reference">Create a case</button>
  </form>

  <span data-block="pd-column">
    <!-- if multi cases -->
    <a href="" ng-if="!person.reference" ng-click="filterByPerson(case.personal_details)">{{ case.full_name }}<span ng-if="case.case_count > 1"> ({{ case.case_count }})</span></a>
    <!-- else -->
    <span ng-if="person.reference">{{ case.full_name }}</span>
  </span>
</div>
