<div data-extend-template="case_detail.html">
  <nav class="CaseBar-actions BtnGroup" data-block="case-actions">
    <a ui-sref="case_detail.suspend" class="BtnGroup-button BtnGroup-button--light" title="Suspend case"><span class="Icon Icon--compact Icon--suspend"></span></a>
    <callback-button case="case"><span class="Icon Icon--compact Icon--callback"></span></callback-button>
    <a ui-sref="case_detail.alternative_help" class="BtnGroup-button BtnGroup-button--light" title="Assign alternative help"><span class="Icon Icon--compact Icon--altHelp"></span></a>
  </nav>

  <callback-modal data-block-after="case-header"></callback-modal>

  <callback-status data-block-prepend="rh-col" case="case"></callback-status>

  <div class="FormActions" data-block="case-eod_details" ng-class="{'Icon--formRow': !personal_details.reference && !personal_details_frm_visible}">
    <button class="Button Button--add Button--secondary" ui-sref="case_detail.eod_details" title="Expressions of Dissatisfaction">
      Add EOD
      <span class="Badge Badge--warning" ng-if="eod_details && eod_details.$eodBadge()">
        {{ eod_details.$eodBadge() }}
      </span>
    </button>
    <button class="Button Button--secondary" ui-sref="complaints_list({'search': case.reference})" ng-if="user.is_manager && case.complaint_count" title="See list of associated complaints">
      List complaints
      <span class="Badge Badge--warning">
        {{ case.complaint_count }}
      </span>
    </button>
  </div>
</div>
