<div data-extend-template="case_list.html">
  <div data-block="title" ng-include="'call_centre/includes/case_tab_navigation.html'"></div>

  <span data-block="filters">
    <button type="button" name="person-filter" class="Label is-selected is-removable" ng-if="person.reference" ng-click="backToLatestSearch()">
      {{ ::person.full_name }}<span ng-if="person.postcode"> ({{ ::person.postcode }})</span>
    </button>

    <span class="LabelGroup">
      <span class="GroupPrefix">Showing:</span>
      <a href="" class="Label" ng-class="filterClass('')" ng-click="filterCases('')">All</a>
      <a href="" class="Label" ng-class="filterClass('phone')" ng-click="filterCases('phone')">Phone cases</a>
      <a href="" class="Label" ng-class="filterClass('web')" ng-click="filterCases('web')">Web cases</a>
      <a href="" class="Label" ng-class="filterClass('eod')" ng-click="filterCases('eod')" ng-if="::user.is_manager">EOD</a>
      <a href="" class="Label" ng-class="filterClass('my')" ng-click="filterCases('my')">My cases</a>
    </span>
  </span>

  <nav data-block="page-nav" class="u-pullRight">
    <a ui-sref="case_list" class="BtnGroup-button BtnGroup-button--light" ng-class="{'is-selected': $state.is('case_list')}"><span class="Icon Icon--compact Icon--list"></span></a>
    <a ui-sref="case_list.callbacks" class="BtnGroup-button BtnGroup-button--light" ng-class="{'is-selected': $state.is('case_list.callbacks')}"><span class="Icon Icon--compact Icon--date"></span></a>
  </nav>

  <div data-block="top-actions">
    <form name="newCaseForm" class="newCaseForm u-pullLeft">
      <button id="create_case" type="button" class="Button Button--secondary Button--add" ng-disabled="create_case_in_progress" ng-click="addCase(person.reference)" ng-if="person.reference">Create a case for {{ person.full_name }}</button>
      <button id="create_case" type="button" class="Button Button--secondary Button--add" ng-disabled="create_case_in_progress" ng-click="addCase()" ng-if="!person.reference">Create a case</button>
    </form>
  </div>

  <p data-block="notices" class="Notice" ng-if="historicCases.count > 0">There are <strong>{{ historicCases.count }} historic cases</strong> (from capita's system) that match your search criteria. <a ui-sref="historic_list({search: searchParams.search})">View historic cases</a></p>

  <span data-block="pd-column">
    <!-- if multi cases -->
    <a href="" ng-if="!person.reference && case.full_name" ng-click="filterByPerson(case.personal_details)">{{ ::case.full_name }}<span ng-if="case.case_count > 1"> ({{ ::case.case_count }})</span></a>
    <!-- else -->
    <span ng-if="person.reference">{{ ::case.full_name }}</span>
  </span>
</div>
