
<header class="PageHeader cf" ng-class="{'PageHeader--wo-search': !search}">
  <h1 class="u-pullLeft">{{ search ? 'Feedback Results' : 'Cases Feedback' }} {{ search ? '"'+search+'"' : '' }}</h1>
  <div data-block="top-actions"></div>
</header>

<div data-block="case-list">
  <table class="FeedbackList CaseList" cellpadding="0" cellspacing="0" border="0" width="100%">
    <thead>
    <tr>
      <th width="15%">Case Reference</th>
      <th width="11%"><a href="" ng-click="sortToggle('issue')" ng-class="sortClass('issue')">Issue</a></th>
      <th width="24%">Comment</th>
      <th width="14%"><a href="" ng-click="sortToggle('justified')" ng-class="sortClass('justified')">Justified</a></th>
      <th width="16%"><a href="" ng-click="sortToggle('resolved')" ng-class="sortClass('resolved')">Resolved</a></th>
      <th width="16%"><a href="" ng-click="sortToggle('created')" ng-class="sortClass('created')">Created</a></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="feedback in feedback_list">
        <td>
          <a href="" ng-click="goToCase(feedback.case)">{{ feedback.case }}</a>
        </td>
        <td>{{ getFormattedFeedback(feedback.issue).text }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.justified }}</td>
        <td>{{ feedback.resolved }}</td>
        <td>
          <span am-time-ago="feedback.created"></span>
          <br>
          <small>{{ feedback.created|date:'MMM d, y, h:mma' }}</small>
        </td>
      </tr>
    </tbody>
  </table>
</div>

