<header class="CaseBar Grid" sticky use-placeholder>
  <div class="Grid-row">
    <div class="Grid-col Grid-col--1-5">
      <h1 class="CaseBar-caseNum Icon Icon--folder">
        {{ ::historicCase.laa_reference }}
      </h1>
    </div>
  </div>
</header>

<div class="Grid">
  <div class="Grid-row">
    <div class="Grid-col Grid-col--1-5">
      <nav class="SubNav">
        <a ui-sref="historic_list(caseListStateParams)" class="SubNav-link SubNav-link--back">Back to cases</a>
      </nav>
      <div ui-view="personalDetails"></div>
    </div>

    <div class="Grid-col Grid-col--3-5" ui-view full-height data-centre-col>
      <header class="PageHeader">
        <h1>Historical case (Capita)</h1>
      </header>

      <div class="ContactBlock ContactBlock--grey clearfix">
        <header ng-if="::historicCase.specialist_referred_to">
          <p class="u-compact u-mute">Referred to</p>
          <h2 class="ContactBlock-heading">{{ ::historicCase.specialist_referred_to }}</h2>
        </header>

        <h2 class="ContactBlock-heading" ng-if="!::historicCase.specialist_referred_to">Not referred to specialist</h2>

        <div class="Grid">
          <p ng-if="::historicCase.knowledgebase_items_used" class="Grid-row">
            <strong class="Grid-col Grid-col--1-3">Knowledge base</strong>
            <span class="Grid-col Grid-col--2-3">{{ ::historicCase.knowledgebase_items_used }}</span>
          </p>

          <p ng-if="::historicCase.date_specialist_referred" class="Grid-row">
            <strong class="Grid-col Grid-col--1-3">Date assigned</strong>
            <span class="Grid-col Grid-col--2-3">{{ ::historicCase.date_specialist_referred | dob }}</span>
          </p>

          <p ng-if="::historicCase.area_of_law" class="Grid-row">
            <strong class="Grid-col Grid-col--1-3">Area of Law</strong>
            <span class="Grid-col Grid-col--2-3">{{ ::historicCase.area_of_law }}</span>
          </p>

          <p class="Grid-row">
            <strong class="Grid-col Grid-col--1-3">In scope</strong>
            <span class="Grid-col Grid-col--2-3">{{ ::historicCase.in_scope ? 'Yes' : 'No' }}</span>
          </p>

          <p class="Grid-row">
            <strong class="Grid-col Grid-col--1-3">Financially eligible</strong>
            <span class="Grid-col Grid-col--2-3">{{ ::historicCase.financially_eligible ? 'Yes' : 'No' }}</span>
          </p>
        </div>
      </div>

    </div>

    <div class="Grid-col Grid-col--1-5 Grid-col--bg-colour Guidance-buffer">
      <div class="Grid-colInner" data-block="rh-col">
        <div ui-view="outcome">
          <div ui-view="outcome"></div>
          <ul class="CaseHistory">
            <li class="CaseHistory-card">
              <span>
                <timestamp ng-model="historicCase.outcome_code_date"></timestamp>
                (Capita Operator)
              </span>
              <ul class="CaseHistory-log">
                <li class="CaseHistory-logItem cf">
                  <span class="CaseHistory-label">{{ ::historicCase.outcome_code }}</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

