# Default values for cla-frontend in a dev environment.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

environment: "development"

image:
  repository: cla_frontend_local
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80

socketServer:
  image:
    repository: cla_frontend_socket_server_local
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 80

ingress:
  enabled: false

envVars:
  STATIC_FILES_BACKEND:
    value: local
  DEBUG:
    value: "True"
  BACKEND_BASE_URI:
    value: "https://laa-cla-backend-uat.apps.live-1.cloud-platform.service.justice.gov.uk"
  SESSION_COOKIE_NAME:
    value: "__Host-Http-SID"
  SESSION_COOKIE_SECURE:
    value: "True"
  SESSION_COOKIE_HTTPONLY:
    value: "True"
  SESSION_COOKIE_SAMESITE:
    value: "Strict"
  SOCKETIO_SERVER_URL:
    value: "localhost:30312/socket.io"
