{% extends app_base_template %}{% load humanize i18n static %}

{% block body_classes %}{{ product_type }} {{ phase }} v-Dashboard{% endblock %}


{% block search %}{% verbatim %}
<form id="search" class="CaseSearch"  role="search" ng-controller="SearchCtrl" ng-submit="submit()">
  <label for="case-search" class="CaseSearch-label">Search</label>
  <input type="text" name="q" id="case-search" title="Search" class="CaseSearch-query js-LabelPlaceholder" ng-model="search" autocomplete="off">
  <input class="CaseSearch-submit" type="submit" value="Search">
</form>
{% endverbatim %}
{% endblock %}

{% block actions %}
<form action="{% url 'call_centre:create_case' %}" method="post" class="u-pullLeft">
  {% csrf_token %}
  <button type="submit" class="Button">{% trans "Create a case" %}</button>
</form>
{% endblock %}

{% block full_content %}
  <div ui-view></div>


{% endblock %}
