{% extends app_base_template %}{% load humanize i18n static %}

{% block body_classes %}{{ product_type }} {{ phase }} v-Dashboard{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript">

  // States
  var CaseListState = {
    url: '/operator/?search?sort',
    templateUrl: '/static/javascripts/app/partials/case_list.html',
    controller: 'CaseListCtrl'
  };
  var CaseDetailState = {
    abstract: true,
    url: '/operator/:caseref/',
    templateUrl: '/static/javascripts/app/partials/case_detail.html',
    controller: ['$scope', 'case', function($scope, $case){
      $scope.test= 123;
      $scope.case = $case;
    }],
    resolve: {
      'case': ['Case', '$stateParams', function(Case, $stateParams) {
        return Case.get({caseref: $stateParams.caseref});
      }]
    }
  };

  var CaseDetailEditState = {
    url: '',
    views: {
      '': {
        templateUrl: '/static/javascripts/app/partials/case_detail.edit.html',
        controller: ['$scope', function($scope){console.log('edit state loaded'+ JSON.stringify($scope.case))}]
      },
      'outcome': {
        templateUrl: '/static/javascripts/app/partials/case_detail.outcome.html',
        controller: ['$scope', function($scope){console.log('edit.outcome state loaded')}]
      },
      'personalDetails': {
        templateUrl: '/static/javascripts/app/partials/case_detail.personal_details.html',
        controller: ['$scope', function($scope){
          $scope.submit = function(){
            $scope.case.$personal_details_patch();
          };
        }]
      }
    }
  };

  var operatorApp = angular.module('operatorApp', ['djangoRESTResources', 'ui.router']);

  operatorApp.config(function($stateProvider, $locationProvider, $urlRouterProvider) {
    $locationProvider.html5Mode(true);

    $stateProvider
        .state('case_list', CaseListState)
        .state('case_detail', CaseDetailState)
        .state('case_detail.edit', CaseDetailEditState)
    ;

  });

  operatorApp.factory('Case', ['$http', 'djResource', function($http, djResource) {
    var transformData = function(data, headers) {
      var fns = $http.defaults.transformRequest;

      if (angular.isFunction(fns))
        return fns(data, headers);

      angular.forEach(fns, function(fn) {
        data = fn(data, headers);
      });

      return data;
    }

    return djResource('/call_centre/proxy/case/:caseref/', {caseref:'@reference'}, {
      'personal_details_patch': {
        method:'PATCH',
        transformRequest: function(data, headers) {
          return transformData({"personal_details": data.personal_details}, headers);
        }
      }
    });
  }]);

  operatorApp.controller('CaseListCtrl', ['$scope', 'djResource', '$location', function($scope, djResource, $location) {
    $scope.search = $location.search().search || '';
    $scope.orderProp = $location.search().sort || '-created';


    var Case = djResource('/call_centre/proxy/case/:caseref/', {caseref:'@reference'});
    Case.query({search: $scope.search}, function(data) {
      $scope.cases = data;
    });

    $scope.sortToggle = function(currentOrderProp){
      if (currentOrderProp === $scope.orderProp) {
        return '-' + currentOrderProp;
      }
      return currentOrderProp;
    };
  }]);

  operatorApp.controller('SearchCtrl', ['$scope', '$state', '$location', function($scope, $state, $location) {
    $scope.$on('$locationChangeSuccess', function(){
      $scope.search = $location.search().search || '';
    });

    $scope.submit = function() {
      $state.go('case_list', {search: $scope.search, sort:''});
    };

  }]);
  </script>
{% endblock %}
{% block search %}{% verbatim %}
<form id="search" class="CaseSearch"  role="search" ng-controller="SearchCtrl" ng-submit="submit()">
  <label for="case-search" class="CaseSearch-label">Search</label>
  <input type="text" name="q" id="case-search" title="Search" class="CaseSearch-query js-LabelPlaceholder" ng-model="search" autocomplete="off">
  <input class="CaseSearch-submit" type="submit" value="Search">
</form>
{% endverbatim %}
{% endblock %}

{% block actions %}
<form action="{% url 'call_centre:create_case' %}" method="post" class="u-pullLeft">
  {% csrf_token %}
  <button type="submit" class="Button">{% trans "Create a case" %}</button>
</form>
{% endblock %}

{% block full_content %}
  <div ui-view></div>


{% endblock %}
