{% load staticfiles core_tags raven %}
<!DOCTYPE html>
<html lang="en" {% block html_attrs %}ng-csp{% endblock %}
  data-analytics-id="{{ analytics_id }}"
  data-analytics-domain="{{ analytics_domain }}">

  <head data-sentry-dsn="{% sentry_public_dsn %}"
    data-sentry-site="{{ raven_config_site }}"
    data-socketio-server="{{ socketio_server_url }}">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page_title %}{{ app_title }}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

    <!-- webfonts -->
    <link href="{% staticmin 'stylesheets/fonts.css' %}" media="all" rel="stylesheet" type="text/css" />
    <!-- main styles -->
    <link href="{% staticmin 'stylesheets/cla.main.css' %}" media="screen" rel="stylesheet">
    <!-- print styles -->
    <link href="{% staticmin 'stylesheets/cla.print.css' %}" media="print" rel="stylesheet" type="text/css" />

    <script src="{% static 'javascripts/vendor/raven.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/raven.config.js' %}"></script>

    {% if not debug %}
    <script type="text/javascript" src="{% static 'javascripts/vendor/boomerang/boomerang.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/boomerang/config.js' %}"></script>
    {% endif %}

    <!-- load modernizer -->
    <script src="{% static 'javascripts/vendor/modernizr.custom.92045.js' %}"></script>

    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
  </head>

  <body class="{{ product_type }} {{ phase }}{% block body_classes %}{% endblock %}"{% block body_attrs %}{% endblock %}>

    <header role="banner" id="global-header" class="{% block header_class %}{% endblock %}">
      <div class="header-wrapper">
        <div class="header-global">
          <a href="/" class="header-logo" target="_self"><img src="{% static 'images/gov.uk_logotype_crown.png' %}" width="23" height="20" alt=""> {{ proposition_title }}</a>
        </div>

        {% if zone %}
          {% block search %}
          <form id="search" class="CaseSearch" action="{% url zone.LOGIN_REDIRECT_URL %}" method="get" role="search">
            <div class="CaseSearch-inner">
              <label for="case-search" class="CaseSearch-label">Search</label>
              <input type="text" name="q" id="case-search" title="Search" class="CaseSearch-query js-LabelPlaceholder" value="{{ request.GET.q }}" autocomplete="off">
              <input class="CaseSearch-submit" type="submit" value="Search">
            </div>
          </form>
          {% endblock %}
        {% endif %}

        {% if zone %}
          <div class="UserMenu">
            <a href="#UserMenu-links" class="UserMenu-toggle Icon Icon--account"></a>
            <nav class="UserMenu-menu">
              <ul class="UserMenu-options" id="UserMenu-links">
                <li class="UserMenu-option">
                  {% block user_details %}{{ user.username }}{% endblock %}
                </li>
                <li class="UserMenu-option">
                  <a href="{% url 'auth:global_logout' %}" target="_self">Sign out</a>
                </li>
              </ul>
            </nav>
          </div>

          {% block timer %}{% endblock %}
        {% endif %}
      </div>
    </header>
    <!--end header-->

    <!--[if lte IE 9]>
      <div class="legacy-browser">
        <h1>:(</h1>
        <p>This service is <strong>not</strong> designed to support your browser.</p>
        <p>Please <a href="http://browsehappy.com/">upgrade</a> to the latest version of Chrome, Firefox, Safari or Internet Explorer 11 and above.</p>
      </div>
    <![endif]-->

    <!--[if gt IE 9]><!-->
    {% block after_header %}{% endblock %}

    {% block before_content %}{% endblock %}
    <main id="wrapper">
      {% block messages %}
      {% if messages %}
        <ul class="Notice">
          {% for message in messages %}
            <li class="Notice-msg{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% endblock messages %}

      {% block full_content %}
        <div class="Grid">
          <div class="Grid-row cf">
            <div class="Grid-col Grid-col--1-5">
              {% block left_content %}{% endblock %}
            </div>
            <div class="Grid-col Grid-col--3-5">
              {% block middle_content %}{% endblock %}
            </div>
            <div class="Grid-col Grid-col--1-5 Grid-col--bg-colour">
              <div class="Grid-colInner">
                {% block right_content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
    </main>

    <script src="{% static 'javascripts/lib.min.js' %}"></script>
    <script src="{% static 'javascripts/vendor/vanilla-js.js' %}"></script>
    <script src="{% staticmin 'javascripts/cla.main.js' %}"></script>
    <script src="{% static 'javascripts/vendor/analytics.js' %}"></script>
    {% block javascripts %}{% endblock %}

    {% block body_end %}{% endblock %}
    <!--<![endif]-->
  </body>
</html>
