#!/bin/bash
exec su -s /bin/bash -m www-data -c "/usr/bin/nodejs /home/app/django/cla_socketserver/app.js > /var/log/nodejs/socket_app.log 2> /var/log/nodejs/socket_app_err.log"
