#!/bin/bash
! $([[  "$CLA_ENV" == "prod" || "$CLA_ENV" == "staging" ]]) ||  grep sentry /etc/hosts > /dev/null 2>&1 || echo "$SENTRY_IPADDRESS $SENTRY_HOSTNAME" >> /etc/hosts
cd /home/app/django

if ! [[ $ALLOWED_HOSTS =~ $(hostname -i) ]] ; then
  ALLOWED_HOSTS+=",$(hostname -i)" && echo "export ALLOWED_HOSTS=$ALLOWED_HOSTS" >> /etc/container_environment.sh
fi

python manage.py collectstatic --noinput

exec /usr/local/bin/uwsgi --ini /etc/wsgi/conf.d/cla_frontend.ini
