https://github.com/ministryofjustice/cla_common/archive/refs/tags/0.3.20.tar.gz
https://github.com/said-moj/django-moj-irat/archive/refs/tags/0.3.1.tar.gz
git+https://github.com/tomchristie/django-pdb.git@e28e9ee73e52e7df4a125ec7326882e5d8e83740#egg=django-pdb==0.3.2-dev
