{% extends "cla_provider/base.html" %}{% load i18n humanize helpers widget_tweaks %}

{% block body_classes %}{{ product_type }} {{ phase }} v-Case{% endblock %}

{% block left_content %}
  <nav class="SubNav">
    <a href="{% url 'call_centre:dashboard' %}" class="SubNav-link SubNav-link--back">{% trans "Back to cases" %}</a>
  </nav>
  
  {% with details=case.personal_details %}
  <section class="UserDetails">
    {% if details %}
      {% if details.full_name %}
      <p class="UserDetails-item UserDetails-item--l IconRow IconRow--name">
        {{ details.full_name }}
      </p>
      {% endif %}
      {% if details.street or details.town or details.postcode %}
      <p class="UserDetails-item IconRow IconRow--address">
        {% if details.street %}{{ details.street }}<br>{% endif %}
        {% if details.town %}{{ details.town }}<br>{% endif %}
        {% if details.postcode %}{{ details.postcode }}{% endif %}
      </p>
      {% endif %}
      {% if details.home_phone or details.mobile_phone %}
      <p class="UserDetails-item IconRow IconRow--phone">
        {% if details.home_phone %}{{ details.home_phone }}<br>{% endif %}
        {% if details.mobile_phone %}{{ details.mobile_phone }}{% endif %}
      </p>
      {% endif %}
    {% else %}
      <p>
        <i class="u-mute">No personal details provided</i>
      </p>
    {% endif %}
  </section>
  {% endwith %}
{% endblock %}

{% block middle_content %}
  <header class="PageHeader cf">
    <h1 class="u-pullLeft">{{ case.reference }}</h1>
    {% block case_actions %}{% endblock %}
  </header>
  
  {% block case_content %}{% endblock %}
{% endblock %}

{% block right_content %}
  {% if case.caseoutcome_set %}
  <ul class="CaseHistory">
    {% for outcome in case.caseoutcome_set %}
    <li class="CaseHistory-item">
      {{ outcome.created|as_date }}<br>
      {% if outcome.notes %}
        {{ outcome.notes }}<br>
      {% endif %}
      ({{ outcome.created_by }})<br>
      <span class="CaseHistory-label">{{ outcome.code }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
