{% extends "cla_provider/base.html" %}{% load i18n humanize helpers widget_tweaks %}

{% block body_classes %}{{ product_type }} {{ phase }} v-Case{% endblock %}

{% block left_content %}
  <nav class="SubNav">
    <a href="{% url 'call_centre:dashboard' %}" class="SubNav-link SubNav-link--back">{% trans "Back to cases" %}</a>
  </nav>

  <section class="UserDetails">
    <p class="IconRow IconRow--name">
      {{ case.personal_details.full_name }}
    </p>
    <p class="IconRow IconRow--address">
      {{ case.personal_details.street }}<br>
      {{ case.personal_details.town }}<br>
      {{ case.personal_details.postcode }}
    </p>
    <p class="IconRow IconRow--phone">
      {{ case.personal_details.home_phone }}<br>
      {{ case.personal_details.mobile_phone }}
    </p>
  </section>
{% endblock %}

{% block middle_content %}
  <header class="PageHeader cf">
    <h1 class="u-pullLeft">{{ case.reference }}</h1>
    {% block case_actions %}{% endblock %}
  </header>
  
  {% block case_content %}{% endblock %}
{% endblock %}

{% block right_content %}
  <div class="Timer cf">
    <span class="Timer-current u-pullLeft js-Stopwatch">00:00:00</span>
    <span class="Timer-total u-pullRight"><span class="js-Stopwatch" data-start-time="486">00:08:06</span> {% trans "total" %}</span>
  </div>

  {% if case.caseoutcome_set %}
  <ul class="CaseHistory">
    {% for outcome in case.caseoutcome_set %}
    <li class="CaseHistory-item">
      {{ outcome.created|as_date }}<br>
      {% if outcome.notes %}
        {{ outcome.notes }}<br>
      {% endif %}
      ({{ outcome.created_by }})<br>
      <span class="CaseHistory-label">{{ outcome.outcome_code }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
