{% extends "cla_provider/case.html" %}{% load i18n widget_tweaks %}

{% block case_actions %}
  {% if in_review %}
  <form action="{% url 'cla_provider:accept_case' case.reference %}" method="POST" class="u-pullRight">
    {% csrf_token %}
    {{ accept_form.as_p }}

    <button type="submit" class="Button u-pullLeft">{% trans "Accept case" %}</button>
    <a href="{% url 'cla_provider:reject_case' case.reference %}" class="Button Button--warning u-pullLeft">{% trans "Reject case" %}</a>
  </form>
  {% else %}
    <a href="{% url 'cla_provider:close_case' case.reference %}" class="Button u-pullRight">{% trans "Close case" %}</a>
  {% endif %}
{% endblock %}

{% block case_content %}
  {% if case.notes %}
  <figure class="CommentBlock IconRow IconRow--comments">
    {# <figcaption class="CommentBlock-author u-mute">(test_operator)</figcaption> #}
    <blockquote class="Quote">{{ case.notes|linebreaksbr }}</blockquote>
  </figure>
  {% endif %}

  <form action="." method="post">
    {% csrf_token %}

    <div class="FormRow">
      <label for="{{ case_form.provider_notes.id_for_label }}" id="{{ case_form.provider_notes.auto_id }}-label" class="visuallyhidden">{{ case_form.provider_notes.label }}</label>
        {% for error in case_form.provider_notes.errors %}
          <span class="Error-message">{{ error }}</span>
        {% endfor %}
      {{ case_form.provider_notes|attr:"rows:11"|attr:"cols:20"|attr:"placeholder:Comments about this case "|add_class:"FormRow-field--full" }}
    </div>

    <button type="submit" class="Button">{% trans "Save notes" %}</button>
  </form>

  {% include "common/includes/means_test_summary.html" %}
{% endblock %}
