{% load staticfiles core_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Legal Help Form</title>
    <link href="{% staticmin 'stylesheets/cla.legal-help-form.css' %}" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <div class="header cf">
        <h1>Legal Help</h1>
        <div class="cf">
          <h2 class="organisation-logo u-pullRight">
            <img class="organisation-logo-img" src="{% static 'images/org_crest_27px.png' %}">
            <br>Legal Aid
            <br>Agency
          </h2>

          <p>To ensure we give out the best advice by the Legal Aid Agency fairly we need you to:</p>

          <ul>
            <li>Check the details we have filled in from the telephone assessment are correct and change them if they are not</li>
            <li>Attach any evidence requested and return the form to us</li>
            <li>Sign the declaration on page 4</li>
          </ul>
        </div>
      </div>
      
      <fieldset class="field-group">
        <table class="field-table" width="100%">
          <tbody>
            <tr>
              <td>Is this an application for Exceptional Case Funding</td>
              <td>
                <label>
                  <input type="text" value="X" readonly class="check">Yes
                </label>
              </td>
              <td>
                <label>
                  <input type="text" readonly class="check">No
                </label>
              </td>
            </tr>
            <tr>
              <td>If Yes, have you provided the required completed ECF application form</td>
              <td>
                <label>
                  <input type="text" readonly class="check">Yes
                </label>
              </td>
              <td>
                <label>
                  <input type="text" value="X" readonly class="check">No
                </label>
              </td>
            </tr>
          </tbody>
        </table>

        <p>Please note that only Exceptional Cases in Education or Discrimination should be claimed under the CLA contract.</p>
      </fieldset>
      
      <fieldset class="field-group">
        <h2 class="field-group-heading">Your Details</h2>

        <table class="field-table" width="100%">
          <tbody>
            <tr>
              <td>
                <label for="" class="block-label u-uppercase">Surname</label>
                <input type="text" readonly value="">
              </td>
              <td>
                <label for="" class="block-label u-uppercase">Forname</label>
                <input type="text" readonly value="">
              </td>
              <td>
                <label for="" class="block-label u-uppercase">Our ref</label>
                <input type="text" readonly value="">
              </td>
            </tr>
            <tr>
              <td>
                <label for="" class="block-label">Date of Birth</label>
                <input type="text" readonly value="">
              </td>
              <td>
                <label for="" class="block-label">Surname at Birth</label>
                <input type="text" readonly value="">
              </td>
              <td>
                <label for="" class="block-label">Sex</label>
                <input type="text" readonly value="">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label for="" class="block-label">Current Address</label>
                <input type="text" readonly value="">
              </td>
              <td>
                <label for="" class="block-label">N.I. Number</label>
                <input type="text" readonly value="">
              </td>
            </tr>
            <tr>
              <td>
                <label for="" class="block-label">Town</label>
                <input type="text" readonly value="">
              </td>
              <td>
                <label for="" class="block-label">County</label>
                <input type="text" readonly value="">
              </td>
              <td>
                <label for="" class="block-label">Client No</label>
                <input type="text" readonly value="">
              </td>
            </tr>
            <tr>
              <td>
                <label for="" class="block-label">Post Code</label>
                <input type="text" readonly value="">
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      
      <fieldset class="field-group">
        <h2 class="field-group-heading">Your Finances</h2>
        
        <table class="field-table" width="100%">
          <tbody>
            <tr>
              <td>Do you have a partner that you live with?</td>
              <td width="30%"><input type="text" readonly value=""></td>
            </tr>
            <tr>
              <td colspan="2">Do you or your partner receive any of the following benefits:</td>
            </tr>
            <tr>
              <td>Income Support</td>
              <td><input type="text" readonly value=""></td>
            </tr>
            <tr>
              <td>Income Based Job-Seekers Allowance</td>
              <td><input type="text" readonly value=""></td>
            </tr>
            <tr>
              <td>Guaranteed State Pension Credit</td>
              <td><input type="text" readonly value=""></td>
            </tr>
            <tr>
              <td>Income Related Employment And Support Allowance</td>
              <td><input type="text" readonly value=""></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      
      <fieldset class="field-group">
        <h2 class="field-group-heading">Your Property</h2>
        
        <table class="field-table" width="100%">
          <tbody>
            <tr>
              <td width="40%">Do you own any property?</td>
              <td width="20%"><input type="text" readonly value=""></td>
              <td width="20%"></td>
              <td width="20%"></td>
            </tr>
          </tbody>
        </table>
        
        <table class="field-table" width="100%">
          <thead>
            <tr>
              <td width="40%"></td>
              <td width="20%">Main Property</td>
              <td width="20%">
                Additional Property
                <br><small>Subject Matter of Dispute</small>
              </td>
              <td width="20%">
                Additional Property
                <br><small>Non-Subject Matter of Dispute</small>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Property Value</td>
              <td><input type="text" readonly value="&pound;"></td>
              <td><input type="text" readonly value="&pound;"></td>
              <td><input type="text" readonly value="&pound;"></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      
      <fieldset class="field-group">
        <h2 class="field-group-heading">Your Capital</h2>
        
        <table class="field-table" width="100%">
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>

      </fieldset>
      
      <fieldset class="field-group">
        <h2 class="field-group-heading">Your Income</h2>
        
        <table class="field-table" width="100%">
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>

      </fieldset>
    </div>
  </body>
</html>