{% extends "cla_provider/case.html" %}{% load i18n widget_tweaks %}

{% block case_content %}
  <div class="FormBlock FormBlock--yellow">
    <form method="post" action=".">
      {% csrf_token %}

      <div class="FormRow">
        <label for="{{ form.notes.id_for_label }}" id="{{ form.notes.auto_id }}-label" class="visuallyhidden">{{ form.notes.label }}</label>
          {% for error in form.notes.errors %}
            <span class="Error-message">{{ error }}</span>
          {% endfor %}
        {{ form.notes|attr:"rows:6"|attr:"cols:20"|add_class:"FormRow-field--full" }}
      </div>

      <div class="FormRow cf{% if form.event_code.errors %} Error{% endif %}">
        <label for="{{ form.event_code.id_for_label }}" id="{{ form.event_code.auto_id }}-label">
          <span class="FormRow-label">
            {{ form.event_code.label }}
            {% for error in form.event_code.errors %}
              <span class="Error-message">{{ error }}</span>
            {% endfor %}
          </span>
          {{ form.event_code|add_class:"FormRow-field--l" }}
        </label>
      </div>

      <button type="submit" class="Button">{% trans "Close case" %}</button>
      <a href="{% url zone.name|add:':edit_case' case.reference %}">{% trans "Cancel" %}</a>
    </form>
  </div>
{% endblock %}
