<nav class="Pagination" ng-if="pages.length > 1">
  <p class="Pagination-prefix">Page</p>

  <ul class="Pagination-list cf" ng-if="1 < pages.length">
    <li ng-if="boundaryLinks" ng-class="{'is-disabled': pagination.current == 1}" class="Pagination-item">
      <a href="" ng-click="setCurrent(1)">|&lsaquo; First</a>
    </li>

    <li ng-if="directionLinks && pagination.current != 1" ng-class="{'is-disabled': pagination.current == 1}" class="Pagination-item">
      <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">&lsaquo;<span class="visuallyhidden"> Prev</span></a>
    </li>
    <li ng-repeat="pageNumber in pages track by $index" ng-class="{'is-current': pagination.current == pageNumber, 'is-disabled': pageNumber == '...'}" class="Pagination-item Pagination-item--num">
      <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>
    <li ng-if="directionLinks && pagination.current != pagination.last" ng-class="{'is-disabled': pagination.current == pagination.last}" class="Pagination-item">
      <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding"><span class="visuallyhidden">Next </span>&rsaquo;</a>
    </li>

    <li ng-if="boundaryLinks"  ng-class="{'is-disabled': pagination.current == pagination.last}" class="Pagination-item">
      <a href="" ng-click="setCurrent(pagination.last)">Last &rsaquo;|</a>
    </li>
  </ul>
</nav>
