{% extends app_base_template %}{% load humanize helpers i18n case_tags %}

{% block body_classes %}{{ product_type }} {{ phase }} v-Dashboard{% endblock %}

{% block full_content %}
  {% with query=request.GET.q %}
    {% if query %}
      <nav class="SubNav">
        <a href="{% url zone.name|add:':dashboard' %}" class="SubNav-link SubNav-link--back">{% trans "Back to all cases" %}</a>
      </nav>
    {% endif %}

    <header class="PageHeader cf{% if not query %} PageHeader--wo-search{% endif %}">
      <h1 class="u-pullLeft">
        {% if query %}
          {% trans "Results" %} "{{ query }}"
        {% else %}
          {% trans "Cases" %}
        {% endif %}
      </h1>
      {% block actions %}{% endblock %}
    </header>
  {% endwith %}

  <table class="CaseList" cellpadding="0" cellspacing="0" border="0" width="100%">
    <thead>
      <tr>
        <th><span class="visuallyhidden">{% trans "Reference" %}</span></th>
        <th>{% trans "Name" %}</th>
        <th><a href="?sort=created" class="u-sortDesc">{% trans "Created" %}</a></th>
        <th><a href="?sort=modified">{% trans "Modified" %}</th>
        <th><span class="visuallyhidden">{% trans "Onwer" %}</span></th>
      </tr>
    </thead>
    <tbody>
    {% for case in cases %}
      <tr{% if case|is_case_in_review %} class="is-new"{% endif %}>
        <td><a href="{% url zone.name|add:':edit_case' case.reference %}">{{ case.reference}}</a> / {{ case.laa_reference }}</td>
        <td>{{ case.personal_details.full_name }}</td>
        <td>{{ case.created|as_date|naturaltime }}</td>
        <td>{{ case.modified|as_date|naturaltime }}</td>
        <td>{{ case.locked_by|default:"-" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
