{% extends app_base_template %}{% load humanize i18n static %}

{% block body_attrs %} ng-class="{'v-Dashboard': $state.includes('case_list') || $state.includes('feedback_list') || $state.includes('historic_list') || $state.includes('user_list'), 'v-Case': $state.includes('case_detail') || $state.includes('historic_case_detail'), 'v-AlternativeHelp': $state.includes('case_detail.alternative_help')}"{% endblock %}

{% block html_attrs %}{% block ng_app %}{% endblock ng_app %} ng-csp{% endblock %}

{% block user_details %}{% verbatim %}
{{ ::user.username }}
{% endverbatim %}{% endblock user_details %}


{% block messages %}{% verbatim %}
<div class="NoticeContainer--fixed" sticky>
  <div class="Notice warning ng-cloak" ng-if="multipleTabsOpen > 1">You currently have <strong>{{ ::multipleTabsOpen }} tabs open</strong>.</div>

  <flash-messages></flash-messages>
</div>
{% endverbatim %}{% endblock messages %}


{% block timer %}
<timer start-button="true" class="Timer--inline"></timer>
<call-script-toggle />
{% endblock timer %}


{% block search %}{% verbatim %}
<form id="search" class="CaseSearch"  role="search" ng-controller="SearchCtrl" ng-submit="submit()">
  <div class="CaseSearch-inner cf">
    <input type="text" name="q" id="case-search" title="Search" class="CaseSearch-query" ng-model="::search" autocomplete="off" placeholder="Search cases">
    <input class="CaseSearch-submit" type="submit" value="Search" name="case-search-submit">
  </div>
</form>
{% endverbatim %}{% endblock %}


{% block full_content %}
  <div ui-view></div>
{% endblock %}
