{% load i18n means_summary_tags helpers %}
{% if eligibility_check  %}{% get_means_summary eligibility_check as sections %}
  <p class="u-mute">{% trans "Means test completed by user on " %} {{ case.created_at|as_date|date:"d M Y H:i" }}</p>

  {% for section in sections %}
    <section class="SummaryBlock">
      <h2 class="SummaryBlock-heading visuallyhidden">{{section.header}}</h2>
      <ul class="SummaryBlock-list">

      {% for item in section.items %}
        <li>{{item|safe}}</li>
      {% endfor %}
      </ul>
    </section>
  {% endfor %}

  {% if eligibility_check.notes %}
  <section class="SummaryBlock CommentBlock">
    <figure class="SummaryBlock-list">
      <div class="IconRow IconRow--name">
        <figcaption>{{ case.created_at|as_date|date:"d M Y H:i" }} - {{ case.personal_details.full_name }} {% trans "wrote" %}:</figcaption>
        <blockquote class="Quote">{{ eligibility_check.notes|linebreaksbr }}</blockquote>
      </div>
    </figure>
  </section>
  {% endif %}
{% endif %}
