apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cla-frontend.fullname" . }}-app
  labels:
    {{- include "cla-frontend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "cla-frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "cla-frontend.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "cla-frontend.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            exec:
              command:
                - test
                - -f
                - /tmp/listen_queue_healthy
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sleep","30"]
          env:
            {{ include "cla-frontend.app.vars" . | nindent 12 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cla-frontend.fullname" . }}-sso
  labels:
    {{- include "cla-frontend.ssoLabels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "cla-frontend.ssoSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "cla-frontend.ssoSelectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "cla-frontend.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}-sso
          image: "{{ .Values.image.repository }}:sso"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            {{ include "cla-frontend.app.vars" . | nindent 12 }}
