apiVersion: v1
kind: Service
metadata:
  name: {{ include "cla-frontend.fullname" . }}-app
  labels:
    {{- include "cla-frontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "cla-frontend.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cla-frontend.fullname" . }}-sso
  labels:
    {{- include "cla-frontend.ssoLabels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "cla-frontend.ssoSelectorLabels" . | nindent 4 }}
