{% extends "call_centre/case.html" %}{% load i18n widget_tweaks %}

{% block case_content %}

    <form method="post" action=".">
  		<div class="FormBlock FormBlock--yellow">
      {% csrf_token %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="Error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}

    	<label>
        	<span class="radio">{{ radio.tag }}</span>
        	{{ radio.choice_label }}
    	</label>
    	
 		{% if forloop.first %}
	  	</div>
	  	&nbsp;
  	  	<div class="FormBlock FormBlock--yellow">
  	  	<h2>Manually Assign Provider</h2>
	  	{% endif %}
    	
    	
	{% endfor %}
		
		{{ form.suggested_provider }}

      <button type="submit" class="Button">{% trans "Assign Provider" %}</button>
      <a href="{% url zone.name|add:':edit_case' case.reference %}">{% trans "Cancel" %}</a>


      <p>
        <a href="{% url zone.name|add:':decline_specialists' case.reference %}">{% trans "Decline all specialists" %}</a>
        <a href="{% url zone.name|add:':defer_assignment' case.reference %}">{% trans "Defer assignment" %}</a>
      </p>
    </form>
  </div>
{% endblock %}
