{% extends "call_centre/case.html" %}{% load i18n widget_tweaks %}

{% block case_content %}
  <div class="FormBlock FormBlock--yellow">
    <form method="post" action=".">
      {% csrf_token %}
      
      <div class="FormRow cf{% if form.provider.errors %} Error{% endif %}">
        <label for="{{ form.provider.id_for_label }}" id="{{ form.provider.auto_id }}-label">
          <span class="FormRow-label">
            {{ form.provider.label }}
            {% for error in form.provider.errors %}
              <span class="Error-message">{{ error }}</span>
            {% endfor %}
          </span>
          {{ form.provider|add_class:"FormRow-field--l" }}
        </label>
      </div>

      <button type="submit" class="Button">{% trans "Assign case" %}</button>
      <a href="{% url zone.name|add:':edit_case' case.reference %}">{% trans "Cancel" %}</a>
    </form>
  </div>
{% endblock %}