{% extends "call_centre/case.html" %}{% load i18n widget_tweaks %}

{% block case_content %}
  <div class="FormBlock FormBlock--yellow">
    <form method="post" action=".">
      {% csrf_token %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="Error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}

      <button type="submit" class="Button">{% trans "Assign case" %}</button>
      <a href="{% url zone.name|add:':edit_case' case.reference %}">{% trans "Cancel" %}</a>


      <p>
        <a href="{% url zone.name|add:':decline_specialists' case.reference %}">{% trans "Decline all specialists" %}</a>
        <a href="{% url zone.name|add:':defer_assignment' case.reference %}">{% trans "Defer assignment" %}</a>
      </p>
    </form>
  </div>
{% endblock %}
