{% extends app_base_template %}{% load humanize i18n static %}

{% block html_attrs %}ng-app="cla.app" ng-csp{% endblock %}

{% block body_attrs %}ng-class="{'v-Dashboard': $state.includes('case_list'), 'v-Case': $state.includes('case_detail')}"{% endblock %}


{% block messages %}
<flash-messages></flash-messages>
{% endblock messages %}


{% block timer %}
<timer></timer>
{% endblock timer %}


{% block search %}{% verbatim %}
<form id="search" class="CaseSearch"  role="search" ng-controller="SearchCtrl" ng-submit="submit()">
  <div class="CaseSearch-inner cf">
    <label for="case-search" class="CaseSearch-label">Search</label>
    <input type="text" name="q" id="case-search" title="Search" class="CaseSearch-query js-LabelPlaceholder" ng-model="search" autocomplete="off">
    <input class="CaseSearch-submit" type="submit" value="Search">
  </div>
</form>
{% endverbatim %}{% endblock %}


{% block full_content %}
  <div ui-view></div>
{% endblock %}
