{% extends "call_centre/base.html" %}{% load humanize helpers %}


{% block left_content %}
    <a href="{% url 'call_centre:dashboard' %}">Back to cases</a>
{% endblock %}


{% block middle_content %}
{% comment %}
    <ul>
        <li><a href="{% url 'call_centre:close_case' case.reference %}">Close Case</a></li>
        <li><a href="{% url 'call_centre:assign_case' case.reference %}">Assign Case</a></li>
    </ul>
{% endcomment %}

    <h1>Edit case: {{ case_reference }}</h1>
    <h2>State: {{ case.state }}</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {% for k, subform in form.form_dict.items %}
            {{ subform.as_p }}
        {% endfor %}
    <input type="submit" value="submit">
    </form>
{% endblock %}


{% block right_content %}
{% comment %}
    <section>
        <h4>Unlock Case</h4>
        <form method="post" action="{% url 'call_centre:unlock_case' case_reference=case_reference %}">
            {% csrf_token %}
            {{ unlock_form.as_p }}
            <input type="submit" value="unlock">
        </form>
    </section>

    {% if case.caseoutcome_set %}
    <section>
        <h4>Case History</h4>
        <ul>
        {% for outcome in case.caseoutcome_set %}
            <li>
                {{ outcome.created|as_date|naturaltime }}<br />
                {% if outcome.notes %}
                    {{ outcome.notes }}<br />
                {% endif %}
                ({{ outcome.created_by }})<br />
                {{ outcome.outcome_code }}<br />
            </li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
{% endcomment %}
{% endblock %}
