{% extends "call_centre/base.html" %}{% load humanize helpers %}

{% block middle_content %}

    <h1>Edit case: {{ case_reference }}</h1>
    <h2>State: {{ case.state }}</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {% for k, subform in form.form_dict.items %}
            {{ subform.as_p }}
        {% endfor %}
    <input type="submit" value="submit">
    </form>
    <hr>
    <h3>Actions:</h3>

    <h4>Assign to Provider</h4>
    <form method="post" action="{% url 'call_centre:assign_case' case_reference=case_reference %}">
        {% csrf_token %}
        {{ assign_form.as_p }}
        <input type="submit" value="assign">
    </form>

    <h4>Close Case</h4>
    <form method="post" action="{% url 'call_centre:close_case' case_reference=case_reference %}">
        {% csrf_token %}
        {{ close_form.as_p }}
        <input type="submit" value="close">
    </form>

    <h4>Unlock Case</h4>
    <form method="post" action="{% url 'call_centre:unlock_case' case_reference=case_reference %}">
        {% csrf_token %}
        {{ unlock_form.as_p }}
        <input type="submit" value="unlock">
    </form>
{% endblock %}


{% block right_content %}
    {% if case.caseoutcome_set %}
    <ul>
    {% for outcome in case.caseoutcome_set %}
        <li>
            {{ outcome.created|as_date|naturaltime }}<br />
            {% if outcome.notes %}
                {{ outcome.notes }}<br />
            {% endif %}
            ({{ outcome.created_by }})<br />
            {{ outcome.outcome_code }}<br />
        </li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
