{% extends "call_centre/base.html" %}{% load i18n humanize helpers widget_tweaks %}

{% block body_classes %}{{ product_type }} {{ phase }} v-Case{% endblock %}

{% block left_content %}
  <nav class="SubNav">
    <a href="{% url 'call_centre:dashboard' %}" class="SubNav-link SubNav-link--back">{% trans "Back to cases" %}</a>
  </nav>

  <iframe src="{% url 'call_centre:edit_case_personal_details' case.reference %}" frameBorder="0"></iframe>

  <nav>
    <ol class="ProgressIndicator" role="progressbar" aria-valuetext="Step 1 of 4">
      <li class="ProgressIndicator-step is-complete"><a href="" class="ProgressIndicator-tick">Your problem</a></li>
      <li class="ProgressIndicator-step is-active">Your details</li>
      <li class="ProgressIndicator-step">Your finances</li>
      <li class="ProgressIndicator-step">Result</li>      
    </ol>
  </nav>
{% endblock %}

{% block middle_content %}
  <header class="PageHeader cf">
    <h1 class="u-pullLeft">{{ case_reference }} (State: {{ case.state }})</h1>
    <a href="{% url 'call_centre:close_case' case.reference %}" class="Button Button--secondary u-pullRight">Close case</a>
    <a href="{% url 'call_centre:assign_case' case.reference %}" class="Button Button--secondary u-pullRight">Assign case</a>
  </header>
  <form method="post" action=".">
    {% csrf_token %}

    {% with form=form.form_dict.eligibility_check %}
    <div class="FormRow">
      {{ form.notes|attr:"rows:11"|attr:"cols:20"|attr:"placeholder:Comments about this case " }}
    </div>
    <div class="FormRow cf">
      <label for="{{ form.category.id_for_label }}" id="{{ form.category.auto_id }}-label">
        <span class="FormRow-label">{{ form.category.label }}</span>
        {% for error in form.category.errors %}
          <span class="Error-message">{{ error }}</span>
        {% endfor %}
        {{ form.category }}
      </label>
    </div>
    <div class="FormRow cf">
      <label for="{{ form.state.id_for_label }}" id="{{ form.state.auto_id }}-label">
        <span class="FormRow-label">{{ form.state.label }}</span>
        {% for error in form.state.errors %}
          <span class="Error-message">{{ error }}</span>
        {% endfor %}
        {{ form.state }}
      </label>
    </div>
    <div>
      <button type="submit" class="Button">Save case details</button>
    </div>
    {% endwith %}
  </form>
{% endblock %}

{% block right_content %}
  <div class="Timer cf">
    <span class="Timer-current u-pullLeft js-Stopwatch">00:00:00</span>
    <span class="Timer-total u-pullRight"><span class="js-Stopwatch" data-start-time="486">00:08:06</span> total</span>
  </div>
  
  {% if case.caseoutcome_set %}
  <ul class="CaseHistory">
    {% for outcome in case.caseoutcome_set %}
    <li class="CaseHistory-item">
      {{ outcome.created|as_date }}<br>
      {% if outcome.notes %}
        {{ outcome.notes }}<br>
      {% endif %}
      ({{ outcome.created_by }})<br>
      <span class="CaseHistory-label">{{ outcome.outcome_code }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <section>
    <form method="post" action="{% url 'call_centre:unlock_case' case_reference=case_reference %}">
      {% csrf_token %}

      {% for field in unlock_form %}
      <div class="FormRow cf">
        <label for="{{ field.id_for_label }}" id="{{ field.auto_id }}-label">
          <span class="FormRow-label">{{ field.label }}</span>
          {% for error in field.errors %}
            <span class="Error-message">{{ error }}</span>
          {% endfor %}
          {{ field }}
        </label>
      </div>
      {% endfor %}

      <div>
        <button type="submit" class="Button">Unlock case</button>
      </div>
    </form>
  </section>
{% endblock %}
